workflows/ultralab-module.json
{
  "name": "ultralab-module",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ultralab-module",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-mod-001",
      "name": "Module Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ],
      "webhookId": "ultralab-module"
    },
    {
      "parameters": {
        "jsCode": "// === DISPATCH: prepare les articles + dossier de sortie unique ===\nconst input = $input.first().json;\nconst body = input.body || input;\nconst mode = body.mode || 'screening';\nconst articles = body.articles || [];\nconst question = body.question || '';\nconst criteria = body.criteria || '';\nconst extractFields = body.extract_fields || null;\n\nconsole.log('Module: ' + mode + ' avec ' + articles.length + ' articles');\n\nif (articles.length === 0) {\n  return [{ json: { error: 'Aucun article fourni', mode } }];\n}\n\n// Generer un dossier de sortie unique : /desktop/ultralab-module-<mode>-<YYYYMMDD-HHMM>/\nconst now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst timestamp = now.getFullYear() + pad(now.getMonth()+1) + pad(now.getDate()) + '-' + pad(now.getHours()) + pad(now.getMinutes());\nconst folderName = 'ultralab-module-' + mode + '-' + timestamp;\n// D.8 custom output_folder : si l'user a choisi un dossier custom via UI, on l'utilise.\n// Sinon default : /desktop/ultralab-module-<mode>-<timestamp>/\nconst userOutputFolder = (body.output_folder && typeof body.output_folder === 'string') ? body.output_folder.trim().replace(/\\/+$/, '') : '';\nlet outputFolder;\nif (userOutputFolder && userOutputFolder.startsWith('/desktop')) {\n  // Path Docker valide (commence par /desktop) -> on append le sub-folder mode-timestamp\n  outputFolder = userOutputFolder + '/' + folderName;\n} else {\n  outputFolder = '/desktop/' + folderName;\n}\nconsole.log('Dossier de sortie : ' + outputFolder);\n\n// Enrichir le premier article avec question/criteres + output_folder partout\nconst enriched = articles.map((a, i) => {\n  const article = { ...a, output_folder: outputFolder, _module_mode: mode, _folder_name: folderName };\n  if (i === 0) {\n    article.question = question;\n    article.criteria = criteria;\n    article.prefilter_enabled = false;\n    if (extractFields) article.extract_fields = extractFields;\n    // Skip flags : on saute les autres etapes (juste le module demande)\n    article.skip_ranking = mode !== 'ranking';\n    article.skip_clustering = mode !== 'clustering';\n    article.skip_screening = mode !== 'screening';\n    article.skip_pdf = mode !== 'pdf-fetch';\n  }\n  // Pour le PDF fetch, marquer tous comme Include si pas de screening_decision\n  if (mode === 'pdf-fetch' && !article.screening_decision) {\n    article.screening_decision = 'Include';\n  }\n  return { json: article };\n});\n\nreturn enriched;",
        "mode": "runOnceForAllItems"
      },
      "id": "dp-mod-001",
      "name": "Prepare Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-screening",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "screening",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-scr",
      "name": "Is Screening?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ranking",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "ranking",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-rnk",
      "name": "Is Ranking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-clustering",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "clustering",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-clu",
      "name": "Is Clustering?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "KGL9l8LCxrnYBFtW"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-scr",
      "name": "Run Screening",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        -280
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "2GS2AJwrY2iSuEXZ"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-rnk",
      "name": "Run Ranking",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        -80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "RXr97zqwUBSIMwY9"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-clu",
      "name": "Run Clustering",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-pdffetch",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "pdf-fetch",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-pdf",
      "name": "Is PDF Fetch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "iHVBghWXos2uM1IF"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-pdf",
      "name": "Run PDF Fetch",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-extraction",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "extraction",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-ext",
      "name": "Is Extraction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        600
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "PDFExtractWFid001"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-ext",
      "name": "Run Extraction",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-dedup",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "deduplicate",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-dedup",
      "name": "Is Deduplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        800
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "AxHfdqd893kaPzlz"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-dedup",
      "name": "Run Deduplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// === ASSEMBLE + EXPORT MODULE RESULTS ===\nconst XLSX = require('xlsx');\nconst PROXY = 'http://host.docker.internal:3456';\nconst items = $input.all();\nconst articles = items.map(i => i.json);\nconst mode = (articles[0] && articles[0]._module_mode) || 'unknown';\nconst outputFolder = (articles[0] && articles[0].output_folder) || '/desktop/ultralab-module-output';\nconst folderName = (articles[0] && articles[0]._folder_name) || 'ultralab-module-output';\n\nlet stats = { total: articles.length };\n\n// === STATS PAR MODULE ===\nif (mode === 'screening') {\n  stats.include = articles.filter(a => a.screening_decision === 'Include').length;\n  stats.maybe = articles.filter(a => a.screening_decision === 'Maybe').length;\n  stats.exclude = articles.filter(a => a.screening_decision === 'Exclude').length;\n} else if (mode === 'ranking') {\n  const scores = articles.map(a => a.score || 0);\n  stats.avg_score = scores.length > 0 ? Math.round(scores.reduce((a,b) => a+b, 0) / scores.length) : 0;\n  stats.high_score = scores.filter(s => s >= 70).length;\n  stats.med_score = scores.filter(s => s >= 40 && s < 70).length;\n  stats.low_score = scores.filter(s => s < 40).length;\n} else if (mode === 'clustering') {\n  const labels = new Set(articles.map(a => a.cluster_label).filter(Boolean));\n  stats.clusters = labels.size;\n  stats.cluster_list = [...labels];\n} else if (mode === 'pdf-fetch') {\n  stats.downloaded = articles.filter(a => a.pdf_local).length;\n  stats.failed = articles.filter(a => a.pdf_url && !a.pdf_local).length;\n  stats.no_doi = articles.filter(a => !a.doi).length;\n} else if (mode === 'extraction') {\n  stats.extracted_ok = articles.filter(a => a._extract_status === 'ok').length;\n  stats.extracted_failed = articles.filter(a => a._extract_status && a._extract_status !== 'ok').length;\n  stats.with_pdf = articles.filter(a => a._extract_source && a._extract_source.indexOf('PDF') === 0).length;\n  stats.abstract_only = articles.filter(a => a._extract_source && a._extract_source.indexOf('abstract') === 0).length;\n} else if (mode === 'deduplicate') {\n  stats.before = (articles[0] && articles[0]._total_before_dedup) || articles.length;\n  stats.after = articles.length;\n  stats.duplicates_removed = (articles[0] && articles[0]._duplicates_removed) || 0;\n  stats.dedup_rate_pct = stats.before > 0 ? Math.round(stats.duplicates_removed / stats.before * 100) : 0;\n}\n\n// === GENERER LE FICHIER RIS ===\nfunction buildRIS(articles, mode) {\n  let ris = '';\n  for (const a of articles) {\n    const title = (a.title || '').replace(/\\n/g, ' ');\n    const authors = Array.isArray(a.authors) ? a.authors : [];\n    ris += 'TY  - JOUR\\n';\n    ris += 'TI  - ' + title + '\\n';\n    authors.forEach(au => { ris += 'AU  - ' + au + '\\n'; });\n    if (a.year) ris += 'PY  - ' + a.year + '\\n';\n    if (a.journal) ris += 'JO  - ' + (a.journal || '').replace(/\\n/g, ' ') + '\\n';\n    if (a.doi) ris += 'DO  - ' + a.doi + '\\n';\n    if (a.abstract) ris += 'AB  - ' + (a.abstract || '').replace(/\\n/g, ' ').substring(0, 2000) + '\\n';\n    // Annotations selon le mode\n    if (mode === 'screening' && a.screening_decision) {\n      ris += 'N1  - screening:' + a.screening_decision + (a.screening_reason ? ' - ' + a.screening_reason : '') + '\\n';\n    }\n    if (mode === 'ranking' && a.score !== undefined) {\n      ris += 'N1  - relevance_score:' + a.score + (a.score_reason ? ' - ' + a.score_reason : '') + '\\n';\n    }\n    if (mode === 'clustering' && a.cluster_label) {\n      ris += 'N1  - cluster:' + a.cluster_label + '\\n';\n    }\n    if (mode === 'extraction' && a._extracted) {\n      for (const k of Object.keys(a._extracted)) {\n        const v = String(a._extracted[k] || '').replace(/\\n/g, ' ').substring(0, 500);\n        if (v) ris += 'N1  - ' + k + ':' + v + '\\n';\n      }\n    }\n    if (a.url || a.pdf_url) ris += 'UR  - ' + (a.pdf_url || a.url) + '\\n';\n    ris += 'ER  - \\n\\n';\n  }\n  return ris;\n}\n\n// === GENERER L'EXCEL ADAPTE AU MODULE ===\nfunction buildXLSX(articles, mode) {\n  // === HARDENING XLSX : tronque cellules a 32700 chars max + retire chars de controle ===\n  // xlsx (SheetJS) plante avec \"Text length must not exceed 32767 characters\" sur tout\n  // contenu trop long. Limite officielle Excel. On tronque defensivement a 32700.\n  // Egalement : Excel n'accepte pas certains caracteres de controle (< 0x20 sauf \\t \\n \\r).\n  function safeCell(v) {\n    if (v === null || v === undefined) return '';\n    if (typeof v === 'number' || typeof v === 'boolean') return v;\n    let s = (typeof v === 'string') ? v : (typeof v === 'object' ? JSON.stringify(v) : String(v));\n    // Retire caracteres de controle (sauf tab, LF, CR)\n    s = s.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ' ');\n    if (s.length > 32700) {\n      s = s.substring(0, 32700) + ' [tronque a 32700 chars]';\n    }\n    return s;\n  }\n\n  const wb = XLSX.utils.book_new();\n  let headers, rows;\n\n  if (mode === 'screening') {\n    headers = ['Titre', 'Auteurs', 'Annee', 'Journal', 'DOI', 'Decision', 'Justification', 'Abstract'];\n    const order = { 'Include': 0, 'Maybe': 1, 'Exclude': 2 };\n    const sorted = [...articles].sort((a,b) => (order[a.screening_decision]||1) - (order[b.screening_decision]||1));\n    rows = sorted.map(a => [a.title||'', (a.authors||[]).join('; '), a.year||'', a.journal||'', a.doi||'', a.screening_decision||'Maybe', a.screening_reason||'', (a.abstract||'').substring(0,1000)]);\n  } else if (mode === 'ranking') {\n    headers = ['Score', 'Titre', 'Auteurs', 'Annee', 'Journal', 'DOI', 'Topic', 'Population', 'Methodology', 'Context', 'Justification', 'Abstract'];\n    const sorted = [...articles].sort((a,b) => (b.score||0) - (a.score||0));\n    rows = sorted.map(a => {\n      const bd = a.score_breakdown || {};\n      return [a.score||0, a.title||'', (a.authors||[]).join('; '), a.year||'', a.journal||'', a.doi||'', bd.topic||'', bd.population||'', bd.methodology||'', bd.context||'', a.score_reason||'', (a.abstract||'').substring(0,1000)];\n    });\n  } else if (mode === 'clustering') {\n    headers = ['Cluster', 'Titre', 'Auteurs', 'Annee', 'Journal', 'DOI', 'Abstract'];\n    const sorted = [...articles].sort((a,b) => (a.cluster_label||'').localeCompare(b.cluster_label||''));\n    rows = sorted.map(a => [a.cluster_label||'Unclustered', a.title||'', (a.authors||[]).join('; '), a.year||'', a.journal||'', a.doi||'', (a.abstract||'').substring(0,1000)]);\n  } else if (mode === 'pdf-fetch') {\n    headers = ['Titre', 'Auteurs', 'Annee', 'DOI', 'PDF telecharge', 'Source PDF', 'Chemin local', 'URL'];\n    rows = articles.map(a => [a.title||'', (a.authors||[]).join('; '), a.year||'', a.doi||'', a.pdf_local ? 'Oui' : 'Non', a.pdf_source||'', a.pdf_local||'', a.pdf_url||a.url||'']);\n  } else if (mode === 'extraction') {\n    // Recuperer dynamiquement les champs extraits du premier article\n    const extractedKeys = new Set();\n    articles.forEach(a => { if (a._extracted) Object.keys(a._extracted).forEach(k => extractedKeys.add(k)); });\n    const fieldNames = [...extractedKeys];\n    headers = ['Titre', 'Auteurs', 'Annee', 'DOI', 'Source extraction', 'Statut'].concat(fieldNames);\n    rows = articles.map(a => {\n      const ext = a._extracted || {};\n      return [a.title||'', (a.authors||[]).join('; '), a.year||'', a.doi||'', a._extract_source||'', a._extract_status||'']\n        .concat(fieldNames.map(f => ext[f] !== undefined ? String(ext[f]) : ''));\n    });\n  } else if (mode === 'deduplicate') {\n    headers = ['Titre', 'Auteurs', 'Annee', 'Journal', 'DOI', 'Source', 'Cle dedup'];\n    rows = articles.map(a => [a.title||'', (a.authors||[]).join('; '), a.year||'', a.journal||'', a.doi||'', a.source||'', a._deduplication_key||'']);\n  } else {\n    headers = ['Titre', 'Auteurs', 'Annee', 'DOI'];\n    rows = articles.map(a => [a.title||'', (a.authors||[]).join('; '), a.year||'', a.doi||'']);\n  }\n\n  // Hardening : applique safeCell sur chaque cellule (anti crash xlsx 32767 chars)\n  rows = rows.map(r => Array.isArray(r) ? r.map(safeCell) : r);\n  headers = headers.map(safeCell);\n  const wsData = [headers, ...rows];\n  const ws = XLSX.utils.aoa_to_sheet(wsData);\n  ws['!cols'] = headers.map(h => ({ wch: h.length < 8 ? 12 : (h === 'Titre' ? 50 : (h === 'Abstract' ? 60 : 25)) }));\n  ws['!autofilter'] = { ref: XLSX.utils.encode_range({ s: { r: 0, c: 0 }, e: { r: wsData.length - 1, c: headers.length - 1 } }) };\n\n  // Couleurs pour la colonne Decision (screening)\n  if (mode === 'screening') {\n    for (let r = 1; r < wsData.length; r++) {\n      const cell = ws[XLSX.utils.encode_cell({ r, c: 5 })];\n      if (cell) {\n        const d = wsData[r][5];\n        const bg = d === 'Include' ? '00B050' : (d === 'Exclude' ? 'FF0000' : 'FFA500');\n        cell.s = { fill: { fgColor: { rgb: bg } }, font: { color: { rgb: 'FFFFFF' }, bold: true } };\n      }\n    }\n  }\n  // Style header\n  for (let c = 0; c < headers.length; c++) {\n    const cell = ws[XLSX.utils.encode_cell({ r: 0, c })];\n    if (cell) cell.s = { fill: { fgColor: { rgb: '4472C4' } }, font: { color: { rgb: 'FFFFFF' }, bold: true } };\n  }\n\n  XLSX.utils.book_append_sheet(wb, ws, 'Resultats');\n\n  // Sheet stats\n  const statsRows = [['Statistiques module ' + mode], [], ['Total articles', articles.length]];\n  for (const k of Object.keys(stats)) {\n    if (k !== 'total' && k !== 'cluster_list') statsRows.push([k, stats[k]]);\n  }\n  const wsS = XLSX.utils.aoa_to_sheet(statsRows);\n  wsS['!cols'] = [{ wch: 30 }, { wch: 15 }];\n  XLSX.utils.book_append_sheet(wb, wsS, 'Statistiques');\n  // D.6 phase 2 : feuille \"Doublons\" pour mode deduplicate\n  if (mode === 'deduplicate') {\n    const firstArt = articles[0] || {};\n    const dedupReport = firstArt._dedup_report || null;\n    if (dedupReport && Array.isArray(dedupReport.duplicates_detail) && dedupReport.duplicates_detail.length > 0) {\n      const dupHeaders = ['Strategie', 'Confidence', 'Titre doublon', 'Titre master', 'Cle de match'];\n      const dupRows = dedupReport.duplicates_detail.map(d => [\n        d.strategy || '',\n        d.confidence || '',\n        d.duplicate_title || '',\n        d.master_title || '',\n        d.key_excerpt || ''\n      ]);\n      const dupData = [dupHeaders, ...dupRows].map(r => Array.isArray(r) ? r.map(safeCell) : r);\n      const wsD = XLSX.utils.aoa_to_sheet(dupData);\n      wsD['!cols'] = [{ wch: 18 }, { wch: 12 }, { wch: 50 }, { wch: 50 }, { wch: 30 }];\n      if (dupData.length > 1) {\n        wsD['!autofilter'] = { ref: XLSX.utils.encode_range({ s: { r: 0, c: 0 }, e: { r: dupData.length - 1, c: dupHeaders.length - 1 } }) };\n      }\n      XLSX.utils.book_append_sheet(wb, wsD, 'Doublons');\n    }\n  }\n  \n\n  return Buffer.from(XLSX.write(wb, { type: 'buffer', bookType: 'xlsx' })).toString('base64');\n}\n\n// === ECRIRE LES FICHIERS VIA LE PROXY ===\nasync function saveFile(savePath, content, isBase64) {\n  try {\n    const body = isBase64 ? { save_to: savePath, content_base64: content } : { save_to: savePath, content };\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: PROXY + '/save',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify(body),\n      timeout: 60000\n    });\n    return resp && resp.success;\n  } catch (e) {\n    console.log('Save error: ' + e.message);\n    return false;\n  }\n}\n\n// === D.6 phase 2 : Generer le fichier .nbib (format MEDLINE) des articles uniques ===\nfunction buildNbib(articles) {\n  function fmt(tag, value) {\n    if (!value && value !== 0) return '';\n    const v = String(value).replace(/\\r/g, '').replace(/\\n/g, ' ').trim();\n    if (!v) return '';\n    return tag.padEnd(4) + '- ' + v + '\\n';\n  }\n  function toEntry(a) {\n    let out = '';\n    if (a.pmid) out += fmt('PMID', a.pmid);\n    out += fmt('OWN', 'NLM');\n    out += fmt('STAT', 'MEDLINE');\n    out += fmt('PT', 'Journal Article');\n    out += fmt('TI', a.title);\n    if (Array.isArray(a.authors)) {\n      for (const au of a.authors) {\n        if (!au) continue;\n        out += fmt('FAU', au);\n        const parts = au.trim().split(/\\s+/);\n        if (parts.length >= 2) {\n          const last = parts[parts.length - 1];\n          const initials = parts.slice(0, -1).map(p => p.charAt(0).toUpperCase()).join('');\n          out += fmt('AU', last + ' ' + initials);\n        } else {\n          out += fmt('AU', au);\n        }\n      }\n    }\n    if (a.journal) { out += fmt('JT', a.journal); out += fmt('TA', a.journal); }\n    if (a.volume) out += fmt('VI', a.volume);\n    if (a.issue) out += fmt('IP', a.issue);\n    if (a.pages) out += fmt('PG', a.pages);\n    if (a.year) out += fmt('DP', a.year);\n    if (a.abstract) out += fmt('AB', a.abstract);\n    if (a.doi) {\n      out += fmt('AID', a.doi + ' [doi]');\n      out += fmt('LID', a.doi + ' [doi]');\n    }\n    if (a._source) out += fmt('SO', '[source:' + a._source + ']');\n    return out + '\\n';\n  }\n  return articles.map(toEntry).join('');\n}\n\n// === GENERER RAPPORT MARKDOWN LISIBLE ===\nfunction buildReport(articles, mode, stats, folderName) {\n  const now = new Date().toLocaleString('fr-FR');\n  let r = '# UltraLab - Rapport module ' + mode + '\\n\\n';\n  r += '**Date** : ' + now + '\\n';\n  r += '**Dossier** : `' + folderName + '`\\n';\n  r += '**Articles traites** : ' + articles.length + '\\n\\n';\n  r += '---\\n\\n## Statistiques\\n\\n';\n  for (const k of Object.keys(stats)) {\n    if (k === 'cluster_list') continue;\n    r += '- **' + k + '** : ' + stats[k] + '\\n';\n  }\n  r += '\\n---\\n\\n## Resume par module\\n\\n';\n\n  if (mode === 'screening') {\n    const inc = articles.filter(a => a.screening_decision === 'Include').slice(0, 10);\n    const may = articles.filter(a => a.screening_decision === 'Maybe').slice(0, 5);\n    r += '### Top 10 articles inclus\\n\\n';\n    inc.forEach((a, i) => { r += (i+1) + '. **' + (a.title || '?').substring(0, 100) + '** _(' + (a.year || 'n.d.') + ')_\\n   Raison : ' + (a.screening_reason || '').substring(0, 150) + '\\n'; });\n    r += '\\n### Top 5 \"Maybe\" a re-examiner manuellement\\n\\n';\n    may.forEach((a, i) => { r += (i+1) + '. ' + (a.title || '?').substring(0, 100) + ' - ' + (a.screening_reason || '').substring(0, 100) + '\\n'; });\n  } else if (mode === 'ranking') {\n    const top = [...articles].sort((a,b) => (b.score||0) - (a.score||0)).slice(0, 10);\n    r += '### Top 10 articles par pertinence\\n\\n';\n    top.forEach((a, i) => { r += (i+1) + '. **[' + (a.score||0) + '/100]** ' + (a.title || '?').substring(0, 100) + '\\n   ' + (a.score_reason || '').substring(0, 150) + '\\n'; });\n  } else if (mode === 'clustering') {\n    const byCluster = {};\n    articles.forEach(a => { const c = a.cluster_label || 'Unclustered'; (byCluster[c] = byCluster[c] || []).push(a); });\n    r += '### Clusters identifies\\n\\n';\n    for (const c of Object.keys(byCluster)) {\n      r += '- **' + c + '** : ' + byCluster[c].length + ' articles\\n';\n      byCluster[c].slice(0, 3).forEach(a => { r += '  - ' + (a.title || '?').substring(0, 90) + '\\n'; });\n    }\n  } else if (mode === 'pdf-fetch') {\n    const ok = articles.filter(a => a.pdf_local).slice(0, 10);\n    const ko = articles.filter(a => !a.pdf_local && !!a.doi).slice(0, 10);\n    r += '### Top 10 PDFs telecharges\\n\\n';\n    ok.forEach((a, i) => { r += (i+1) + '. ' + (a.title || '?').substring(0, 100) + ' [' + (a.pdf_source || '') + ']\\n'; });\n    r += '\\n### Top 10 echecs (DOI sans PDF)\\n\\n';\n    ko.forEach((a, i) => { r += (i+1) + '. ' + (a.title || '?').substring(0, 100) + ' - DOI : ' + a.doi + '\\n'; });\n  } else if (mode === 'extraction') {\n    const ok = articles.filter(a => a._extract_status === 'ok').slice(0, 5);\n    r += '### 5 premiers articles avec extraction reussie\\n\\n';\n    ok.forEach((a, i) => {\n      r += (i+1) + '. **' + (a.title || '?').substring(0, 100) + '**\\n';\n      const ext = a._extracted || {};\n      for (const k of Object.keys(ext).slice(0, 5)) {\n        r += '   - _' + k + '_ : ' + String(ext[k]).substring(0, 200) + '\\n';\n      }\n    });\n  } else if (mode === 'deduplicate') {\n    r += '### Statistiques de deduplication\\n\\n';\n    r += '- Articles initiaux : ' + (stats.before || 0) + '\\n';\n    r += '- Articles uniques apres dedup : ' + (stats.after || 0) + '\\n';\n    r += '- Doublons supprimes : ' + (stats.duplicates_removed || 0);\n    r += ' (taux : ' + (stats.dedup_rate_pct || 0) + '%)\\n\\n';\n\n    // D.6 phase 2 : exploite _dedup_report injecte par Dedup v2\n    const firstArt = articles[0] || {};\n    const dedupReport = firstArt._dedup_report || null;\n    if (dedupReport) {\n      r += '### Repartition par strategie de detection\\n\\n';\n      const strat = dedupReport.strategies || {};\n      r += '- DOI identique (high confidence) : ' + (strat.doi || 0) + '\\n';\n      r += '- Titre + annee + 1er auteur (medium confidence) : ' + (strat['title+year+author'] || 0) + '\\n';\n      r += '- Titre normalise seul (low confidence, a re-verifier) : ' + (strat['title-only'] || 0) + '\\n\\n';\n\n      const bySrc = dedupReport.by_source || {};\n      if (Object.keys(bySrc).length > 0) {\n        r += '### Repartition des uniques par source\\n\\n';\n        for (const k of Object.keys(bySrc)) {\n          r += '- ' + k + ' : ' + bySrc[k] + ' articles\\n';\n        }\n        r += '\\n';\n      }\n\n      const dups = dedupReport.duplicates_detail || [];\n      if (dups.length > 0) {\n        r += '### Echantillon des 10 premiers doublons detectes\\n\\n';\n        dups.slice(0, 10).forEach((d, i) => {\n          r += (i + 1) + '. **Strategie : ' + d.strategy + '** (' + d.confidence + ')\\n';\n          r += '   - Doublon : ' + (d.duplicate_title || '?').substring(0, 100) + '\\n';\n          r += '   - Master  : ' + (d.master_title || '?').substring(0, 100) + '\\n';\n          if (d.key_excerpt) r += '   - Cle    : ' + d.key_excerpt + '\\n';\n        });\n        if (dups.length > 10) r += '\\n_... et ' + (dups.length - 10) + ' autres doublons (voir Excel sheet \"Doublons\" pour la liste complete)_\\n';\n        r += '\\n';\n      }\n    }\n\n    r += '### Echantillon des 10 premiers articles uniques\\n\\n';\n    articles.slice(0, 10).forEach((a, i) => { r += (i+1) + '. ' + (a.title || '?').substring(0, 100) + '\\n'; });\n  }\n\n  r += '\\n---\\n\\n_Genere par UltraLab - https://github.com/yourrepo/ultralab_\\n';\n  return r;\n}\n\nconst risContent = buildRIS(articles, mode);\nconst xlsxBase64 = buildXLSX(articles, mode);\n// Pour mode extraction : ajouter dans le summary la 1ere reponse LLM si echec\nconst summaryObj = { mode, stats, articles_count: articles.length, generated_at: new Date().toISOString() };\nif (mode === 'extraction') {\n  const ok = articles.filter(a => a._extract_status === 'ok');\n  const failed = articles.filter(a => a._extract_status && a._extract_status !== 'ok');\n  if (failed.length > 0) {\n    const status_breakdown = {};\n    articles.forEach(a => {\n      const s = a._extract_status || 'unknown';\n      status_breakdown[s] = (status_breakdown[s] || 0) + 1;\n    });\n    const samples = failed.slice(0, 5).map(a => ({\n      title: (a.title || '').substring(0, 80),\n      doi: a.doi || '',\n      status: a._extract_status,\n      source: a._extract_source,\n      pdf_local: a.pdf_local || null,\n      llm_raw_first_500: a._debug_llm_raw || null,\n      llm_keys: a._debug_llm_keys || null\n    }));\n    const ok_samples = ok.slice(0, 2).map(a => ({\n      title: (a.title || '').substring(0, 80),\n      source: a._extract_source,\n      llm_raw_first_500: a._debug_llm_raw || null\n    }));\n    summaryObj._diagnostic = {\n      issue: ok.length === 0 ? 'AUCUNE extraction reussie' : (ok.length + ' OK / ' + failed.length + ' echecs'),\n      ok_count: ok.length,\n      failed_count: failed.length,\n      status_breakdown: status_breakdown,\n      failed_samples: samples,\n      ok_samples: ok_samples,\n      causes_probables: [\n        'parse_error : le LLM repond mais pas en JSON valide (souvent du au prompt tronque par num_ctx)',\n        'llm_error : Ollama renvoie une erreur (OOM, modele decharge, timeout)',\n        'no_response : Ollama coupe la connexion en streaming sans donner de reponse',\n        'no_text_available : ni PDF ni abstract exploitables',\n        'Pistes : augmenter num_ctx (8192), reduire la taille du prompt, ajouter format:json dans le payload Ollama'\n      ]\n    };\n  }\n}\nconst summary = JSON.stringify(summaryObj, null, 2);\nconst report = buildReport(articles, mode, stats, folderName);\n\n// D.6 phase 2 : pour mode deduplicate, generer aussi un .nbib des articles uniques\nlet nbibOk = null;\nif (mode === 'deduplicate') {\n  const nbibContent = buildNbib(articles);\n  const nbibPath = outputFolder + '/results-deduplicate.nbib';\n  nbibOk = await saveFile.call(this, nbibPath, nbibContent, false);\n  console.log('  + Fichier .nbib (articles uniques) : ' + nbibOk);\n}\nconst risPath = outputFolder + '/results-' + mode + '.ris';\nconst xlsxPath = outputFolder + '/results-' + mode + '.xlsx';\nconst summaryPath = outputFolder + '/summary.json';\nconst reportPath = outputFolder + '/report.md';\n\nconst risOk = await saveFile.call(this, risPath, risContent, false);\nconst xlsxOk = await saveFile.call(this, xlsxPath, xlsxBase64, true);\nconst sumOk = await saveFile.call(this, summaryPath, summary, false);\nconst repOk = await saveFile.call(this, reportPath, report, false);\n\nconsole.log('=== Module ' + mode + ' termine ===');\nconsole.log('Articles: ' + articles.length);\nconsole.log('Stats: ' + JSON.stringify(stats));\nconsole.log('Fichiers : RIS=' + risOk + ' XLSX=' + xlsxOk + ' summary=' + sumOk + ' report=' + repOk);\nconsole.log('Dossier  : ' + outputFolder);\n\nreturn [{ json: {\n  success: true,\n  mode,\n  stats,\n  output_folder: outputFolder,\n  folder_name: folderName,\n  files: {\n    ris: risOk ? 'results-' + mode + '.ris' : null,\n    xlsx: xlsxOk ? 'results-' + mode + '.xlsx' : null,\n    summary: sumOk ? 'summary.json' : null,\n    report: repOk ? 'report.md' : null,\n    nbib: (mode === 'deduplicate' && nbibOk) ? 'results-deduplicate.nbib' : null\n  },\n  articles_count: articles.length\n}}];",
        "mode": "runOnceForAllItems"
      },
      "id": "as-mod-001",
      "name": "Assemble Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// === RESPOND IMMEDIATELY (async webhook pattern) ===\n// Envoie une reponse rapide au browser pour qu'il puisse fermer la connexion HTTP\n// et basculer sur le polling. Le workflow continue en parallele.\nconst input = $input.first().json;\nconst body = input.body || input;\nconst mode = body.mode || 'screening';\nconst articlesCount = (body.articles || []).length;\nconst now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst timestamp = now.getFullYear() + pad(now.getMonth()+1) + pad(now.getDate()) + '-' + pad(now.getHours()) + pad(now.getMinutes());\nconst expectedFolder = '/desktop/ultralab-module-' + mode + '-' + timestamp;\nreturn [{\n  json: {\n    started: true,\n    async: true,\n    mode: mode,\n    articles_count: articlesCount,\n    expected_folder: expectedFolder,\n    started_at: now.toISOString(),\n    message: 'Workflow demarre en background sur n8n. Le browser doit poller /api/last-result pour recuperer le resultat final.'\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "build-async-resp-001",
      "name": "Build Async Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-immediate-001",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -400,
        -200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Module Webhook": {
      "main": [
        [
          {
            "node": "Build Async Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Articles": {
      "main": [
        [
          {
            "node": "Is Screening?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Ranking?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Clustering?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is PDF Fetch?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Extraction?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Deduplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Screening?": {
      "main": [
        [
          {
            "node": "Run Screening",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Ranking?": {
      "main": [
        [
          {
            "node": "Run Ranking",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Clustering?": {
      "main": [
        [
          {
            "node": "Run Clustering",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Screening": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Ranking": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Clustering": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF Fetch?": {
      "main": [
        [
          {
            "node": "Run PDF Fetch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run PDF Fetch": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Extraction?": {
      "main": [
        [
          {
            "node": "Run Extraction",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Extraction": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Deduplicate?": {
      "main": [
        [
          {
            "node": "Run Deduplicate",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Deduplicate": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Async Response": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000019",
  "meta": {
    "instanceId": "fd21ae21426f59c89f8963a136703cbf2a049d0a9eb6f435af497a2b2c1ac5ff"
  },
  "id": "mod-ultralab-001",
  "tags": []
}