workflows/ultralab-systematicreview-orchestrator.json
{
  "name": "ultralab-systematicreview-orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ultralab-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "13a75b10-fa93-48e5-97b7-76d8d0e0b799",
      "name": "User Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2800,
        -560
      ],
      "webhookId": "ad3dbe9f-6bfd-4013-972c-73fdb4ebce8d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3456/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gemma4:e2b', _ultralab_task: 'chat', stream: false, format: 'json', options: { temperature: 0.1, num_ctx: 8192, num_predict: 800 }, keep_alive: '30m', prompt: 'You are an expert systematic review librarian. Generate optimized search queries for 3 academic databases based on this research question.\\n\\nResearch question: ' + ($json.body && $json.body.question || $json.question) + '\\nInclusion/exclusion criteria: ' + (($json.body && $json.body.criteria || $json.criteria) || 'none specified') + '\\n\\nGenerate queries adapted to each database syntax:\\n1. PubMed: Use MeSH terms and PubMed boolean syntax (AND, OR, [MeSH Terms], [tiab]). Be thorough.\\n2. OpenAlex: Use natural language search terms, space-separated keywords.\\n3. Crossref: Use free-text keywords with the most important terms.\\n\\nReturn ONLY valid JSON with these keys: pubmed_query, openalex_query, crossref_query' }) }}",
        "options": {
          "timeout": 1800000
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        -560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 20000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-question",
              "name": "question",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.question!==undefined)?b.question:d.question;return (x===null||x===undefined)?'':String(x);})() }}",
              "type": "string"
            },
            {
              "id": "assign-criteria",
              "name": "criteria",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.criteria!==undefined)?b.criteria:d.criteria;return (x===null||x===undefined)?'':String(x);})() }}",
              "type": "string"
            },
            {
              "id": "assign-pfe",
              "name": "prefilter_enabled",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.prefilter_enabled!==undefined)?b.prefilter_enabled:d.prefilter_enabled;return (x===true||x===false)?x:true;})() }}",
              "type": "boolean"
            },
            {
              "id": "assign-pfc",
              "name": "prefilter_count",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.prefilter_count!==undefined)?b.prefilter_count:d.prefilter_count;var n=Number(x);return isNaN(n)?300:n;})() }}",
              "type": "number"
            },
            {
              "id": "assign-mr",
              "name": "max_results",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.max_results!==undefined)?b.max_results:d.max_results;var n=Number(x);return isNaN(n)?1000:n;})() }}",
              "type": "number"
            },
            {
              "id": "assign-ollama",
              "name": "ollama_response",
              "value": "={{ $input.first().json.response || '{}' }}",
              "type": "string"
            },
            {
              "id": "assign-skip-ranking",
              "name": "skip_ranking",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.skip_ranking!==undefined)?b.skip_ranking:d.skip_ranking;return (x===true||x===false)?x:false;})() }}",
              "type": "boolean"
            },
            {
              "id": "assign-skip-clustering",
              "name": "skip_clustering",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.skip_clustering!==undefined)?b.skip_clustering:d.skip_clustering;return (x===true||x===false)?x:false;})() }}",
              "type": "boolean"
            },
            {
              "id": "assign-skip-screening",
              "name": "skip_screening",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.skip_screening!==undefined)?b.skip_screening:d.skip_screening;return (x===true||x===false)?x:false;})() }}",
              "type": "boolean"
            },
            {
              "id": "assign-skip-pdf",
              "name": "skip_pdf",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.skip_pdf!==undefined)?b.skip_pdf:d.skip_pdf;return (x===true||x===false)?x:false;})() }}",
              "type": "boolean"
            },
            {
              "id": "assign-custom-pubmed",
              "name": "custom_pubmed_query",
              "value": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.custom_pubmed_query!==undefined)?b.custom_pubmed_query:d.custom_pubmed_query;return (x===null||x===undefined)?'':String(x);})() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "extract-params-001",
      "name": "Extract Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3100,
        -560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Query v3 - supporte equation PubMed personnalisee de l'utilisateur\nconst data = $input.all()[0].json;\nconst question = data.question || '';\nconst criteria = data.criteria || '';\nconst prefilter_enabled = data.prefilter_enabled !== undefined ? data.prefilter_enabled : true;\nconst prefilter_count = parseInt(data.prefilter_count) || 300;\nconst max_results = parseInt(data.max_results) || 1000;\nconst customPubmed = (data.custom_pubmed_query || '').trim();\n\nlet pubmed_query = question;\nlet openalex_query = question;\nlet crossref_query = question;\n\n// Helper: derive simple keyword query from a PubMed boolean equation\nfunction derivePlainQuery(pmQuery) {\n  if (!pmQuery) return question;\n  // strip MeSH/field tags like [MeSH Terms], [tiab], [Title/Abstract]\n  let q = pmQuery.replace(/\\[[^\\]]*\\]/g, ' ');\n  // remove parentheses\n  q = q.replace(/[()]/g, ' ');\n  // remove quotes\n  q = q.replace(/[\"']/g, ' ');\n  // collapse boolean operators (keep AND/OR meaning by joining with space)\n  q = q.replace(/\\b(AND|OR|NOT)\\b/gi, ' ');\n  // collapse multiple spaces\n  q = q.replace(/\\s+/g, ' ').trim();\n  return q || question;\n}\n\nif (customPubmed) {\n  // === MODE EQUATION PERSONNALISEE ===\n  pubmed_query = customPubmed;\n  openalex_query = derivePlainQuery(customPubmed);\n  crossref_query = derivePlainQuery(customPubmed);\n  console.log('Parse Query: USING CUSTOM PUBMED EQUATION');\n  console.log('  PubMed: ' + pubmed_query.substring(0, 100));\n  console.log('  OpenAlex (derived): ' + openalex_query.substring(0, 80));\n} else {\n  // === MODE GENERATION OLLAMA ===\n  try {\n    const raw = data.ollama_response || '';\n    const parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n    if (parsed.pubmed_query) pubmed_query = parsed.pubmed_query;\n    if (parsed.openalex_query) openalex_query = parsed.openalex_query;\n    if (parsed.crossref_query) crossref_query = parsed.crossref_query;\n    console.log('Parse Query: Ollama-generated queries extracted');\n  } catch(e) {\n    console.log('Parse Query: Ollama parse error, using question as fallback - ' + e.message);\n  }\n}\n\nconst topic = question.substring(0, 50).replace(/[^a-zA-Z0-9 ]/g, '').trim();\nconst folderName = (topic || 'untitled') + ' review ultralab';\nconst folderPath = '/desktop/' + folderName;\n\nconst skip_ranking = data.skip_ranking || false;\nconst skip_clustering = data.skip_clustering || false;\nconst skip_screening = data.skip_screening || false;\nconst skip_pdf = data.skip_pdf || false;\n\nconsole.log('Parse Query output: question=' + question.substring(0, 40) + ', folder=' + folderName);\nconsole.log('Skip flags: ranking=' + skip_ranking + ' clustering=' + skip_clustering + ' screening=' + skip_screening + ' pdf=' + skip_pdf);\n\nreturn [{ json: {\n  question,\n  criteria,\n  search_query: openalex_query,\n  pubmed_query,\n  openalex_query,\n  crossref_query,\n  output_folder: folderPath,\n  folder_name: folderName,\n  prefilter_enabled,\n  prefilter_count,\n  max_results,\n  skip_ranking,\n  skip_clustering,\n  skip_screening,\n  skip_pdf,\n  custom_query_used: !!customPubmed\n}}];",
        "mode": "runOnceForAllItems"
      },
      "id": "f9edda87-7855-41d4-813f-ddb3439d15c1",
      "name": "Parse Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "pTdf37HBUjTmEf7p"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ce2001a3-8f0f-4298-89bc-6b99e7a513d1",
      "name": "Search APIs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3400,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "ilp2vTmMzWooJWNF"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "5748a4ef-a4b5-4634-a1ae-2164169596e0",
      "name": "Normalize Metadata",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3600,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "JaszSPhNwKe2HfWD"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "dde07813-5a51-4d52-870a-6b80f4d16fdc",
      "name": "Generate Embeddings",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3800,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "cenESJm4k5dbLuY2"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "7faf735e-5604-43c0-b2c5-12c7c3f54398",
      "name": "Store Vectors",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        4000,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "AxHfdqd893kaPzlz"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "441d176d-8cf6-4940-9a3d-8091914de904",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        4200,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "2GS2AJwrY2iSuEXZ"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8be12197-94cd-421d-b8f9-8ea192487c70",
      "name": "Relevance Ranking",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        4600,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "RXr97zqwUBSIMwY9"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "b5e4f3fa-e85a-45aa-b0de-107a2807e6ce",
      "name": "Topic Clustering",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        5000,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "KGL9l8LCxrnYBFtW"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "5b38cf47-fc6e-4194-b1b7-e7ed4e9d3c8a",
      "name": "AI Screening",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        5400,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "iHVBghWXos2uM1IF"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "c014b8ed-238f-4e4e-bb26-37741d99ca9d",
      "name": "Fetch PDFs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        5800,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "9Kdanq9KusWjtFNm"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "45529d62-62b8-4766-9966-65c045882597",
      "name": "Export RIS",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        6000,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "tbY1uigU5oMbgUOH"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "0d844179-b793-4898-aa60-f24a25ecd60c",
      "name": "Generate PRISMA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        6200,
        -560
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\nconst articles = data.articles || [];\nconst stats = data.prisma_stats || data.stats || {};\nconst outputFolder = data.output_folder || '/desktop/review ultralab';\n\nconst sorted = [...articles].sort((a, b) => (b.score || 0) - (a.score || 0));\nconst included = sorted.filter(a => a.screening_decision === 'Include');\nconst maybe = sorted.filter(a => a.screening_decision === 'Maybe');\nconst excluded = sorted.filter(a => a.screening_decision === 'Exclude');\n\nconst screening_summary = sorted.map(a => ({\n  title: a.title || '',\n  authors: Array.isArray(a.authors) ? a.authors.join('; ') : '',\n  year: a.year || '',\n  journal: a.journal || '',\n  doi: a.doi || '',\n  abstract: (a.abstract || '').substring(0, 500),\n  source: a.source || '',\n  score: a.score !== undefined ? a.score : 50,\n  cluster: a.cluster_label || '',\n  decision: a.screening_decision || 'Maybe',\n  color: a.screening_color || 'orange',\n  reason: a.screening_reason || ''\n}));\n\nreturn [{\n  json: {\n    status: 'completed',\n    output_folder: outputFolder,\n    prisma_stats: {\n      total: stats.total || articles.length,\n      included: stats.included || included.length,\n      excluded: stats.excluded || excluded.length,\n      maybe: stats.maybe || maybe.length\n    },\n    screening_summary\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "b9e3ab93-628b-426b-94e1-1044433a4103",
      "name": "Assemble Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        -560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c29cce8a-5bd4-4caa-af13-d9e3200e2953",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        6600,
        -560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-skip_ranking",
              "leftValue": "={{ $('Parse Query').first().json.skip_ranking }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.boolean.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-skip-ranking-001",
      "name": "IF Skip Ranking",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4300,
        -560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-skip_clustering",
              "leftValue": "={{ $('Parse Query').first().json.skip_clustering }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.boolean.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-skip-clustering-001",
      "name": "IF Skip Clustering",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4700,
        -560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-skip_screening",
              "leftValue": "={{ $('Parse Query').first().json.skip_screening }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.boolean.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-skip-screening-001",
      "name": "IF Skip Screening",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5100,
        -560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-skip_pdf",
              "leftValue": "={{ $('Parse Query').first().json.skip_pdf }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.boolean.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-skip-pdf-001",
      "name": "IF Skip PDF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5500,
        -560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-custom-query",
              "leftValue": "={{ (function(){var b=$('User Input').first().json.body;var d=$('User Input').first().json;var x=(b&&b.custom_pubmed_query!==undefined)?b.custom_pubmed_query:d.custom_pubmed_query;return (typeof x==='string' && x.trim().length>0);})() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.boolean.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-custom-query-001",
      "name": "IF Custom Query",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2900,
        -560
      ]
    },
    {
      "parameters": {
        "jsCode": "// === RESPOND IMMEDIATELY (async webhook pattern) ===\n// Envoie une reponse rapide au browser pour qu'il puisse fermer la connexion HTTP\n// et basculer sur le polling. Le workflow continue en parallele.\nconst input = $input.first().json;\nconst body = input.body || input;\nconst question = (body.question || '').toString();\nconst now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst timestamp = now.getFullYear() + pad(now.getMonth()+1) + pad(now.getDate()) + '-' + pad(now.getHours()) + pad(now.getMinutes());\n// Le pipeline ecrit son dossier dans /desktop/<topic> review ultralab/\nconst topic = question.substring(0, 50).replace(/[^a-zA-Z0-9 ]/g, '').trim();\nconst expectedFolder = '/desktop/' + (topic || 'untitled') + ' review ultralab';\nreturn [{\n  json: {\n    started: true,\n    async: true,\n    mode: 'pipeline',\n    expected_folder: expectedFolder,\n    started_at: now.toISOString(),\n    message: 'Pipeline systematique demarre en background sur n8n. Le browser doit poller /api/last-result pour le resultat final.'\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "build-async-resp-pipeline-001",
      "name": "Build Async Response Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        -760
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-immediate-pipeline-001",
      "name": "Respond Immediately Pipeline",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3200,
        -760
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "User Input": {
      "main": [
        [
          {
            "node": "Build Async Response Pipeline",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Custom Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "Parse Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query": {
      "main": [
        [
          {
            "node": "Search APIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search APIs": {
      "main": [
        [
          {
            "node": "Normalize Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Metadata": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Store Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Vectors": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "IF Skip Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relevance Ranking": {
      "main": [
        [
          {
            "node": "IF Skip Clustering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Clustering": {
      "main": [
        [
          {
            "node": "IF Skip Screening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Screening": {
      "main": [
        [
          {
            "node": "IF Skip PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PDFs": {
      "main": [
        [
          {
            "node": "Export RIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export RIS": {
      "main": [
        [
          {
            "node": "Generate PRISMA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PRISMA": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Results": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip Ranking": {
      "main": [
        [
          {
            "node": "IF Skip Clustering",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Relevance Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip Clustering": {
      "main": [
        [
          {
            "node": "IF Skip Screening",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Topic Clustering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip Screening": {
      "main": [
        [
          {
            "node": "IF Skip PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Screening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip PDF": {
      "main": [
        [
          {
            "node": "Export RIS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Custom Query": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Async Response Pipeline": {
      "main": [
        [
          {
            "node": "Respond Immediately Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000018",
  "meta": {
    "instanceId": "fd21ae21426f59c89f8963a136703cbf2a049d0a9eb6f435af497a2b2c1ac5ff"
  },
  "id": "bfkPLBAHSqT6sH9Q",
  "tags": []
}