workflows/ultralab-search-apis.json
{
  "name": "ultralab-search-apis",
  "nodes": [
    {
      "parameters": {},
      "id": "f310f40c-4d78-410f-b85b-4372f2a3b41c",
      "name": "Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_openalex === false) return [{ json: { _source: 'openalex', _empty: true, _disabled_by_user: true } }];\n// DATES_PER_BASE_v1\n// DIRECT_ARTICLES_BYPASS_v1 - si direct_articles fournis, on retourne vide (PubMed s'en charge)\nconst __DIRECT_CHECK = $input.all()[0] && $input.all()[0].json;\nif (__DIRECT_CHECK && Array.isArray(__DIRECT_CHECK.direct_articles) && __DIRECT_CHECK.direct_articles.length > 0) {\n  return [];\n}\n\n// ─── OPENALEX — Fetch via proxy (paginated, heartbeat-safe) ───\nconst input = $input.all()[0].json;\nconst query = encodeURIComponent(input.openalex_query || input.search_query || '');\nvar __dY1 = parseInt(input.date_start) || 0, __dY2 = parseInt(input.date_end) || 0;\nvar __dsuf = (__dY1 && __dY2) ? ('&filter=from_publication_date:' + __dY1 + '-01-01,to_publication_date:' + __dY2 + '-12-31') : '';\nconst meta = {\n  question: input.question || '',\n  criteria: input.criteria || '',\n  search_query: input.search_query || '',\n  output_folder: input.output_folder || '',\n  prefilter_enabled: input.prefilter_enabled,\n  prefilter_count: input.prefilter_count,\n  max_results: input.max_results,\n  pubmed_query: input.pubmed_query || '',\n  openalex_query: input.openalex_query || '',\n  crossref_query: input.crossref_query || ''\n};\n\nconst PROXY = 'http://host.docker.internal:3456';\nconst PER_PAGE = 200;\nconst MAX_RESULTS = parseInt(input.cap_openalex) || parseInt(input.max_results) || 1000;\n\nlet cursor = '*';\nlet allResults = [];\nlet pageNum = 0;\n\ntry {\n  while (cursor && allResults.length < MAX_RESULTS) {\n    pageNum++;\n    const targetUrl = `https://api.openalex.org/works?search=${query}${__dsuf}&per-page=${PER_PAGE}&cursor=${encodeURIComponent(cursor)}&select=id,doi,title,display_name,abstract_inverted_index,authorships,publication_year,primary_location&mailto=ultralab@review.org`;\n    const proxyUrl = PROXY + '?url=' + encodeURIComponent(targetUrl);\n\n    let resp;\n    try {\n      resp = await this.helpers.httpRequest({ method: 'GET', url: proxyUrl, timeout: 120000 });\n    } catch(e) {\n      console.log('OpenAlex HTTP error page ' + pageNum + ': ' + e.message);\n      break;\n    }\n\n    const works = resp.results || [];\n    if (works.length === 0) break;\n\n    for (const w of works) {\n      const journal = (w.primary_location && w.primary_location.source)\n        ? (w.primary_location.source.display_name || '') : '';\n\n      let abstract = '';\n      if (w.abstract_inverted_index) {\n        const pairs = [];\n        for (const [word, positions] of Object.entries(w.abstract_inverted_index)) {\n          for (const pos of positions) { pairs.push([pos, word]); }\n        }\n        pairs.sort((a, b) => a[0] - b[0]);\n        abstract = pairs.map(p => p[1]).join(' ');\n      }\n\n      const authors = (w.authorships || []).map(a => a.author ? a.author.display_name : '').filter(Boolean);\n\n      allResults.push({\n        _source: 'openalex',\n        id: w.id || '',\n        doi: w.doi || '',\n        title: w.display_name || w.title || '',\n        abstract: abstract,\n        authors: authors,\n        year: w.publication_year || '',\n        journal: journal,\n        ...meta\n      });\n    }\n\n    cursor = (resp.meta && resp.meta.next_cursor) ? resp.meta.next_cursor : null;\n    console.log(`OpenAlex page ${pageNum}: +${works.length} (total: ${allResults.length})`);\n\n    await new Promise(r => setTimeout(r, 150));\n  }\n} catch(e) {\n  console.log('OpenAlex fatal error: ' + e.message);\n}\n\nconsole.log('OpenAlex DONE: ' + allResults.length + ' articles');\n\nif (allResults.length === 0) {\n  return [{ json: { _source: 'openalex', _empty: true, ...meta } }];\n}\nreturn allResults.slice(0, MAX_RESULTS).map(r => ({ json: r })); // R3_CAP_FETCH_v1",
        "mode": "runOnceForAllItems"
      },
      "id": "daf80939-4e01-4dbf-920f-8e6fb5d51026",
      "name": "OpenAlex Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -480
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_crossref === false) return [{ json: { _source: 'crossref', _empty: true, _disabled_by_user: true } }];\n// DATES_PER_BASE_v1\n// DIRECT_ARTICLES_BYPASS_v1 - si direct_articles fournis, on retourne vide (PubMed s'en charge)\nconst __DIRECT_CHECK = $input.all()[0] && $input.all()[0].json;\nif (__DIRECT_CHECK && Array.isArray(__DIRECT_CHECK.direct_articles) && __DIRECT_CHECK.direct_articles.length > 0) {\n  return [];\n}\n\n// ─── CROSSREF — Fetch via proxy (paginated, heartbeat-safe) ───\nconst input = $input.all()[0].json;\nconst query = encodeURIComponent(input.crossref_query || input.search_query || '');\nvar __dY1 = parseInt(input.date_start) || 0, __dY2 = parseInt(input.date_end) || 0;\nvar __dsuf = (__dY1 && __dY2) ? ('&filter=from-pub-date:' + __dY1 + '-01-01,until-pub-date:' + __dY2 + '-12-31') : '';\nconst meta = {\n  question: input.question || '',\n  criteria: input.criteria || '',\n  search_query: input.search_query || '',\n  output_folder: input.output_folder || '',\n  prefilter_enabled: input.prefilter_enabled,\n  prefilter_count: input.prefilter_count,\n  max_results: input.max_results,\n  pubmed_query: input.pubmed_query || '',\n  openalex_query: input.openalex_query || '',\n  crossref_query: input.crossref_query || ''\n};\n\nconst PROXY = 'http://host.docker.internal:3456';\nconst ROWS = 200;\nconst MAX_RESULTS = parseInt(input.cap_crossref) || parseInt(input.max_results) || 1000;\n\nlet cursor = '*';\nlet allResults = [];\nlet pageNum = 0;\n\ntry {\n  while (cursor && allResults.length < MAX_RESULTS) {\n    pageNum++;\n    const targetUrl = `https://api.crossref.org/works?query=${query}${__dsuf}&rows=${ROWS}&cursor=${encodeURIComponent(cursor)}&select=DOI,title,abstract,author,published,container-title&mailto=ultralab@review.org`;\n    const proxyUrl = PROXY + '?url=' + encodeURIComponent(targetUrl);\n\n    let resp;\n    try {\n      resp = await this.helpers.httpRequest({ method: 'GET', url: proxyUrl, timeout: 120000 });\n    } catch(e) {\n      console.log('Crossref HTTP error page ' + pageNum + ': ' + e.message);\n      break;\n    }\n\n    const items = (resp.message && resp.message.items) ? resp.message.items : [];\n    if (items.length === 0) break;\n\n    for (const w of items) {\n      const authors = (w.author || []).map(a => [a.given, a.family].filter(Boolean).join(' ')).filter(Boolean);\n      const title = Array.isArray(w.title) ? w.title[0] || '' : (w.title || '');\n      const journal = Array.isArray(w['container-title']) ? w['container-title'][0] || '' : (w['container-title'] || '');\n      let year = '';\n      if (w.published && w.published['date-parts'] && w.published['date-parts'][0]) {\n        year = w.published['date-parts'][0][0] || '';\n      }\n\n      allResults.push({\n        _source: 'crossref',\n        id: w.DOI ? 'doi:' + w.DOI : '',\n        doi: w.DOI || '',\n        title: title,\n        abstract: (w.abstract || '').replace(/<[^>]+>/g, ''),\n        authors: authors,\n        year: String(year),\n        journal: journal,\n        ...meta\n      });\n    }\n\n    cursor = (resp.message && resp.message['next-cursor']) ? resp.message['next-cursor'] : null;\n    console.log(`Crossref page ${pageNum}: +${items.length} (total: ${allResults.length})`);\n\n    await new Promise(r => setTimeout(r, 150));\n  }\n} catch(e) {\n  console.log('Crossref fatal error: ' + e.message);\n}\n\nconsole.log('Crossref DONE: ' + allResults.length + ' articles');\n\nif (allResults.length === 0) {\n  return [{ json: { _source: 'crossref', _empty: true, ...meta } }];\n}\nreturn allResults.slice(0, MAX_RESULTS).map(r => ({ json: r })); // R3_CAP_FETCH_v1",
        "mode": "runOnceForAllItems"
      },
      "id": "0587cd60-736d-4596-80ce-27d6e8a112e9",
      "name": "Crossref Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_pubmed === false) return [{ json: { _source: 'pubmed', _empty: true, _disabled_by_user: true } }];\n// DIRECT_ARTICLES_BYPASS_v1 - si direct_articles fournis, on les retourne directement\n(function() {\n  try {\n    const _in = $input.all()[0];\n    const _data = (_in && _in.json) ? _in.json : {};\n    if (Array.isArray(_data.direct_articles) && _data.direct_articles.length > 0) {\n      console.log('[PubMed Fetch] BYPASS : ' + _data.direct_articles.length + ' direct_articles fournis');\n    }\n  } catch (e) {}\n})();\nconst __DIRECT_INPUT = $input.all()[0] && $input.all()[0].json;\nif (__DIRECT_INPUT && Array.isArray(__DIRECT_INPUT.direct_articles) && __DIRECT_INPUT.direct_articles.length > 0) {\n  return __DIRECT_INPUT.direct_articles.map(function(a) {\n    return { json: Object.assign({}, a, { source: a.source || 'direct_input' }) };\n  });\n}\n\n// ─── PUBMED — efetch via proxy (paginated, heartbeat-safe) ───\nconst input = $input.all()[0].json;\nconst query = encodeURIComponent(input.pubmed_query || input.search_query || '');\nconst meta = {\n  question: input.question || '',\n  criteria: input.criteria || '',\n  search_query: input.search_query || '',\n  output_folder: input.output_folder || '',\n  prefilter_enabled: input.prefilter_enabled,\n  prefilter_count: input.prefilter_count,\n  max_results: input.max_results,\n  pubmed_query: input.pubmed_query || '',\n  openalex_query: input.openalex_query || '',\n  crossref_query: input.crossref_query || ''\n};\n\nconst PROXY = 'http://host.docker.internal:3456';\nconst BATCH = 200;\nconst MAX_RESULTS = parseInt(input.cap_pubmed) || parseInt(input.max_results) || 1000;\nlet allArticles = [];\n\ntry {\n  // esearch\n  const searchTarget = `https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&term=${query}&retmax=0&usehistory=y&retmode=json`;\n  const searchResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: PROXY + '?url=' + encodeURIComponent(searchTarget),\n    timeout: 60000\n  });\n\n  const sr = searchResp.esearchresult || {};\n  const totalCount = Math.min(parseInt(sr.count || '0'), MAX_RESULTS);\n  const webEnv = sr.webenv || '';\n  const queryKey = sr.querykey || '';\n\n  console.log(`PubMed: ${sr.count} results found, fetching up to ${totalCount}`);\n\n  if (totalCount === 0 || !webEnv) {\n    return [{ json: { _source: 'pubmed', _empty: true, ...meta } }];\n  }\n\n  // efetch in batches\n  for (let retStart = 0; retStart < totalCount; retStart += BATCH) {\n    const fetchTarget = `https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&WebEnv=${encodeURIComponent(webEnv)}&query_key=${queryKey}&retstart=${retStart}&retmax=${BATCH}&rettype=xml&retmode=xml`;\n\n    let xmlText;\n    try {\n      const xmlResp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: PROXY + '?url=' + encodeURIComponent(fetchTarget),\n        timeout: 120000\n      });\n      xmlText = typeof xmlResp === 'string' ? xmlResp : JSON.stringify(xmlResp);\n    } catch(e) {\n      console.log('PubMed batch error at ' + retStart + ': ' + e.message);\n      continue;\n    }\n\n    const blocks = xmlText.split('<PubmedArticle>');\n    for (let i = 1; i < blocks.length; i++) {\n      const b = blocks[i];\n      const title = ((b.match(/<ArticleTitle>([\\s\\S]*?)<\\/ArticleTitle>/) || [])[1] || '').replace(/<[^>]+>/g, '').trim();\n\n      let abstract = '';\n      const absMatch = b.match(/<Abstract>([\\s\\S]*?)<\\/Abstract>/);\n      if (absMatch) {\n        const parts = absMatch[1].match(/<AbstractText[^>]*>([\\s\\S]*?)<\\/AbstractText>/g);\n        if (parts) abstract = parts.map(t => t.replace(/<[^>]*>/g, '').trim()).join(' ');\n      }\n\n      const authors = [];\n      const authMatches = b.match(/<Author[^>]*>[\\s\\S]*?<\\/Author>/g);\n      if (authMatches) {\n        for (const a of authMatches) {\n          const last = ((a.match(/<LastName>([^<]+)<\\/LastName>/) || [])[1] || '');\n          const fore = ((a.match(/<ForeName>([^<]+)<\\/ForeName>/) || [])[1] || '');\n          if (last) authors.push((fore + ' ' + last).trim());\n        }\n      }\n\n      const year = ((b.match(/<PubDate>[\\s\\S]*?<Year>(\\d{4})<\\/Year>/) || [])[1] || '');\n      const journal = ((b.match(/<Title>([^<]+)<\\/Title>/) || [])[1] || '').trim();\n      const doi = ((b.match(/<ArticleId IdType=\"doi\">([^<]+)<\\/ArticleId>/) || [])[1] || '').trim();\n      const pmid = ((b.match(/<PMID[^>]*>(\\d+)<\\/PMID>/) || [])[1] || '');\n\n      if (title) {\n        allArticles.push({\n          _source: 'pubmed',\n          id: pmid ? 'pmid:' + pmid : '',\n          doi: doi,\n          title: title,\n          abstract: abstract,\n          authors: authors,\n          year: year,\n          journal: journal,\n          ...meta\n        });\n      }\n    }\n\n    console.log(`PubMed batch ${retStart}: +${blocks.length - 1} (total: ${allArticles.length})`);\n    await new Promise(r => setTimeout(r, 400));\n  }\n} catch(e) {\n  console.log('PubMed fatal error: ' + e.message);\n}\n\nconsole.log('PubMed DONE: ' + allArticles.length + ' articles');\n\nif (allArticles.length === 0) {\n  return [{ json: { _source: 'pubmed', _empty: true, ...meta } }];\n}\nreturn allArticles.slice(0, MAX_RESULTS).map(a => ({ json: a })); // R3_CAP_FETCH_v1",
        "mode": "runOnceForAllItems"
      },
      "id": "8b1af029-f9de-4b0b-b7c5-fd3cea421c6e",
      "name": "PubMed Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst filtered = items.filter(item => !item.json._empty);\n\n// Count per source for diagnostics\nconst counts = {};\nfor (const item of filtered) {\n  const src = item.json._source || 'unknown';\n  counts[src] = (counts[src] || 0) + 1;\n}\n\nconsole.log('=== SEARCH RESULTS SUMMARY ===');\nconsole.log('OpenAlex: ' + (counts.openalex || 0) + ' articles');\nconsole.log('Crossref: ' + (counts.crossref || 0) + ' articles');\nconsole.log('PubMed: ' + (counts.pubmed || 0) + ' articles');\nconsole.log('TOTAL: ' + filtered.length + ' articles');\n\nif (counts.openalex === 0) console.log('WARNING: OpenAlex returned 0 results!');\nif (counts.crossref === 0) console.log('WARNING: Crossref returned 0 results!');\nif (counts.pubmed === 0) console.log('WARNING: PubMed returned 0 results!');\n\nif (filtered.length === 0) {\n  return [{ json: { error: 'No results from any API', _source: 'none' } }];\n}\n\nreturn filtered;",
        "mode": "runOnceForAllItems"
      },
      "id": "f8352252-040f-4685-b242-1724d5d5f04b",
      "name": "Filter Empty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -256
      ]
    },
    {
      "parameters": {
        "numberInputs": 9
      },
      "id": "aacfc2f5-6ed0-4a43-9d67-ea2f680560bb",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -480,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_semanticscholar === false) return [{ json: { _source: 'semanticscholar', _empty: true, _disabled_by_user: true } }];\n// DATES_PER_BASE_v1\n// === DIRECT_ARTICLES_BYPASS_v1 - skip si articles fournis directement\nconst __DIRECT = $input.all()[0] && $input.all()[0].json;\nif (__DIRECT && Array.isArray(__DIRECT.direct_articles) && __DIRECT.direct_articles.length > 0) {\n  return [];\n}\n\n// === Semantic Scholar Fetch (v0.2.5+) ===\n// https://api.semanticscholar.org/graph/v1/paper/search - 200M papers, gratuit\nconst PROXY = 'http://host.docker.internal:3456';\n// SEMANTIC_SCHOLAR_KEY_v1 - cle API optionnelle (x-api-key, appel direct car le proxy ne porte pas les headers)\nlet __ssKey = '';\ntry { const __k = await this.helpers.httpRequest({ method: 'GET', url: 'http://host.docker.internal:8080/api/get-secret?field=semanticscholar_api_key', timeout: 5000, json: true }); __ssKey = (__k && __k.value) || ''; } catch (e) {}\nconst data = __DIRECT || {};\nconst query = data.semantic_query || data.openalex_query || data.pubmed_query || data.question || '';\nvar __dY1 = parseInt(data.date_start) || 0, __dY2 = parseInt(data.date_end) || 0;\nvar __dsuf = (__dY1 && __dY2) ? ('&year=' + __dY1 + '-' + __dY2) : '';\nconst maxResults = parseInt(data.cap_semanticscholar) || parseInt(data.max_results) || 200;\nconst limit = Math.min(maxResults, 100);\n\nif (!query) {\n  console.log('[Semantic Scholar] pas de query, skip');\n  return [];\n}\n\nconst fields = 'title,abstract,authors.name,year,externalIds,journal,publicationTypes,publicationVenue';\nconst apiUrl = 'https://api.semanticscholar.org/graph/v1/paper/search?query=' +\n               encodeURIComponent(query) + '&limit=' + limit + __dsuf + '&fields=' + fields;\nconst proxyUrl = PROXY + '?url=' + encodeURIComponent(apiUrl);\n\nconst articles = [];\ntry {\n  const __opts = __ssKey ? { method: 'GET', url: apiUrl, headers: { 'x-api-key': __ssKey }, timeout: 30000, json: true }\n                         : { method: 'GET', url: proxyUrl, timeout: 30000, json: true };\n  const resp = await this.helpers.httpRequest(__opts);\n  const papers = (resp && resp.data) || [];\n  console.log('[Semantic Scholar] ' + papers.length + ' papers recus');\n  for (let i = 0; i < papers.length; i++) {\n    const p = papers[i];\n    const authors = ((p.authors || []).map(function(a){ return a && a.name ? a.name : ''; })).filter(Boolean);\n    const ext = p.externalIds || {};\n    const venue = (p.journal && p.journal.name) || (p.publicationVenue && p.publicationVenue.name) || '';\n    articles.push({\n      title: p.title || '',\n      abstract: p.abstract || '',\n      authors: authors,\n      year: p.year ? String(p.year) : '',\n      doi: ext.DOI || '',\n      pmid: ext.PubMed || '',\n      issn: '',\n      journal: venue,\n      source: 'semanticscholar'\n    });\n  }\n} catch (e) {\n  console.log('[Semantic Scholar] erreur fetch : ' + (e && e.message ? e.message : e));\n}\n\nreturn articles.slice(0, maxResults).map(function(a) { return { json: a }; }); // R3_CAP_FETCH_v1\n",
        "mode": "runOnceForAllItems"
      },
      "id": "semantic-scholar-fetch-001",
      "name": "Semantic Scholar Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        168
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_doaj === false) return [{ json: { _source: 'doaj', _empty: true, _disabled_by_user: true } }];\n// DATES_PER_BASE_v1\n// === DIRECT_ARTICLES_BYPASS_v1 - skip si articles fournis ===\nconst __DIRECT = $input.all()[0] && $input.all()[0].json;\nif (__DIRECT && Array.isArray(__DIRECT.direct_articles) && __DIRECT.direct_articles.length > 0) {\n  return [];\n}\n\n// === DOAJ Fetch (v0.2.6+) - Directory of Open Access Journals ===\n// 20k+ revues OA, gratuit sans cle API\nconst PROXY = 'http://host.docker.internal:3456';\nconst data = __DIRECT || {};\nconst query = (data.doaj_query || data.openalex_query || data.pubmed_query || data.question || '').replace(/[*?~]/g, '').replace(/\\s+/g, ' ').trim(); // DOAJ_NOWILDCARD_v1\nvar __dY1 = parseInt(data.date_start) || 0, __dY2 = parseInt(data.date_end) || 0;\nvar __q = (__dY1 && __dY2) ? ('(' + query + ') AND bibjson.year:[' + __dY1 + ' TO ' + __dY2 + ']') : query;\nconst maxResults = parseInt(data.cap_doaj) || parseInt(data.max_results) || 200;\nconst pageSize = Math.min(maxResults, 100);\n\nif (!query) {\n  console.log('[DOAJ] pas de query, skip');\n  return [];\n}\n\nconst apiUrl = 'https://doaj.org/api/search/articles/' + encodeURIComponent(__q) + '?pageSize=' + pageSize;\nconst proxyUrl = PROXY + '?url=' + encodeURIComponent(apiUrl);\n\nconst articles = [];\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: proxyUrl,\n    timeout: 30000,\n    json: true\n  });\n  const results = (resp && resp.results) || [];\n  console.log('[DOAJ] ' + results.length + ' articles recus');\n  for (let i = 0; i < results.length; i++) {\n    const r = results[i];\n    const b = r.bibjson || {};\n    const authors = ((b.author || []).map(function(a){ return a && a.name ? a.name : ''; })).filter(Boolean);\n    const ids = b.identifier || [];\n    let doi = '';\n    let issn = '';\n    for (let j = 0; j < ids.length; j++) {\n      if (ids[j].type === 'doi') doi = ids[j].id || '';\n      if (ids[j].type === 'eissn' || ids[j].type === 'pissn') issn = ids[j].id || issn;\n    }\n    const journal = (b.journal && b.journal.title) || '';\n    articles.push({\n      title: b.title || '',\n      abstract: b.abstract || '',\n      authors: authors,\n      year: b.year ? String(b.year) : '',\n      doi: doi,\n      pmid: '',\n      issn: issn,\n      journal: journal,\n      url: (b.link && b.link[0] && b.link[0].url) || '',\n      source: 'doaj'\n    });\n  }\n} catch (e) {\n  console.log('[DOAJ] erreur fetch : ' + (e && e.message ? e.message : e));\n}\n\nreturn articles.slice(0, maxResults).map(function(a) { return { json: a }; }); // R3_CAP_FETCH_v1\n",
        "mode": "runOnceForAllItems"
      },
      "id": "doaj-fetch-001",
      "name": "DOAJ Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_base === false) return [{ json: { _source: 'base', _empty: true, _disabled_by_user: true } }];\n// BASE_IP_TRANSPARENCY_v1\n// === DIRECT_ARTICLES_BYPASS_v1 - skip si articles fournis ===\nconst __DIRECT = $input.all()[0] && $input.all()[0].json;\nif (__DIRECT && Array.isArray(__DIRECT.direct_articles) && __DIRECT.direct_articles.length > 0) {\n  return [];\n}\n\n// === BASE Fetch (v0.2.6+) - Bielefeld Academic Search Engine ===\n// 300M+ documents multi-disciplinaires, riche en pre-prints / theses\nconst PROXY = 'http://host.docker.internal:3456';\nconst data = __DIRECT || {};\nconst query = data.base_query || data.openalex_query || data.pubmed_query || data.question || '';\nconst maxResults = parseInt(data.cap_base) || parseInt(data.max_results) || 200;\nconst hits = Math.min(maxResults, 125);\n\nif (!query) {\n  console.log('[BASE] pas de query, skip');\n  return [];\n}\n\n// API BASE : format JSON disponible via le parametre format=json\n// https://www.base-search.net/about/en/about_what_can_basebe_used_for.php\nconst apiUrl = 'https://api.base-search.net/cgi-bin/BaseHttpSearchInterface.fcgi?func=PerformSearch&query=' +\n               encodeURIComponent(query) + '&hits=' + hits + '&format=json';\nconst proxyUrl = PROXY + '?url=' + encodeURIComponent(apiUrl);\n\nconst articles = [];\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: proxyUrl,\n    timeout: 30000,\n    json: true\n  });\n  if (resp && resp.error && /access denied/i.test(resp.error)) { console.log('[BASE] IP non enregistree chez BASE (acces refuse) - 0 article'); return []; }\n  const docs = (resp && resp.response && resp.response.docs) || [];\n  console.log('[BASE] ' + docs.length + ' documents recus');\n  for (let i = 0; i < docs.length; i++) {\n    const d = docs[i];\n    const title = (d.dctitle || d.title || '').toString();\n    const abstract = (d.dcdescription || d.abstract || '').toString();\n    const authorsRaw = d.dccreator || d.author || [];\n    const authors = Array.isArray(authorsRaw) ? authorsRaw : [authorsRaw];\n    const year = d.dcyear ? String(d.dcyear) : '';\n    const doi = (d.dcdoi || '').toString().replace(/^https?:\\/\\/(?:dx\\.)?doi\\.org\\//, '');\n    articles.push({\n      title: title,\n      abstract: abstract,\n      authors: authors.filter(Boolean),\n      year: year,\n      doi: doi,\n      pmid: '',\n      issn: '',\n      journal: (d.dcsource || d.dcpublisher || '').toString(),\n      url: (d.dcidentifier || '').toString(),\n      source: 'base'\n    });\n  }\n} catch (e) {\n  console.log('[BASE] erreur fetch : ' + (e && e.message ? e.message : e));\n}\n\nreturn articles.slice(0, maxResults).map(function(a) { return { json: a }; }); // R3_CAP_FETCH_v1\n",
        "mode": "runOnceForAllItems"
      },
      "id": "base-fetch-001",
      "name": "BASE Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        568
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_lens === false) return [{ json: { _source: 'lens', _empty: true, _disabled_by_user: true } }];\n// === DIRECT_ARTICLES_BYPASS_v1 - skip si articles fournis ===\nconst __DIRECT = $input.all()[0] && $input.all()[0].json;\nif (__DIRECT && Array.isArray(__DIRECT.direct_articles) && __DIRECT.direct_articles.length > 0) {\n  return [];\n}\n\n// === Lens.org Fetch (v0.2.6+) - 250M+ scholarly works ===\n// Necessite cle API gratuite (lens_api_key dans la config user).\n// Si pas de cle -> skip silencieux (retourne []).\nconst PROXY = 'http://host.docker.internal:3456';\nconst data = __DIRECT || {};\nconst query = data.lens_query || data.openalex_query || data.pubmed_query || data.question || '';\nconst maxResults = parseInt(data.cap_lens) || parseInt(data.max_results) || 200;\nconst size = Math.min(maxResults, 100);\n\nif (!query) {\n  console.log('[Lens] pas de query, skip');\n  return [];\n}\n\n// Recuperer la cle API via le Flask endpoint (le workflow tourne dans Docker,\n// donc on doit passer par le proxy / Flask pour acceder a la config user)\nlet apiKey = '';\ntry {\n  const cfgResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'http://host.docker.internal:8080/api/external-accounts',\n    timeout: 5000,\n    json: true\n  });\n  if (cfgResp && cfgResp.success && cfgResp.accounts && cfgResp.accounts.lens_api_key) {\n    // accounts.lens_api_key.value est MASQUE. Il nous faut la vraie cle.\n    // On utilise un endpoint dedie qui retourne la vraie valeur (a creer\n    // si pas dispo). Pour l'instant on bypass : la cle masquee ne fonctionnera\n    // pas pour l'auth Lens.\n    // Solution : appel direct du config via un endpoint qui ne masque pas.\n    apiKey = ''; // sera renseigne via endpoint dedie ci-dessous\n  }\n} catch (e) {}\n\n// Endpoint dedie pour recuperer la cle non-masquee (utilise uniquement par\n// les workflows internes qui ont besoin de la vraie valeur)\nif (!apiKey) {\n  try {\n    const keyResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'http://host.docker.internal:8080/api/get-secret?field=lens_api_key',\n      timeout: 5000,\n      json: true\n    });\n    apiKey = (keyResp && keyResp.value) || '';\n  } catch (e) {}\n}\n\nif (!apiKey) {\n  console.log('[Lens] pas de cle API configuree, skip');\n  return [];\n}\n\nconst articles = [];\ntry {\n  const payload = JSON.stringify({\n    query: { query_string: { query: query } },\n    size: size,\n    include: ['lens_id','title','abstract','authors','year_published','external_ids','source','external_url']\n  });\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.lens.org/scholarly/search',\n    body: payload,\n    headers: { 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' },\n    timeout: 30000,\n    json: true\n  });\n  const works = (resp && resp.data) || [];\n  console.log('[Lens] ' + works.length + ' works recus');\n  for (let i = 0; i < works.length; i++) {\n    const w = works[i];\n    const authors = ((w.authors || []).map(function(a) {\n      if (!a) return '';\n      const fn = (a.first_name || '').trim();\n      const ln = (a.last_name || '').trim();\n      return (ln + (fn ? ', ' + fn : '')).trim();\n    })).filter(Boolean);\n    const ext = w.external_ids || [];\n    let doi = '';\n    let pmid = '';\n    for (let j = 0; j < ext.length; j++) {\n      if (ext[j].type === 'doi') doi = ext[j].value || '';\n      if (ext[j].type === 'pmid') pmid = ext[j].value || '';\n    }\n    const source = w.source || {};\n    articles.push({\n      title: w.title || '',\n      abstract: w.abstract || '',\n      authors: authors,\n      year: w.year_published ? String(w.year_published) : '',\n      doi: doi,\n      pmid: pmid,\n      issn: (source.issn || [])[0] || '',\n      journal: source.title || '',\n      url: w.external_url || '',\n      source: 'lens'\n    });\n  }\n} catch (e) {\n  console.log('[Lens] erreur fetch : ' + (e && e.message ? e.message : e));\n}\n\nreturn articles.slice(0, maxResults).map(function(a) { return { json: a }; }); // R3_CAP_FETCH_v1\n",
        "mode": "runOnceForAllItems"
      },
      "id": "lens-fetch-001",
      "name": "Lens.org Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_sciencedirect === false) return [{ json: { _source: 'sciencedirect', _empty: true, _disabled_by_user: true } }];\n// DATES_PER_BASE_v1\n// === DIRECT_ARTICLES_BYPASS_v1 - skip si articles fournis ===\nconst __DIRECT = $input.all()[0] && $input.all()[0].json;\nif (__DIRECT && Array.isArray(__DIRECT.direct_articles) && __DIRECT.direct_articles.length > 0) {\n  return [];\n}\n// === ScienceDirect Fetch (SEARCHAPIS_SCIENCEDIRECT_v1) - X-ELS-APIKey, appel direct ===\nconst data = __DIRECT || {};\nconst query = data.sciencedirect_query || data.openalex_query || data.pubmed_query || data.question || '';\nvar __dY1 = parseInt(data.date_start) || 0, __dY2 = parseInt(data.date_end) || 0;\nvar __dsuf = (__dY1 && __dY2) ? ('&date=' + __dY1 + '-' + __dY2) : '';\nconst capSD = parseInt(data.cap_sciencedirect) || 0;\nconst maxResults = capSD > 0 ? capSD : (parseInt(data.max_results) || 200);\nconst PAGE = 100;\nif (!query) { console.log('[ScienceDirect] pas de query, skip'); return []; }\n\nlet apiKey = '', instToken = '';\ntry {\n  const k = await this.helpers.httpRequest({ method: 'GET', url: 'http://host.docker.internal:8080/api/get-secret?field=sciencedirect_api_key', timeout: 5000, json: true });\n  apiKey = (k && k.value) || '';\n  const t = await this.helpers.httpRequest({ method: 'GET', url: 'http://host.docker.internal:8080/api/get-secret?field=sciencedirect_inst_token', timeout: 5000, json: true });\n  instToken = (t && t.value) || '';\n} catch (e) {}\nif (!apiKey) { console.log('[ScienceDirect] pas de cle API, skip'); return []; }\n\nconst headers = { 'X-ELS-APIKey': apiKey, 'Accept': 'application/json' };\nif (instToken) headers['X-ELS-Insttoken'] = instToken;\n\nconst articles = [];\nlet start = 0;\ntry {\n  while (articles.length < maxResults) {\n    const pageCount = Math.min(PAGE, maxResults - articles.length);\n    const url = 'https://api.elsevier.com/content/search/sciencedirect?query=' + encodeURIComponent(query) + __dsuf + '&count=' + pageCount + '&start=' + start;\n    const resp = await this.helpers.httpRequest({ method: 'GET', url: url, headers: headers, timeout: 30000, json: true });\n    const sr = (resp && resp['search-results']) || {};\n    const entries = sr.entry || [];\n    if (entries.length === 0) break;\n    if (entries.length === 1 && entries[0].error) break;\n    for (let i = 0; i < entries.length; i++) {\n      const e = entries[i];\n      let authors = [];\n      if (e.authors && Array.isArray(e.authors.author)) {\n        authors = e.authors.author.map(function(a){ return (a && (a['$'] || a['given-name'] || a['surname'] || '')) || ''; }).filter(Boolean);\n      } else if (e['dc:creator']) { authors = [e['dc:creator']]; }\n      const cover = e['prism:coverDate'] || '';\n      const year = cover ? String(cover).substring(0, 4) : '';\n      articles.push({\n        title: e['dc:title'] || '',\n        abstract: e['dc:description'] || '',\n        authors: authors,\n        year: year,\n        doi: e['prism:doi'] || '',\n        pmid: '',\n        issn: e['prism:issn'] || '',\n        journal: e['prism:publicationName'] || '',\n        url: e['prism:url'] || '',\n        source: 'sciencedirect'\n      });\n      if (articles.length >= maxResults) break;\n    }\n    if (entries.length < pageCount) break;\n    start += pageCount;\n    if (start >= 5000) break;\n    await new Promise(function(r){ setTimeout(r, 500); });\n  }\n} catch (e) {\n  console.log('[ScienceDirect] error: ' + (e.message || e));\n}\nreturn articles.slice(0, maxResults).map(function(a){ return { json: a }; }); // R3_CAP_FETCH_v1",
        "mode": "runOnceForAllItems"
      },
      "id": "sciencedirect-fetch-001",
      "name": "ScienceDirect Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_clinicaltrials !== true) return [{ json: { _source: 'clinicaltrials', _empty: true, _disabled_by_user: true } }];\n// === DIRECT_ARTICLES_BYPASS_v1 - skip si articles fournis ===\nconst __DIRECT = $input.all()[0] && $input.all()[0].json;\nif (__DIRECT && Array.isArray(__DIRECT.direct_articles) && __DIRECT.direct_articles.length > 0) {\n  return [];\n}\n\n// === ClinicalTrials.gov Fetch (v0.3+) - registre d'essais cliniques / litterature grise ===\n// API v2 publique, gratuite, sans cle. Recupere des essais (publies ou non) -> reduit le biais de publication.\nconst data = __DIRECT || {};\nconst query = (data.clinicaltrials_query || data.doaj_query || data.openalex_query || data.question || '').replace(/[*?~]/g, '').replace(/\\s+/g, ' ').trim(); // CT_NOWILDCARD_v1\nif (!query) { console.log('[ClinicalTrials] pas de query, skip'); return []; }\nconst maxResults = parseInt(data.cap_clinicaltrials) || parseInt(data.max_results) || 200;\nconst pageSize = Math.min(maxResults, 1000);\nvar __dY1 = parseInt(data.date_start) || 0, __dY2 = parseInt(data.date_end) || 0;\nvar __term = query;\nif (__dY1 && __dY2) { __term = query + ' AND AREA[StartDate]RANGE[' + __dY1 + '-01-01,' + __dY2 + '-12-31]'; }\n\nconst apiUrl = 'https://clinicaltrials.gov/api/v2/studies?format=json&pageSize=' + pageSize + '&query.term=' + encodeURIComponent(__term);\nconst articles = [];\ntry {\n  const resp = await this.helpers.httpRequest({ method: 'GET', url: apiUrl, headers: { 'User-Agent': 'UltraLab-SystematicReview/1.0', 'Accept': 'application/json' }, timeout: 30000, json: true }); // CT_DIRECT_v1\n  const studies = (resp && resp.studies) || [];\n  console.log('[ClinicalTrials] ' + studies.length + ' essais recus');\n  for (let i = 0; i < studies.length; i++) {\n    const ps = (studies[i] && studies[i].protocolSection) || {};\n    const idm = ps.identificationModule || {};\n    const desc = ps.descriptionModule || {};\n    const status = ps.statusModule || {};\n    const spon = (ps.sponsorCollaboratorsModule && ps.sponsorCollaboratorsModule.leadSponsor) || {};\n    const nct = idm.nctId || '';\n    const sd = (status.startDateStruct && status.startDateStruct.date) || '';\n    const year = sd ? String(sd).substring(0, 4) : '';\n    const title = idm.briefTitle || idm.officialTitle || '';\n    if (!title) continue;\n    articles.push({\n      title: title,\n      abstract: desc.briefSummary || desc.detailedDescription || '',\n      authors: spon.name ? [spon.name] : [],\n      year: year,\n      doi: '',\n      pmid: '',\n      issn: '',\n      journal: 'ClinicalTrials.gov',\n      url: nct ? ('https://clinicaltrials.gov/study/' + nct) : '',\n      registry_id: nct,\n      publication_type: 'Trial registration',\n      source: 'clinicaltrials',\n      _source: 'clinicaltrials'\n    });\n  }\n} catch (e) {\n  console.log('[ClinicalTrials] erreur fetch : ' + (e && e.message ? e.message : e));\n}\nreturn articles.slice(0, maxResults).map(function(a) { return { json: a }; }); // R3_CAP_FETCH_v1\n"
      },
      "id": "clinicaltrials-fetch-001",
      "name": "ClinicalTrials Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        1120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "OpenAlex Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crossref Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "PubMed Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Semantic Scholar Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "DOAJ Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "BASE Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lens.org Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "ScienceDirect Fetch",
            "type": "main",
            "index": 0
          },
          {
            "node": "ClinicalTrials Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAlex Fetch": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crossref Fetch": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PubMed Fetch": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Filter Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantic Scholar Fetch": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "DOAJ Fetch": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "BASE Fetch": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Lens.org Fetch": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "ScienceDirect Fetch": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "ClinicalTrials Fetch": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 8
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000010",
  "meta": {
    "instanceId": "fd21ae21426f59c89f8963a136703cbf2a049d0a9eb6f435af497a2b2c1ac5ff"
  },
  "id": "pTdf37HBUjTmEf7p",
  "tags": []
}