workflows/ultralab-ranking.json
{
  "name": "ultralab-ranking",
  "nodes": [
    {
      "parameters": {},
      "id": "1c36e089-eb91-45a0-8aa1-dd44d4bb5103",
      "name": "Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip-ranking",
              "leftValue": "={{ $('Input').first().json.skip_ranking }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.boolean.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-skip-rank",
      "name": "IF Skip Ranking",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1080,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Skip ranking: pass articles through with default score\nconst articles = $('Input').all().map(i => i.json);\nconsole.log('Ranking SKIPPED: ' + articles.length + ' articles passed through with score=50');\nreturn articles.map(a => ({ json: { ...a, score: 50, score_reason: 'Ranking skipped by user', score_breakdown: null } }));",
        "mode": "runOnceForAllItems"
      },
      "id": "pt-rank-001",
      "name": "Pass Through Ranking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// === PRE-FILTER v2 - TF-IDF ameliore ===\nconst articles = $input.all().map(i => i.json);\nconst question = (articles[0] && articles[0].question) || '';\nconst prefilterEnabled = articles[0] && articles[0].prefilter_enabled !== undefined ? articles[0].prefilter_enabled : true;\nconst prefilterCount = (articles[0] && parseInt(articles[0].prefilter_count)) || 300;\n\nif (!prefilterEnabled) {\n  console.log('Pre-filter: DESACTIVE - ' + articles.length + ' articles passes sans filtre');\n  return articles.map(a => ({ json: a }));\n}\n\nconst stopWords = new Set(['the','a','an','and','or','of','in','to','for','with','on','at','by','from','is','are','was','were','be','been','being','that','this','it','its','as','but','not','no','do','does','did','has','have','had','will','would','can','could','should','may','might','shall','about','into','through','during','before','after','above','below','between','under','over','each','every','all','both','few','more','most','other','some','such','than','too','very','just','also','how','what','which','who','where','when','why','our','their','your','we','they','them','these','those','only','own','same','then','there','here','study','studies','results','method','methods','conclusion','background','objective','objectives','aim','aims','purpose','review','research','analysis','data','based','using','used','among','associated','effect','effects','impact','factors','findings','evidence','approach','compared','significant','compared','group','groups']);\n\nconst getKeywords = (text) => {\n  return (text || '').toLowerCase().replace(/[^a-z0-9\\s]/g, ' ').split(/\\s+/).filter(w => w.length > 2 && !stopWords.has(w));\n};\n\nconst questionKeywords = getKeywords(question);\nconst questionSet = new Set(questionKeywords);\n\nif (questionKeywords.length === 0 || articles.length <= prefilterCount) {\n  console.log('Pre-filter: pas necessaire (' + articles.length + ' articles <= seuil ' + prefilterCount + ')');\n  return articles.map(a => ({ json: a }));\n}\n\nconst scored = articles.map(a => {\n  const text = ((a.title || '') + ' ' + (a.abstract || '')).toLowerCase();\n  const articleWords = new Set(getKeywords(text));\n  let matchCount = 0;\n  for (const w of questionSet) {\n    if (articleWords.has(w)) matchCount++;\n  }\n  return { article: a, score: matchCount / questionKeywords.length };\n});\n\nscored.sort((a, b) => b.score - a.score);\nconst kept = scored.slice(0, prefilterCount).map(s => s.article);\nconsole.log('Pre-filter v2: ' + articles.length + ' -> ' + kept.length + ' articles');\nreturn kept.map(a => ({ json: a }));",
        "mode": "runOnceForAllItems"
      },
      "id": "pf-rank-001",
      "name": "Pre-Filter Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "// === RANKING v4 - Criteres explicites + prompt simplifie ===\nconst items = $input.all();\nconst articles = items.map(i => i.json);\n// (A3) Reglages IA personnalises injectes par l'UI dans articles[0]._ai_settings\nconst aiSettings = (articles[0] && articles[0]._ai_settings) || {};\nconst strictness = (typeof aiSettings.strictness === 'number') ? aiSettings.strictness : 50;\nconst customRules = (aiSettings.custom_rules || '').toString().trim();\nlet strictnessGuidance = '';\nif (strictness <= 25) {\n  strictnessGuidance = '\\n\\nTONE: Be GENEROUS with scoring. Articles loosely related to the question still deserve scores in the 40-60 range.';\n} else if (strictness >= 75) {\n  strictnessGuidance = '\\n\\nTONE: Be STRICT with scoring. Only highly relevant articles deserve scores >70. Be sparing with high scores.';\n}\nconst customRulesBlock = customRules\n  ? '\\n\\nUSER-DEFINED RULES (apply these):\\n' + customRules\n  : '';\nconst BATCH_SIZE = 3;\nconst question = (articles[0] && articles[0].question) || '';\nconst criteria = (articles[0] && articles[0].criteria) || '';\nconst batches = [];\n\nfunction sanitize(text) {\n  return (text || '').replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfor (let i = 0; i < articles.length; i += BATCH_SIZE) {\n  const batch = articles.slice(i, i + BATCH_SIZE);\n  const articleList = batch.map((a, j) => {\n    const title = sanitize(a.title || 'No title').substring(0, 120);\n    const abstract = sanitize(a.abstract || 'No abstract').substring(0, 300);\n    return '[' + j + '] TITLE: ' + title + '\\nABSTRACT: ' + abstract;\n  }).join('\\n\\n');\n\n  const prompt = `You are a systematic review screener. Rate each article 0-100 for relevance to the research question.\\n\\nRESEARCH QUESTION:\\n${sanitize(question).substring(0, 500)}\\n\\nINCLUSION/EXCLUSION CRITERIA:\\n${sanitize(criteria).substring(0, 500)}\\n\\n=== ARTICLES TO RATE ===\\n${articleList}\\n\\n=== SCORING RUBRIC (each 0-25, total 0-100) ===\\n\\n1. TOPIC RELEVANCE (0-25): Does the article address the EXACT topic of the research question?\\n   - 25 = directly about the research question topic\\n   - 15 = related topic, partial overlap\\n   - 5 = tangentially related\\n   - 0 = unrelated topic\\n\\n2. POPULATION MATCH (0-25): Does the studied population match the inclusion criteria?\\n   - 25 = exact match (e.g. correct age range, geography, condition)\\n   - 15 = partial match (e.g. broader population including target)\\n   - 5 = loosely related population\\n   - 0 = wrong population (e.g. animal study when humans required)\\n\\n3. METHODOLOGY (0-25): Is the study type appropriate?\\n   - 25 = empirical, peer-reviewed, adequate sample (RCT, cohort, large survey)\\n   - 15 = empirical but small sample or non-peer-reviewed\\n   - 5 = case report, opinion, editorial, narrative review\\n   - 0 = no methodology described / not a study\\n\\n4. PERIOD & CONTEXT (0-25): Date range and geographic/cultural context fit?\\n   - 25 = within specified period AND relevant region\\n   - 15 = within period OR relevant region (one missing)\\n   - 5 = older or different region but transferable\\n   - 0 = clearly outside period and context\\n\\n=== OUTPUT FORMAT ===\\nReturn ONLY a JSON object with this exact structure (no markdown, no explanation):\\n{\"scores\":[{\"index\":0,\"topic\":20,\"population\":15,\"methodology\":15,\"context\":10,\"score\":60,\"reason\":\"brief justification\"}]}\\n\\nProvide one entry per article, indexes 0 to ${batch.length - 1}. Use the full 0-100 range to discriminate.${strictnessGuidance}${customRulesBlock}`;\n\n  batches.push({ json: { prompt, batchIndex: Math.floor(i / BATCH_SIZE), batchSize: batch.length } });\n}\n\nconsole.log('Ranking v4: ' + articles.length + ' articles -> ' + batches.length + ' batches de ' + BATCH_SIZE);\nreturn batches;",
        "mode": "runOnceForAllItems"
      },
      "id": "pb-rank-001",
      "name": "Prepare Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3456/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gemma4:e2b', stream: false, format: 'json', options: { temperature: 0, num_predict: 500, num_ctx: 8192 }, keep_alive: '15m', prompt: $json.prompt }) }}",
        "options": {
          "timeout": 900000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 300
            }
          }
        }
      },
      "id": "hr-rank-001",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === EXPAND v4 - Parser JSON robuste (tolere texte autour) ===\nconst responses = $input.all();\nconst originalItems = $('Pre-Filter Keywords').all();\nconst articles = originalItems.map(i => i.json);\nconst BATCH_SIZE = 3;\n\n// Extrait le JSON {...} du texte meme s'il y a du texte autour ou des backticks\nfunction extractJson(text) {\n  if (!text) return null;\n  // Retire les blocs markdown ```json ... ```\n  text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n  // Cherche le premier { qui ouvre un JSON valide jusqu'au } qui le ferme\n  const start = text.indexOf('{');\n  if (start === -1) return null;\n  let depth = 0, inString = false, escape = false;\n  for (let i = start; i < text.length; i++) {\n    const c = text[i];\n    if (escape) { escape = false; continue; }\n    if (c === '\\\\') { escape = true; continue; }\n    if (c === '\"') { inString = !inString; continue; }\n    if (inString) continue;\n    if (c === '{') depth++;\n    else if (c === '}') {\n      depth--;\n      if (depth === 0) {\n        try { return JSON.parse(text.substring(start, i + 1)); } catch(e) { return null; }\n      }\n    }\n  }\n  return null;\n}\n\nconst results = [];\nlet scoreSum = 0;\nlet okBatches = 0;\nlet failedBatches = 0;\nconst diagnostics = [];\n\nfor (let r = 0; r < responses.length; r++) {\n  const resp = responses[r].json || {};\n  let scoreMap = {};\n  let batchOk = false;\n\n  if (resp.response) {\n    const parsed = extractJson(resp.response);\n    if (parsed && Array.isArray(parsed.scores)) {\n      parsed.scores.forEach((s, autoIdx) => {\n        // (Fix 2026-05-19) Tolerer index manquant : assumer ordre sequentiel du batch.\n        const idx = (s.index !== undefined) ? s.index : autoIdx;\n        // Score peut etre fourni ou calcule depuis breakdown\n        let score;\n        if (s.score !== undefined) {\n          score = parseInt(s.score) || 0;\n        } else {\n          score = (parseInt(s.topic) || 0) + (parseInt(s.population) || 0) + (parseInt(s.methodology) || 0) + (parseInt(s.context) || 0);\n        }\n        score = Math.max(0, Math.min(100, score));\n        const breakdown = (s.topic !== undefined) ? {\n          topic: parseInt(s.topic) || 0,\n          population: parseInt(s.population) || 0,\n          methodology: parseInt(s.methodology) || 0,\n          context: parseInt(s.context) || 0\n        } : (s.breakdown || null);\n        scoreMap[idx] = { score, reason: s.reason || '', breakdown };\n      });\n      batchOk = Object.keys(scoreMap).length > 0;\n    } else {\n      // Diagnostic : log les 200 premiers chars de la reponse\n      diagnostics.push('Batch ' + r + ' parse failed - response starts: ' + (resp.response || '').substring(0, 200));\n    }\n  } else if (resp.error) {\n    diagnostics.push('Batch ' + r + ' API error: ' + (resp.error.message || resp.error).toString().substring(0, 100));\n  } else {\n    diagnostics.push('Batch ' + r + ' empty response');\n  }\n\n  if (batchOk) okBatches++; else failedBatches++;\n\n  const start = r * BATCH_SIZE;\n  const end = Math.min(start + BATCH_SIZE, articles.length);\n  for (let i = start; i < end; i++) {\n    const localIdx = i - start;\n    const data = scoreMap[localIdx] || { score: 50, reason: batchOk ? 'Index missing in response' : 'Batch failed - default score', breakdown: null };\n    scoreSum += data.score;\n    results.push({\n      json: {\n        ...articles[i],\n        score: data.score,\n        score_reason: data.reason,\n        score_breakdown: data.breakdown\n      }\n    });\n  }\n}\n\nconst avg = results.length > 0 ? Math.round(scoreSum / results.length) : 0;\nconsole.log('=== Ranking v4 complete ===');\nconsole.log('Articles: ' + results.length + ' | Batches OK: ' + okBatches + ' | Batches KO: ' + failedBatches);\nconsole.log('Score moyen: ' + avg + '/100');\nif (diagnostics.length > 0) {\n  console.log('--- Diagnostics (premiers echecs) ---');\n  diagnostics.slice(0, 3).forEach(d => console.log(d));\n}\nreturn results;",
        "mode": "runOnceForAllItems"
      },
      "id": "ex-rank-001",
      "name": "Expand Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "IF Skip Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip Ranking": {
      "main": [
        [
          {
            "node": "Pass Through Ranking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pre-Filter Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Filter Keywords": {
      "main": [
        [
          {
            "node": "Prepare Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batches": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Expand Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000007",
  "meta": {
    "instanceId": "fd21ae21426f59c89f8963a136703cbf2a049d0a9eb6f435af497a2b2c1ac5ff"
  },
  "id": "2GS2AJwrY2iSuEXZ",
  "tags": []
}