workflows/ultralab-screening.json
{
  "name": "ultralab-screening",
  "nodes": [
    {
      "parameters": {},
      "id": "1ed1b3c2-dc67-4ce3-8dd6-4f992b4e9e1e",
      "name": "Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1264,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip-screening",
              "leftValue": "={{ $('Input').first().json.skip_screening }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.boolean.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-skip-scr",
      "name": "IF Skip Screening",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1144,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Skip screening: pass articles through with default Maybe decision\nconst articles = $('Input').all().map(i => i.json);\nconsole.log('Screening SKIPPED: ' + articles.length + ' articles passed through with decision=Maybe');\nreturn articles.map(a => ({ json: { ...a, screening_decision: 'Maybe', screening_reason: 'Screening skipped by user', screening_color: 'orange' } }));",
        "mode": "runOnceForAllItems"
      },
      "id": "pt-scr-001",
      "name": "Pass Through Screening",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "// === SCREENING v3 - Prompt simplifie + batches reduits ===\n// PATCH v2 : abstract-missing -> Maybe (no LLM call)\nconst items = $input.all();\nconst articles = items.map(i => i.json);\nconst BATCH_SIZE = 3;\nconst MIN_ABSTRACT_LEN = 50;  // < 50 chars = pas exploitable -> Maybe direct\nconst question = (articles[0] && articles[0].question) || '';\nconst criteria = (articles[0] && articles[0].criteria) || '';\nconst aiSettings = (articles[0] && articles[0]._ai_settings) || {};\nconst strictness = (typeof aiSettings.strictness === 'number') ? aiSettings.strictness : 50;\nconst customRules = (aiSettings.custom_rules || '').toString().trim();\nlet strictnessGuidance = '';\nif (strictness <= 25) {\n  strictnessGuidance = '\\n\\n=== TONE GUIDANCE ===\\nBe CONSERVATIVE: when in doubt, prefer Include or Maybe over Exclude. The user wants to capture as many potentially relevant articles as possible at this stage.';\n} else if (strictness >= 75) {\n  strictnessGuidance = '\\n\\n=== TONE GUIDANCE ===\\nBe STRICT: only mark Include if all criteria are clearly met. When in doubt, prefer Exclude. The user wants a tightly filtered set of highly relevant articles.';\n} else if (strictness >= 60) {\n  strictnessGuidance = '\\n\\n=== TONE GUIDANCE ===\\nBe slightly strict: when in doubt, lean toward Exclude rather than Maybe.';\n} else if (strictness <= 40) {\n  strictnessGuidance = '\\n\\n=== TONE GUIDANCE ===\\nBe slightly conservative: when in doubt, lean toward Maybe rather than Exclude.';\n}\nconst customRulesBlock = customRules\n  ? '\\n\\n=== USER-DEFINED RULES (must be respected) ===\\n' + customRules\n  : '';\nconst batches = [];\n\nfunction sanitize(text) {\n  return (text || '').replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\n// PATCH v2 : pre-filtrer les articles SANS abstract exploitable.\n// Ces articles sortiront avec Maybe directement (pas d'appel LLM = economie + bonne logique).\n// On garde leur index global pour que Expand Results puisse les retrouver.\nlet llmEligibleCount = 0;\nlet skippedNoAbstract = 0;\nfor (let i = 0; i < articles.length; i++) {\n  const abs = sanitize(articles[i].abstract || '');\n  if (abs.length < MIN_ABSTRACT_LEN) {\n    skippedNoAbstract++;\n  } else {\n    llmEligibleCount++;\n  }\n}\nconsole.log('Screening v3 PATCH v2: ' + articles.length + ' articles total, ' +\n            llmEligibleCount + ' avec abstract exploitable, ' +\n            skippedNoAbstract + ' sans abstract (-> Maybe direct, pas d\\'appel LLM).');\n\n// Generation des batches SEULEMENT pour les articles avec abstract exploitable.\n// On stocke aussi la liste des global_indexes pour que Expand Results sache de quel article il s'agit.\nlet pendingBatch = [];\nlet pendingIndexes = [];\n\nfunction flushBatch() {\n  if (pendingBatch.length === 0) return;\n  const articleList = pendingBatch.map((a, j) => {\n    const title = sanitize(a.title || 'No title').substring(0, 120);\n    const abstract = sanitize(a.abstract || '').substring(0, 400);\n    return '[' + j + '] TITLE: ' + title + '\\nABSTRACT: ' + abstract;\n  }).join('\\n\\n');\n\n  const prompt = 'You are a systematic review screener. Decide for each article: Include / Maybe / Exclude.\\n\\n' +\n    'RESEARCH QUESTION:\\n' + sanitize(question).substring(0, 500) + '\\n\\n' +\n    'INCLUSION/EXCLUSION CRITERIA:\\n' + sanitize(criteria).substring(0, 500) + '\\n\\n' +\n    '=== ARTICLES TO SCREEN ===\\n' + articleList + '\\n\\n' +\n    '=== DECISION RULES ===\\n' +\n    '- Include = ALL inclusion criteria clearly met AND no exclusion criterion applies\\n' +\n    '- Maybe = at least one criterion is unclear from the abstract OR the abstract is too brief to decide\\n' +\n    '- Exclude = clearly fails at least one inclusion criterion OR clearly meets an exclusion criterion\\n\\n' +\n    'IMPORTANT : When the abstract is missing or very short, ALWAYS choose Maybe (never Exclude on missing data alone).\\n' +\n    'When genuinely uncertain: choose Maybe (be inclusive at this stage).\\n\\n' +\n    '=== OUTPUT FORMAT ===\\n' +\n    'Return ONLY a JSON object with this exact structure (no markdown, no extra text):\\n' +\n    '{\"decisions\":[{\"index\":0,\"decision\":\"Include\",\"reason\":\"brief justification mentioning which criteria match\"}]}\\n\\n' +\n    'Provide one entry per article, indexes 0 to ' + (pendingBatch.length - 1) +\n    '. The decision field MUST be exactly \"Include\", \"Maybe\", or \"Exclude\".' +\n    strictnessGuidance + customRulesBlock;\n\n  batches.push({ json: {\n    prompt,\n    batchIndex: batches.length,\n    batchSize: pendingBatch.length,\n    global_indexes: pendingIndexes.slice()  // indices originaux des articles dans ce batch\n  }});\n  pendingBatch = [];\n  pendingIndexes = [];\n}\n\nfor (let i = 0; i < articles.length; i++) {\n  const abs = sanitize(articles[i].abstract || '');\n  if (abs.length < MIN_ABSTRACT_LEN) continue;  // skip, sera traite par Expand Results\n  pendingBatch.push(articles[i]);\n  pendingIndexes.push(i);\n  if (pendingBatch.length >= BATCH_SIZE) flushBatch();\n}\nflushBatch();\n\nconsole.log('Screening v3 PATCH v2: ' + batches.length + ' batches LLM construits (skip ' + skippedNoAbstract + ' articles).');\nreturn batches;",
        "mode": "runOnceForAllItems"
      },
      "id": "pb-scr-001",
      "name": "Prepare Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3456/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gemma4:e2b', stream: false, format: 'json', options: { temperature: 0, num_predict: 500, num_ctx: 8192 }, keep_alive: '30m', prompt: $json.prompt }) }}",
        "options": {
          "timeout": 900000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          }
        }
      },
      "id": "hr-scr-001",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        -304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === EXPAND v3 - Parser JSON robuste + PATCH v2 : Maybe pour articles sans abstract ===\nconst responses = $input.all();\nconst originalItems = $('Input').all();\nconst articles = originalItems.map(i => i.json);\nconst MIN_ABSTRACT_LEN = 50;\nconst colorMap = { 'Include': 'green', 'Maybe': 'orange', 'Exclude': 'red' };\n\nfunction sanitize(text) {\n  return (text || '').replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction extractJson(text) {\n  if (!text) return null;\n  text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n  const start = text.indexOf('{');\n  if (start === -1) return null;\n  let depth = 0, inString = false, escape = false;\n  for (let i = start; i < text.length; i++) {\n    const c = text[i];\n    if (escape) { escape = false; continue; }\n    if (c === '\\\\') { escape = true; continue; }\n    if (c === '\"') { inString = !inString; continue; }\n    if (inString) continue;\n    if (c === '{') depth++;\n    else if (c === '}') {\n      depth--;\n      if (depth === 0) {\n        try { return JSON.parse(text.substring(start, i + 1)); } catch(e) { return null; }\n      }\n    }\n  }\n  return null;\n}\n\n// PATCH v2 : map article_index -> {decision, reason} construite a partir des reponses LLM.\n// Les articles SANS abstract (skip Prepare Batches) ne sont pas dans cette map -> defaut Maybe.\nconst decisionByArticleIdx = new Map();\nlet okBatches = 0, failedBatches = 0;\nconst diagnostics = [];\n\nfor (let r = 0; r < responses.length; r++) {\n  const resp = responses[r].json || {};\n  const batchIdx = resp.batchIndex !== undefined ? resp.batchIndex : r;\n  // PATCH v2 : on lit le mapping global_indexes injecte par Prepare Batches\n  // Sinon fallback : on suppose batches sequentiels (compat avec ancien comportement).\n  const globalIndexes = Array.isArray(resp.global_indexes) ? resp.global_indexes : null;\n  const batchSize = resp.batchSize || 3;\n\n  let parsed = null;\n  let batchOk = false;\n\n  if (resp.response) {\n    parsed = extractJson(resp.response);\n    if (parsed && Array.isArray(parsed.decisions)) {\n      batchOk = parsed.decisions.length > 0;\n    } else {\n      diagnostics.push('Batch ' + batchIdx + ' parse failed - response starts: ' + (resp.response || '').substring(0, 200));\n    }\n  } else if (resp.error) {\n    diagnostics.push('Batch ' + batchIdx + ' API error: ' + (resp.error.message || resp.error).toString().substring(0, 100));\n  } else {\n    diagnostics.push('Batch ' + batchIdx + ' empty response');\n  }\n\n  if (batchOk) okBatches++; else failedBatches++;\n\n  // Si on n'a pas de globalIndexes (compat ancien) : utiliser ordre sequentiel\n  // Sinon (PATCH v2) : utiliser le mapping explicite\n  if (parsed && Array.isArray(parsed.decisions)) {\n    parsed.decisions.forEach((d, autoIdx) => {\n      const localIdx = (d.index !== undefined) ? d.index : autoIdx;\n      let articleIdx;\n      if (globalIndexes && localIdx < globalIndexes.length) {\n        articleIdx = globalIndexes[localIdx];\n      } else {\n        // Fallback : ordre sequentiel base sur batchIdx\n        articleIdx = batchIdx * batchSize + localIdx;\n      }\n      let decision = (d.decision || 'Maybe').toString().trim();\n      const lower = decision.toLowerCase();\n      if (lower.startsWith('inc')) decision = 'Include';\n      else if (lower.startsWith('exc')) decision = 'Exclude';\n      else decision = 'Maybe';\n      decisionByArticleIdx.set(articleIdx, { decision, reason: d.reason || '' });\n    });\n  }\n}\n\n// Construction du resultat final : un item par article original\nconst results = [];\nlet totalInc = 0, totalExc = 0, totalMay = 0;\nlet skippedNoAbstract = 0;\n\nfor (let i = 0; i < articles.length; i++) {\n  const article = articles[i];\n  const abs = sanitize(article.abstract || '');\n  const llmResult = decisionByArticleIdx.get(i);\n  let decision, reason;\n\n  if (abs.length < MIN_ABSTRACT_LEN) {\n    // PATCH v2 : Articles sans abstract exploitable -> Maybe direct\n    decision = 'Maybe';\n    reason = abs.length === 0\n      ? 'Abstract absent - decision Maybe par defaut (article non excluable sur titre seul)'\n      : 'Abstract trop court (' + abs.length + ' chars) - decision Maybe par defaut';\n    skippedNoAbstract++;\n  } else if (llmResult) {\n    // Article traite par le LLM\n    decision = llmResult.decision;\n    reason = llmResult.reason;\n  } else {\n    // Article cense etre traite par LLM mais pas de resultat (batch failed apres tous les retries)\n    decision = 'Maybe';\n    reason = 'Batch LLM failed - decision Maybe par defaut (a re-examiner manuellement)';\n  }\n\n  if (decision === 'Include') totalInc++;\n  else if (decision === 'Exclude') totalExc++;\n  else totalMay++;\n\n  results.push({\n    json: {\n      ...article,\n      screening_decision: decision,\n      screening_reason: reason,\n      screening_color: colorMap[decision] || 'orange'\n    }\n  });\n}\n\nconsole.log('=== Screening v3 PATCH v2 complete ===');\nconsole.log('Articles: ' + results.length + ' | Batches OK: ' + okBatches + ' | Batches KO: ' + failedBatches);\nconsole.log('Sans abstract (Maybe direct) : ' + skippedNoAbstract);\nconsole.log('Decisions: Include=' + totalInc + ' Maybe=' + totalMay + ' Exclude=' + totalExc);\nif (diagnostics.length > 0) {\n  console.log('--- Diagnostics ---');\n  diagnostics.slice(0, 5).forEach(d => console.log(d));\n}\nreturn results;",
        "mode": "runOnceForAllItems"
      },
      "id": "ex-scr-001",
      "name": "Expand Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "IF Skip Screening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip Screening": {
      "main": [
        [
          {
            "node": "Pass Through Screening",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batches": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Expand Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000015",
  "meta": {
    "instanceId": "fd21ae21426f59c89f8963a136703cbf2a049d0a9eb6f435af497a2b2c1ac5ff"
  },
  "id": "KGL9l8LCxrnYBFtW",
  "tags": []
}