workflows/ultralab-pdf-extract.json
{
  "name": "ultralab-pdf-extract",
  "nodes": [
    {
      "parameters": {},
      "id": "input-pdf-extract",
      "name": "Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// === FILTER ARTICLES WITH PDFS ===\n// Garde seulement les articles ayant un pdf_local OU un pdf_url telechargeable\nconst items = $input.all();\nconst all = items.map(i => i.json);\nconst withPdf = all.filter(a => a.pdf_local && a.pdf_local.length > 0);\nconst extractFields = (all[0] && all[0].extract_fields) || [\n  { name: 'population',   description: 'Population studied (age, gender, condition, sample size)' },\n  { name: 'intervention', description: 'Intervention or exposure assessed' },\n  { name: 'comparator',   description: 'Comparator or control group' },\n  { name: 'outcomes',     description: 'Main outcomes measured (with values if available)' },\n  { name: 'study_design', description: 'Study design (RCT, cohort, cross-sectional, etc.)' },\n  { name: 'period',       description: 'Study period or follow-up duration' },\n  { name: 'country',      description: 'Country/region where the study took place' },\n  { name: 'main_findings',description: 'Key findings in 2-3 sentences' },\n  { name: 'limitations',  description: 'Main limitations reported by the authors' }\n];\n\nconsole.log('PDF Extract: ' + all.length + ' articles total, ' + withPdf.length + ' avec PDF telecharge');\nconsole.log('Champs a extraire: ' + extractFields.map(f => f.name).join(', '));\n\nif (withPdf.length === 0) {\n  return [{ json: { _error: 'Aucun PDF disponible. Lancez d\\'abord le module pdf-fetch.', _articles: all } }];\n}\n\n// Propager extract_fields a tous les articles + index\nreturn withPdf.map((a, i) => ({\n  json: {\n    ...a,\n    _extract_fields: extractFields,\n    _article_index: i,\n    _total: withPdf.length\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "id": "filter-pdf",
      "name": "Filter & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3456/extract-pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pdf_path: $json.pdf_local, max_chars: 30000, skip_biblio: true }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "extract-text",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === BUILD EXTRACTION PROMPT (runOnceForAllItems) ===\nconst pdfResponses = $input.all();\nconst articles = $('Filter & Prepare').all().map(i => i.json);\n// EXTRACTION_AI_SETTINGS_v1 - reglage avance extraction (strictesse + regles) depuis la config\nlet __exAi = {};\ntry { __exAi = await this.helpers.httpRequest({ method:'GET', url:'http://host.docker.internal:8080/api/config', timeout:5000, json:true }) || {}; } catch(e) {}\nconst __exStrict = (typeof __exAi.extraction_strictness === 'number') ? __exAi.extraction_strictness : 50;\nconst __exRules = (__exAi.extraction_custom_rules || '').toString().trim();\nlet __exGuidance = '';\nif (__exStrict >= 75) __exGuidance = '\\n\\nEXTRACTION MODE: CONSERVATIVE - extract ONLY values explicitly stated in the text. Never infer or estimate. If a value is not explicit, return \"not reported\".';\nelse if (__exStrict <= 25) __exGuidance = '\\n\\nEXTRACTION MODE: LIBERAL - you may infer reasonable values from context when not explicitly stated.';\nconst __exRulesBlock = __exRules ? ('\\n\\n=== USER-DEFINED EXTRACTION RULES (must be respected) ===\\n' + __exRules) : '';\n\nfunction sanitize(text) {\n  return (text || '').replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst out = [];\nfor (let i = 0; i < articles.length; i++) {\n  const article = articles[i];\n  const pdfResp = (pdfResponses[i] && pdfResponses[i].json) || {};\n  const fields = article._extract_fields || [];\n\n  const pdfText = pdfResp.text || '';\n  const pdfFailed = !pdfResp.success || !pdfText;\n\n  const title = sanitize(article.title || 'Untitled').substring(0, 200);\n  const doi = article.doi || '';\n\n  let sourceText = pdfText;\n  let sourceType = 'PDF full text';\n  if (pdfFailed) {\n    sourceText = sanitize(article.abstract || '');\n    sourceType = 'abstract only (PDF unavailable)';\n    console.log('[' + (article._article_index !== undefined ? article._article_index : i) + '] PDF failed for: ' + title.substring(0, 60));\n  }\n\n  if (!sourceText) {\n    out.push({ json: {\n      prompt: 'NO_TEXT_AVAILABLE',\n      _article: article,\n      _source_type: 'none',\n      _has_text: false\n    }});\n    continue;\n  }\n\n  const fieldList = fields.map(f => '- ' + f.name + ': ' + f.description).join('\\n');\n  const jsonExample = '{' + fields.map(f => '\"' + f.name + '\": \"...\"').join(', ') + '}';\n\n  const prompt = 'You are a scientific data extraction assistant. Extract structured information from this research article.\\n\\nARTICLE:\\nTitle: ' + title + '\\nDOI: ' + doi + '\\nSource: ' + sourceType + '\\n\\nFULL TEXT:\\n' + sourceText.substring(0, 12000) + '\\n\\n=== FIELDS TO EXTRACT ===\\n' + fieldList + '\\n\\n=== INSTRUCTIONS ===\\n1. Extract each field by reading the article carefully.\\n2. Use the EXACT phrases from the article when possible (do not paraphrase numbers/values).\\n3. If a field cannot be determined from the text, return \"not reported\".\\n4. Keep each value concise: maximum 200 characters.\\n5. Return ONLY a JSON object with these exact keys, no markdown, no comments:\\n' + jsonExample + __exGuidance + __exRulesBlock;\n\n  out.push({ json: {\n    prompt: prompt,\n    _article: article,\n    _source_type: sourceType,\n    _has_text: true\n  }});\n}\n\nconsole.log('Build Prompt: ' + out.length + ' prompts generated');\nreturn out;",
        "mode": "runOnceForAllItems"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3456/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'nuextract:3.8b', _ultralab_task: 'extraction', stream: false, format: 'json', options: { temperature: 0, num_ctx: 8192, num_predict: 700 }, keep_alive: '30m', prompt: $json.prompt }) }}",
        "options": {
          "timeout": 900000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 200
            }
          }
        }
      },
      "id": "call-llm",
      "name": "Call Ollama Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === PARSE EXTRACTION RESULTS (runOnceForAllItems) ===\nconst llmResponses = $input.all();\nconst buildResults = $('Build Prompt').all().map(i => i.json);\n\nfunction extractJson(text) {\n  if (!text) return null;\n  text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '');\n  const start = text.indexOf('{');\n  if (start === -1) return null;\n  let depth = 0, inString = false, escape = false;\n  for (let i = start; i < text.length; i++) {\n    const c = text[i];\n    if (escape) { escape = false; continue; }\n    if (c === '\\\\') { escape = true; continue; }\n    if (c === '\"') { inString = !inString; continue; }\n    if (inString) continue;\n    if (c === '{') depth++;\n    else if (c === '}') {\n      depth--;\n      if (depth === 0) {\n        try { return JSON.parse(text.substring(start, i + 1)); } catch(e) { return null; }\n      }\n    }\n  }\n  return null;\n}\n\nconst out = [];\nlet okCount = 0;\nfor (let i = 0; i < buildResults.length; i++) {\n  const buildItem = buildResults[i];\n  const article = buildItem._article;\n  const sourceType = buildItem._source_type;\n  const hasText = buildItem._has_text;\n\n  // Si pas de texte, on retourne directement (pas d'appel LLM)\n  if (!hasText) {\n    out.push({ json: { ...article, _extracted: {}, _extract_status: 'no_text_available', _extract_source: 'none' }});\n    continue;\n  }\n\n  const llmResp = (llmResponses[i] && llmResponses[i].json) || {};\n  let extracted = {};\n  let status = 'failed';\n\n  // Sauvegarder un echantillon de reponses brutes pour diagnostic (5 premiers articles).\n  // Capture aussi le message d'erreur quand response est undefined (cas llm_error) :\n  // sans ca on ne sait pas si Ollama timeout, OOM, modele decharge, etc.\n  if (i < 5) {\n    if (llmResp.response !== undefined) {\n      article._debug_llm_raw = String(llmResp.response).substring(0, 500);\n    } else if (llmResp.error !== undefined) {\n      const errStr = typeof llmResp.error === 'string' ? llmResp.error : JSON.stringify(llmResp.error);\n      article._debug_llm_raw = '[ERROR] ' + errStr.substring(0, 500);\n    }\n    article._debug_llm_keys = Object.keys(llmResp).slice(0, 10);\n  }\n  if (llmResp.response) {\n    const parsed = extractJson(llmResp.response);\n    if (parsed && typeof parsed === 'object') {\n      extracted = parsed;\n      status = 'ok';\n      okCount++;\n    } else {\n      status = 'parse_error';\n    }\n  } else if (llmResp.error) {\n    status = 'llm_error';\n    if (i < 3) console.log('LLM error article ' + i + ': ' + JSON.stringify(llmResp.error).substring(0, 300));\n  } else if (llmResp.response === undefined) {\n    status = 'no_response';\n    if (i < 3) console.log('No response field article ' + i + ': ' + JSON.stringify(llmResp).substring(0, 300));\n  }\n\n  out.push({ json: { ...article, _extracted: extracted, _extract_status: status, _extract_source: sourceType }});\n}\n\nconsole.log('Parse Extraction: ' + okCount + '/' + out.length + ' extractions OK');\n\n// EXTRACTION_DOUBLE_AGREEMENT_v1 - 2e extraction (modele OBLIGATOIREMENT different) + accord par champ, opt-in\ntry {\n  let __cfg = {};\n  try { __cfg = await this.helpers.httpRequest({ method:'GET', url:'http://host.docker.internal:8080/api/config', timeout:5000, json:true }) || {}; } catch(e) {}\n  const __dblOn = __cfg.screening_double_enabled === true;\n  const __m1 = (__cfg.ollama_model||'').trim();\n  const __m2 = (__cfg.screening_model_2||'').trim();\n  if (__dblOn && __m2 && __m2 !== __m1) {\n    function __norm(v){ return String(v==null?'':v).toLowerCase().replace(/[^a-z0-9à-ÿ ]+/g,' ').replace(/\\s+/g,' ').trim(); }\n    function __agree(a,b){ var na=__norm(a), nb=__norm(b); if(!na && !nb) return true; if(!na || !nb) return false; if(na===nb) return true; var sa=na.split(' ').filter(Boolean), sb=nb.split(' ').filter(Boolean); var setb={}; sb.forEach(function(w){setb[w]=1;}); var inter=0; sa.forEach(function(w){if(setb[w])inter++;}); var uni=(new Set(sa.concat(sb))).size||1; return (inter/uni) >= 0.6; }\n    var __allRates=[]; var __fieldTot={}, __fieldAgr={};\n    for (let __i=0; __i<out.length; __i++){\n      var __o = out[__i].json;\n      if (__o._extract_status !== 'ok') continue;\n      var __prompt = (buildResults[__i] && buildResults[__i].prompt) || '';\n      if (!__prompt) continue;\n      var __raw2='';\n      try {\n        var __r2 = await this.helpers.httpRequest({ method:'POST', url:'http://host.docker.internal:3456/api/generate', body: JSON.stringify({ model:__m2, _ultralab_task:'screening_pass2', stream:false, format:'json', options:{temperature:0,num_ctx:8192,num_predict:700}, keep_alive:'30m', prompt:__prompt }), headers:{'Content-Type':'application/json'}, json:true, timeout:900000 });\n        __raw2 = (__r2 && __r2.response) || '';\n      } catch(e) {}\n      var __e2 = extractJson(__raw2) || {};\n      var __e1 = __o._extracted || {};\n      var __keys = Object.keys(__e1); Object.keys(__e2).forEach(function(k){ if(__keys.indexOf(k)<0)__keys.push(k); });\n      var __fa = {}; var __ag=0, __tt=0;\n      __keys.forEach(function(k){ var ok=__agree(__e1[k], __e2[k]); __fa[k]=ok; __tt++; if(ok)__ag++; __fieldTot[k]=(__fieldTot[k]||0)+1; if(ok)__fieldAgr[k]=(__fieldAgr[k]||0)+1; });\n      var __rate = __tt? (__ag/__tt) : 1;\n      __o._extracted_2 = __e2; __o._extraction_field_agreement = __fa; __o._extraction_agreement = Math.round(__rate*1000)/10; __o.screening_model2 = __m2;\n      if (__rate < 0.7) __o._needs_human_review = true;\n      __allRates.push(__rate);\n    }\n    if (__allRates.length){\n      var __mean = __allRates.reduce(function(a,b){return a+b;},0)/__allRates.length;\n      var __perField={}; Object.keys(__fieldTot).forEach(function(k){ __perField[k]=Math.round((__fieldAgr[k]||0)/__fieldTot[k]*1000)/10; });\n      var __sum={ enabled:true, phase:'extraction', model_1:__m1, model_2:__m2, n_double:__allRates.length, mean_agreement_pct: Math.round(__mean*1000)/10, per_field_agreement_pct: __perField };\n      console.log('[Extraction double] accord moyen '+__sum.mean_agreement_pct+'% sur '+__allRates.length+' articles ('+__m1+' vs '+__m2+')');\n      for (let __j=0;__j<out.length;__j++){ out[__j].json._extraction_double = __sum; }\n    }\n  }\n} catch(e) { console.log('[Extraction double] erreur: '+e.message); }\n\nreturn out;",
        "mode": "runOnceForAllItems"
      },
      "id": "parse-extract",
      "name": "Parse Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// === LOG SUMMARY ===\nconst items = $input.all();\nconst articles = items.map(i => i.json);\nconst ok = articles.filter(a => a._extract_status === 'ok').length;\nconst parseErr = articles.filter(a => a._extract_status === 'parse_error').length;\nconst llmErr = articles.filter(a => a._extract_status === 'llm_error').length;\nconst noText = articles.filter(a => a._extract_status === 'no_text_available').length;\nconst failed = articles.length - ok;\nconsole.log('=== PDF Extract complete ===');\nconsole.log('Articles traites : ' + articles.length);\nconsole.log('  OK              : ' + ok);\nconsole.log('  Erreurs parse   : ' + parseErr);\nconsole.log('  Erreurs LLM     : ' + llmErr);\nconsole.log('  Sans texte      : ' + noText);\nif (failed === articles.length) {\n  console.log('!!! AUCUN article extrait avec succes - verifier que :');\n  console.log('  1. Les PDFs sont bien presents (champ pdf_local rempli)');\n  console.log('  2. Le proxy /extract-pdf fonctionne (logs proxy)');\n  console.log('  3. Le LLM repond bien (logs proxy /api/generate)');\n  // Logger le 1er article en detail pour debug\n  const a = articles[0] || {};\n  console.log('  Article 0 :');\n  console.log('    pdf_local : ' + (a.pdf_local || '(vide)'));\n  console.log('    status    : ' + a._extract_status);\n  console.log('    source    : ' + a._extract_source);\n  console.log('    extracted : ' + JSON.stringify(a._extracted || {}));\n}\nreturn articles.map(a => ({ json: a }));",
        "mode": "runOnceForAllItems"
      },
      "id": "summary-extract",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "Filter & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Prepare": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama Extract": {
      "main": [
        [
          {
            "node": "Parse Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Extraction": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000030",
  "meta": {
    "instanceId": "fd21ae21426f59c89f8963a136703cbf2a049d0a9eb6f435af497a2b2c1ac5ff"
  },
  "id": "PDFExtractWFid001",
  "tags": []
}