workflows/ultralab-api-search-isolated.json
{
  "name": "ultralab-api-search-isolated",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ultralab-api-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-api-search-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "ultralab-api-search-iso"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "p-action",
              "name": "action",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.action!==undefined)?b.action:d.action;return (x||'count').toString();})() }}"
            },
            {
              "id": "p-pmq",
              "name": "pubmed_query",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.pubmed_query!==undefined)?b.pubmed_query:d.pubmed_query;return (x||'').toString();})() }}"
            },
            {
              "id": "p-oaq",
              "name": "openalex_query",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.openalex_query!==undefined)?b.openalex_query:d.openalex_query;return (x||'').toString();})() }}"
            },
            {
              "id": "p-crq",
              "name": "crossref_query",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.crossref_query!==undefined)?b.crossref_query:d.crossref_query;return (x||'').toString();})() }}"
            },
            {
              "id": "p-cpm",
              "name": "cap_pubmed",
              "type": "number",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_pubmed!==undefined)?b.cap_pubmed:d.cap_pubmed;var n=Number(x);return isNaN(n)?0:n;})() }}"
            },
            {
              "id": "p-coa",
              "name": "cap_openalex",
              "type": "number",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_openalex!==undefined)?b.cap_openalex:d.cap_openalex;var n=Number(x);return isNaN(n)?0:n;})() }}"
            },
            {
              "id": "p-ccr",
              "name": "cap_crossref",
              "type": "number",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_crossref!==undefined)?b.cap_crossref:d.cap_crossref;var n=Number(x);return isNaN(n)?0:n;})() }}"
            },
            {
              "id": "p-cgl",
              "name": "cap_global",
              "type": "number",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_global!==undefined)?b.cap_global:d.cap_global;var n=Number(x);return isNaN(n)?0:n;})() }}"
            },
            {
              "id": "p-ul",
              "name": "unlimited",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.unlimited!==undefined)?b.unlimited:d.unlimited;return x===true;})() }}"
            },
            {
              "id": "p-of",
              "name": "output_folder",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.output_folder!==undefined)?b.output_folder:d.output_folder;return (x||'/desktop').toString();})() }}"
            },
            {
              "id": "p-doaj-query",
              "name": "doaj_query",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.doaj_query!==undefined)?b.doaj_query:d.doaj_query;return (x||'').toString();})() }}"
            },
            {
              "id": "p-base-query",
              "name": "base_query",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.base_query!==undefined)?b.base_query:d.base_query;return (x||'').toString();})() }}"
            },
            {
              "id": "p-lens-query",
              "name": "lens_query",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.lens_query!==undefined)?b.lens_query:d.lens_query;return (x||'').toString();})() }}"
            },
            {
              "id": "p-sciencedirect-query",
              "name": "sciencedirect_query",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.sciencedirect_query!==undefined)?b.sciencedirect_query:d.sciencedirect_query;return (x||'').toString();})() }}"
            },
            {
              "id": "p-semanticscholar-query",
              "name": "semanticscholar_query",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.semanticscholar_query!==undefined)?b.semanticscholar_query:d.semanticscholar_query;return (x||'').toString();})() }}"
            },
            {
              "id": "p-cap-semanticscholar",
              "name": "cap_semanticscholar",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_semanticscholar!==undefined)?b.cap_semanticscholar:d.cap_semanticscholar;return (x||'').toString();})() }}"
            },
            {
              "id": "p-cap-doaj",
              "name": "cap_doaj",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_doaj!==undefined)?b.cap_doaj:d.cap_doaj;return (x||'').toString();})() }}"
            },
            {
              "id": "p-cap-base",
              "name": "cap_base",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_base!==undefined)?b.cap_base:d.cap_base;return (x||'').toString();})() }}"
            },
            {
              "id": "p-cap-lens",
              "name": "cap_lens",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_lens!==undefined)?b.cap_lens:d.cap_lens;return (x||'').toString();})() }}"
            },
            {
              "id": "p-cap-sciencedirect",
              "name": "cap_sciencedirect",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_sciencedirect!==undefined)?b.cap_sciencedirect:d.cap_sciencedirect;return (x||'').toString();})() }}"
            },
            {
              "id": "p-maxres",
              "name": "max_results",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body||{}; if(b.unlimited===true) return '100000'; var n=parseInt(b.cap_global); return (n&&n>0)?String(n):'1000'; })() }}"
            },
            {
              "id": "p-date-start",
              "name": "date_start",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.date_start!==undefined)?b.date_start:d.date_start;return (x||'').toString();})() }}"
            },
            {
              "id": "p-date-end",
              "name": "date_end",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.date_end!==undefined)?b.date_end:d.date_end;return (x||'').toString();})() }}"
            },
            {
              "id": "p-en-pubm",
              "name": "enable_pubmed",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.enable_pubmed!==undefined)?b.enable_pubmed:d.enable_pubmed;return (x===false)?false:true;})() }}"
            },
            {
              "id": "p-en-open",
              "name": "enable_openalex",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.enable_openalex!==undefined)?b.enable_openalex:d.enable_openalex;return (x===false)?false:true;})() }}"
            },
            {
              "id": "p-en-cros",
              "name": "enable_crossref",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.enable_crossref!==undefined)?b.enable_crossref:d.enable_crossref;return (x===false)?false:true;})() }}"
            },
            {
              "id": "p-en-sema",
              "name": "enable_semanticscholar",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.enable_semanticscholar!==undefined)?b.enable_semanticscholar:d.enable_semanticscholar;return (x===false)?false:true;})() }}"
            },
            {
              "id": "p-en-doaj",
              "name": "enable_doaj",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.enable_doaj!==undefined)?b.enable_doaj:d.enable_doaj;return (x===false)?false:true;})() }}"
            },
            {
              "id": "p-en-base",
              "name": "enable_base",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.enable_base!==undefined)?b.enable_base:d.enable_base;return (x===false)?false:true;})() }}"
            },
            {
              "id": "p-en-lens",
              "name": "enable_lens",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.enable_lens!==undefined)?b.enable_lens:d.enable_lens;return (x===false)?false:true;})() }}"
            },
            {
              "id": "p-en-scie",
              "name": "enable_sciencedirect",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.enable_sciencedirect!==undefined)?b.enable_sciencedirect:d.enable_sciencedirect;return (x===false)?false:true;})() }}"
            },
            {
              "id": "p-ct-query",
              "name": "clinicaltrials_query",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.clinicaltrials_query!==undefined)?b.clinicaltrials_query:d.clinicaltrials_query;return (x||'').toString();})() }}"
            },
            {
              "id": "p-cap-ct",
              "name": "cap_clinicaltrials",
              "type": "string",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.cap_clinicaltrials!==undefined)?b.cap_clinicaltrials:d.cap_clinicaltrials;return (x||'').toString();})() }}"
            },
            {
              "id": "p-en-ct",
              "name": "enable_clinicaltrials",
              "type": "boolean",
              "value": "={{ (function(){var b=$('Webhook').first().json.body;var d=$('Webhook').first().json;var x=(b&&b.enable_clinicaltrials!==undefined)?b.enable_clinicaltrials:d.enable_clinicaltrials;return (x===true)?true:false;})() }}"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "extract-api-search-001",
      "name": "Extract Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-action-count",
              "leftValue": "={{ $json.action }}",
              "rightValue": "count",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-action-001",
      "name": "IF Action Count",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_pubmed === false) return [{ json: { _source: 'pubmed', count: 0, _disabled_by_user: true } }];\n\n// PUBMED COUNT - juste retmax=0 pour avoir le total\nconst input = $('Extract Params').first().json;\nconst query = encodeURIComponent(input.pubmed_query || '');\nconst PROXY = 'http://host.docker.internal:3456';\n\nif (!query) {\n  return [{ json: { _source: 'pubmed', count: 0, query: '' } }];\n}\n\ntry {\n  const url = `https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&term=${query}&retmax=0&retmode=json`;\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: PROXY + '?url=' + encodeURIComponent(url),\n    timeout: 30000\n  });\n  const count = parseInt((resp.esearchresult || {}).count || '0');\n  console.log('PubMed count: ' + count);\n  return [{ json: { _source: 'pubmed', count, query: input.pubmed_query } }];\n} catch(e) {\n  console.log('PubMed count error: ' + e.message);\n  return [{ json: { _source: 'pubmed', count: 0, error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "count-pubmed-001",
      "name": "PubMed Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_openalex === false) return [{ json: { _source: 'openalex', count: 0, _disabled_by_user: true } }];\n\n// OPENALEX COUNT - per-page=1 pour avoir meta.count\nconst input = $('Extract Params').first().json;\nconst query = encodeURIComponent(input.openalex_query || '');\nvar __dY1 = parseInt(input.date_start) || 0, __dY2 = parseInt(input.date_end) || 0; // R4_COUNT_DATES_v1\nvar __dsuf = (__dY1 && __dY2) ? ('&filter=from_publication_date:' + __dY1 + '-01-01,to_publication_date:' + __dY2 + '-12-31') : '';\nconst PROXY = 'http://host.docker.internal:3456';\n\nif (!query) {\n  return [{ json: { _source: 'openalex', count: 0, query: '' } }];\n}\n\n// OPENALEX_COUNT_RETRY_v1 - OpenAlex 503 intermittent cote serveur -> 2 tentatives\nconst url = `https://api.openalex.org/works?search=${query}${__dsuf}&per-page=1&select=id&mailto=ultralab@review.org`;\nlet __last = null;\nfor (let __try = 0; __try < 2; __try++) {\n  try {\n    const resp = await this.helpers.httpRequest({ method: 'GET', url: PROXY + '?url=' + encodeURIComponent(url), timeout: 60000 });\n    const count = parseInt((resp.meta || {}).count || '0');\n    console.log('OpenAlex count: ' + count + (__try ? ' (retry)' : ''));\n    return [{ json: { _source: 'openalex', count, query: input.openalex_query } }];\n  } catch(e) {\n    __last = e;\n    if (__try === 0) { await new Promise(function(r){ setTimeout(r, 1500); }); }\n  }\n}\nvar __m = /timeout|50[23]|ECONN|EAI_AGAIN/i.test(String((__last && __last.message) || '')) ? 'OpenAlex temporairement indisponible (erreur 503 de leur serveur) ou requete trop large - reessayez, ou affinez avec des dates / des termes' : ((__last && __last.message) || 'erreur inconnue');\nconsole.log('OpenAlex count error: ' + __m);\nreturn [{ json: { _source: 'openalex', count: 0, error: __m } }];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "count-openalex-001",
      "name": "OpenAlex Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_crossref === false) return [{ json: { _source: 'crossref', count: 0, _disabled_by_user: true } }];\n\n// CROSSREF COUNT - rows=0 pour avoir message.total-results\nconst input = $('Extract Params').first().json;\nconst query = encodeURIComponent(input.crossref_query || '');\nvar __dY1 = parseInt(input.date_start) || 0, __dY2 = parseInt(input.date_end) || 0; // R4_COUNT_DATES_v1\nvar __dsuf = (__dY1 && __dY2) ? ('&filter=from-pub-date:' + __dY1 + '-01-01,until-pub-date:' + __dY2 + '-12-31') : '';\nconst PROXY = 'http://host.docker.internal:3456';\n\nif (!query) {\n  return [{ json: { _source: 'crossref', count: 0, query: '' } }];\n}\n\ntry {\n  const url = `https://api.crossref.org/works?query=${query}${__dsuf}&rows=0&mailto=ultralab@review.org`;\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: PROXY + '?url=' + encodeURIComponent(url),\n    timeout: 30000\n  });\n  const count = parseInt((resp.message || {})['total-results'] || '0');\n  console.log('Crossref count: ' + count);\n  return [{ json: { _source: 'crossref', count, query: input.crossref_query } }];\n} catch(e) {\n  console.log('Crossref count error: ' + e.message);\n  return [{ json: { _source: 'crossref', count: 0, error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "count-crossref-001",
      "name": "Crossref Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "numberInputs": 9
      },
      "id": "merge-count-001",
      "name": "Merge Count",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        820,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Combine les counts des 7 sources en un seul JSON avec total et warnings\nconst items = $input.all().map(i => i.json);\nconst counts = { pubmed: 0, openalex: 0, crossref: 0, semanticscholar: 0, doaj: 0, base: 0, lens: 0, sciencedirect: 0, clinicaltrials: 0 };\nconst errors = {};\n\nfor (const item of items) {\n  const src = item._source;\n  if (src && counts[src] !== undefined) {\n    counts[src] = item.count || 0;\n    if (item.error) errors[src] = item.error;\n  }\n}\n\nconst total = counts.pubmed + counts.openalex + counts.crossref + counts.semanticscholar + counts.doaj + counts.base + counts.lens + counts.sciencedirect + counts.clinicaltrials;\nconst warnings = [];\n\nif (total === 0) {\n  warnings.push('Aucun resultat trouve sur les 8 bases. Verifiez votre equation.');\n}\nif (total > 10000) {\n  warnings.push('Plus de 10 000 resultats. Le traitement risque de saturer la RAM. Pensez a poser un cap.');\n}\nif (total > 50000) {\n  warnings.push('CRITIQUE : plus de 50 000 resultats. Tres fortement deconseille sans cap strict.');\n}\nif (Object.keys(errors).length > 0) {\n  warnings.push('Erreurs API : ' + JSON.stringify(errors));\n}\n\nconsole.log('Count summary: pubmed=' + counts.pubmed + ' openalex=' + counts.openalex + ' crossref=' + counts.crossref + ' semanticscholar=' + counts.semanticscholar + ' doaj=' + counts.doaj + ' base=' + counts.base + ' lens=' + counts.lens + ' sciencedirect=' + counts.sciencedirect + ' total=' + total);\n\nreturn [{ json: {\n  action: 'count',\n  success: true,\n  pubmed_count: counts.pubmed,\n  openalex_count: counts.openalex,\n  crossref_count: counts.crossref,\n  semanticscholar_count: counts.semanticscholar,\n  doaj_count: counts.doaj,\n  base_count: counts.base,\n  lens_count: counts.lens,\n  sciencedirect_count: counts.sciencedirect,\n  clinicaltrials_count: counts.clinicaltrials,\n  total,\n  warnings,\n  errors\n}}];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "agg-count-001",
      "name": "Aggregate Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        -50
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {}
      },
      "id": "respond-count-001",
      "name": "Respond Count",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1220,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "// MODULE_DELEGATE_SEARCH_v1\n\n// GENERATE NBIB + SAVE FILE\n// Format MEDLINE/nbib :\n//   TAG - VALUE\n//   Article separator : ligne vide\n//\n// Tags utilises :\n//   PMID, PT (publication type), TI, AU, FAU, DP (date), TA (journal abbrev),\n//   JT (journal full), AB (abstract), AID (article ID = doi), VI (volume),\n//   IP (issue), PG (pages), LID (location ID), OWN (owner), STAT\nconst fs = require('fs');\nconst path = require('path');\n\nconst allItems = $input.all().map(i => i.json).filter(a => !a._empty);\nconst inputParams = $('Extract Params').first().json;\nconst capGlobal = parseInt(inputParams.cap_global) || 0;\nconst unlimited = inputParams.unlimited === true;\n\n// PERSOURCE_CAP_v1 - honore les caps par base (les fetch paginent par blocs de ~200 et ne tronquent pas au cap exact)\nif (!unlimited) {\n  var __capMap = { pubmed: parseInt(inputParams.cap_pubmed)||0, openalex: parseInt(inputParams.cap_openalex)||0, crossref: parseInt(inputParams.cap_crossref)||0, semanticscholar: parseInt(inputParams.cap_semanticscholar)||0, doaj: parseInt(inputParams.cap_doaj)||0, base: parseInt(inputParams.cap_base)||0, lens: parseInt(inputParams.cap_lens)||0, sciencedirect: parseInt(inputParams.cap_sciencedirect)||0 };\n  var __seenSrc = {}; var __kept = [];\n  for (var __i = 0; __i < allItems.length; __i++) {\n    var __a = allItems[__i]; var __s = __a._source || __a.source || ''; var __cap = __capMap[__s] || 0;\n    if (__cap > 0) { __seenSrc[__s] = (__seenSrc[__s] || 0) + 1; if (__seenSrc[__s] > __cap) continue; }\n    __kept.push(__a);\n  }\n  if (__kept.length !== allItems.length) { console.log('Per-source cap: ' + allItems.length + ' -> ' + __kept.length); allItems.length = 0; for (var __j = 0; __j < __kept.length; __j++) allItems.push(__kept[__j]); }\n}\n\n// Apply global cap (apres merge de toutes les sources)\n// SEARCH_DEDUP_MERGE_v1 - dedup par DOI (sinon titre+annee) + fusion des champs (recupere l'abstract depuis la source qui l'a)\nfunction __normDoi(d){ return String(d||'').toLowerCase().replace(/^https?:\\/\\/(dx\\.)?doi\\.org\\//,'').replace(/\\s+/g,'').trim(); }\nfunction __normTitle(t){ return String(t||'').toLowerCase().replace(/[^a-z0-9]+/g,' ').replace(/\\s+/g,' ').trim(); }\nfunction __mergePair(a,b){\n  var m = Object.assign({}, a);\n  var keys=['title','journal','year','volume','issue','pages','doi','pmid','openalex_id','url'];\n  for (var i=0;i<keys.length;i++){ var k=keys[i]; if((m[k]===undefined||m[k]===''||m[k]===null)&&b[k]) m[k]=b[k]; }\n  var aa=(a.abstract||''), ba=(b.abstract||''); m.abstract=(ba.length>aa.length)?ba:aa;\n  var aAuth=Array.isArray(a.authors)?a.authors:[], bAuth=Array.isArray(b.authors)?b.authors:[];\n  m.authors=(bAuth.length>aAuth.length)?bAuth:aAuth;\n  var srcs={}; [].concat(a._merged_sources||[a._source||a.source||''], b._merged_sources||[b._source||b.source||'']).forEach(function(s){ if(s) srcs[s]=1; });\n  m._merged_sources=Object.keys(srcs);\n  return m;\n}\nvar __byKey={}, __noKey=[], __order=[];\nfor (var __i=0; __i<allItems.length; __i++){\n  var __a=allItems[__i];\n  var __doi=__normDoi(__a.doi); var __ti=__normTitle(__a.title);\n  var __key = __doi ? ('doi:'+__doi) : (__ti ? ('ti:'+__ti+'|'+(__a.year||'')) : '');\n  if (!__key){ __noKey.push(__a); continue; }\n  if (__byKey[__key]){ __byKey[__key]=__mergePair(__byKey[__key], __a); } else { __byKey[__key]=__a; __order.push(__key); }\n}\nvar __deduped = __order.map(function(k){ return __byKey[k]; }).concat(__noKey);\nvar __dupRemoved = allItems.length - __deduped.length;\nconsole.log('Search dedup+merge: '+allItems.length+' -> '+__deduped.length+' ('+__dupRemoved+' doublons fusionnes)');\nlet articles = __deduped;\nif (!unlimited && capGlobal > 0 && articles.length > capGlobal) {\n  console.log(`Apply cap_global ${capGlobal} on ${articles.length} -> ${capGlobal}`);\n  articles = articles.slice(0, capGlobal);\n}\n\n// ABSTRACT_ENRICH_S2_v1 - enrichit les abstracts manquants via Semantic Scholar batch (par DOI ; OpenAlex/Crossref ne renvoient pas l'abstract par DOI, S2 oui)\nvar __absEnriched = 0;\ntry {\n  var __needAbs = articles.filter(function(a){ return a.doi && (!a.abstract || a.abstract.length < 20); });\n  if (__needAbs.length > 0) {\n    var __s2key = '';\n    try { var __kk = await this.helpers.httpRequest({ method: 'GET', url: 'http://host.docker.internal:8080/api/get-secret?field=semanticscholar_api_key', timeout: 5000, json: true }); __s2key = (__kk && __kk.value) || ''; } catch (e) {}\n    var __toEnrich = __needAbs.slice(0, 1000);\n    for (var __b = 0; __b < __toEnrich.length; __b += 500) {\n      var __chunk = __toEnrich.slice(__b, __b + 500);\n      var __ids = __chunk.map(function(a){ return 'DOI:' + __normDoi(a.doi); });\n      var __hdr = { 'Content-Type': 'application/json' };\n      if (__s2key) __hdr['x-api-key'] = __s2key;\n      try {\n        var __resp = await this.helpers.httpRequest({ method: 'POST', url: 'https://api.semanticscholar.org/graph/v1/paper/batch?fields=abstract', headers: __hdr, body: JSON.stringify({ ids: __ids }), timeout: 90000, json: true });\n        if (Array.isArray(__resp)) {\n          for (var __r = 0; __r < __resp.length; __r++) {\n            var __it = __resp[__r];\n            if (__it && __it.abstract && __chunk[__r] && (!__chunk[__r].abstract || __chunk[__r].abstract.length < 20)) {\n              __chunk[__r].abstract = __it.abstract;\n              __chunk[__r]._abstract_enriched = 'semanticscholar';\n              __absEnriched++;\n            }\n          }\n        }\n      } catch (e) { console.log('S2 enrich batch error: ' + (e && e.message ? e.message : e)); }\n      await new Promise(function(r){ setTimeout(r, __s2key ? 200 : 1100); });\n    }\n    // ABSTRACT_ENRICH_OA_v1 - fallback OpenAlex (abstract_inverted_index) pour le reste\n    function __recon(inv){ if(!inv) return ''; var w=[]; for(var k in inv){ var ps=inv[k]; for(var i=0;i<ps.length;i++){ w[ps[i]]=k; } } return w.join(' ').replace(/\\s+/g,' ').trim().substring(0,3000); }\n    var __stillOA = __needAbs.filter(function(a){ return a.doi && (!a.abstract || a.abstract.length < 20); });\n    for (var __o = 0; __o < Math.min(__stillOA.length, 1000); __o += 50) {\n      var __chO = __stillOA.slice(__o, __o + 50);\n      var __doisO = __chO.map(function(a){ return __normDoi(a.doi); }).filter(Boolean);\n      if (!__doisO.length) continue;\n      try {\n        var __ro = await this.helpers.httpRequest({ method:'GET', url:'https://api.openalex.org/works?filter=doi:' + __doisO.join('|') + '&per_page=50&select=doi,abstract_inverted_index&mailto=ultralab-review@systematic-review.org', timeout: 60000, json: true });\n        if (__ro && __ro.results) {\n          var __byDoi = {};\n          __ro.results.forEach(function(w){ var dd = __normDoi((w.doi||'')); if (dd) __byDoi[dd] = __recon(w.abstract_inverted_index); });\n          __chO.forEach(function(a){ var dd = __normDoi(a.doi); if ((!a.abstract || a.abstract.length<20) && __byDoi[dd]) { a.abstract = __byDoi[dd]; a._abstract_enriched = 'openalex'; __absEnriched++; } });\n        }\n      } catch (e) { console.log('OA enrich batch error: ' + (e && e.message ? e.message : e)); }\n    }\n    console.log('Abstract enrich (S2+OpenAlex): ' + __absEnriched + '/' + __needAbs.length + ' abstracts recuperes par DOI');\n  }\n} catch (e) { console.log('Abstract enrich error: ' + (e && e.message ? e.message : e)); }\n\nconst counts = { pubmed: 0, openalex: 0, crossref: 0, semanticscholar: 0, doaj: 0, base: 0, lens: 0, sciencedirect: 0, clinicaltrials: 0 };\nfor (const a of allItems) {\n  if (counts[a._source || a.source] !== undefined) counts[a._source || a.source]++;\n}\n\n// Format MEDLINE one entry\nfunction fmt(tag, value) {\n  if (!value && value !== 0) return '';\n  const v = String(value).replace(/\\r/g, '').replace(/\\n/g, ' ').trim();\n  if (!v) return '';\n  // MEDLINE format : 4 chars tag, \" - \", value, continuation lines indented 6 spaces\n  // For simplicity we don't wrap long lines (nbib parsers handle long lines).\n  return tag.padEnd(4) + '- ' + v + '\\n';\n}\n\nfunction toNbib(a) {\n  let out = '';\n  // PMID first if available\n  if (a.pmid) out += fmt('PMID', a.pmid);\n  out += fmt('OWN', 'NLM');\n  out += fmt('STAT', 'MEDLINE');\n  out += fmt('PT', 'Journal Article');\n  // Title\n  out += fmt('TI', a.title);\n  // Authors\n  if (Array.isArray(a.authors)) {\n    for (const au of a.authors) {\n      if (au) {\n        out += fmt('FAU', au);\n        // Build AU as \"Surname FI\" if possible (assume \"First Last\")\n        const parts = au.trim().split(/\\s+/);\n        if (parts.length >= 2) {\n          const last = parts[parts.length - 1];\n          const initials = parts.slice(0, -1).map(p => p.charAt(0).toUpperCase()).join('');\n          out += fmt('AU', last + ' ' + initials);\n        } else {\n          out += fmt('AU', au);\n        }\n      }\n    }\n  }\n  // Journal info\n  if (a.journal) {\n    out += fmt('JT', a.journal);\n    out += fmt('TA', a.journal);\n  }\n  if (a.volume) out += fmt('VI', a.volume);\n  if (a.issue) out += fmt('IP', a.issue);\n  if (a.pages) out += fmt('PG', a.pages);\n  // Date\n  if (a.year) out += fmt('DP', a.year);\n  // Abstract\n  if (a.abstract) out += fmt('AB', a.abstract);\n  // IDs\n  if (a.doi) {\n    out += fmt('AID', a.doi + ' [doi]');\n    out += fmt('LID', a.doi + ' [doi]');\n  }\n  if (a.openalex_id) out += fmt('LID', a.openalex_id + ' [openalex]');\n  // Source tag (custom, mais utile pour traçabilite)\n  out += fmt('SO', '[source:' + (a._source || a.source || '') + ']');\n  return out + '\\n';\n}\n\nconst nbibContent = articles.map(toNbib).join('');\n\n// Sauvegarde fichier\n// output_folder vient du parametre user (ex: /desktop/MaRecherche)\n// le volume docker mappe /desktop -> Desktop user\nlet outputFolder = (inputParams.output_folder || '/desktop').trim();\nif (!outputFolder.startsWith('/desktop')) {\n  // Securite : forcer dans /desktop pour eviter ecriture hors zone\n  outputFolder = '/desktop';\n}\ntry {\n  if (!fs.existsSync(outputFolder)) fs.mkdirSync(outputFolder, { recursive: true });\n} catch(e) {\n  console.log('mkdir error: ' + e.message);\n}\n\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').substring(0, 19);\nconst runFolder = path.join(outputFolder, 'ultralab-search-' + timestamp); // GROUP_OUTPUTS_v1 - tout dans un sous-dossier dedie\ntry { if (!fs.existsSync(runFolder)) fs.mkdirSync(runFolder, { recursive: true }); } catch (e) { console.log('mkdir runFolder error: ' + e.message); }\nconst filename = 'ultralab-search-' + timestamp + '.nbib';\nconst fullPath = path.join(runFolder, filename);\n\nlet saveSuccess = false;\nlet saveError = null;\ntry {\n  fs.writeFileSync(fullPath, nbibContent, 'utf-8');\n  saveSuccess = true;\n  console.log('NBIB saved: ' + fullPath + ' (' + articles.length + ' articles, ' + nbibContent.length + ' bytes)');\n} catch(e) {\n  saveError = e.message;\n  console.log('NBIB save error: ' + e.message);\n}\n\n// METHODS_LOG_v1 - log de reproductibilite (section Methodes d'une revue systematique)\n  try {\n    var __methods = {\n      generated_at: new Date().toISOString(),\n      tool: 'UltraLab', module: 'recherche-api',\n      nbib_file: filename,\n      search: {\n        pubmed_equation: inputParams.pubmed_query || '',\n        per_base_queries: {\n          openalex: inputParams.openalex_query || '', crossref: inputParams.crossref_query || '',\n          semanticscholar: inputParams.semanticscholar_query || '', doaj: inputParams.doaj_query || '',\n          base: inputParams.base_query || '', lens: inputParams.lens_query || '', sciencedirect: inputParams.sciencedirect_query || ''\n        },\n        date_range: { start: inputParams.date_start || '', end: inputParams.date_end || '' },\n        count_by_source: counts,\n        raw_total_before_dedup: allItems.length,\n        duplicates_merged: __dupRemoved,\n        with_abstract: articles.filter(function(a){return a.abstract && a.abstract.length>0;}).length,\n        abstracts_enriched: __absEnriched,\n        total_after_dedup: articles.length\n      }\n    };\n    fs.writeFileSync(path.join(runFolder, 'methods.json'), JSON.stringify(__methods, null, 2), 'utf-8');\n    console.log('methods.json saved (reproductibilite)');\n  } catch (e) { console.log('methods write error: ' + e.message); }\n\n  return [{ json: {\n  action: 'search',\n  success: saveSuccess,\n  file_path: fullPath,\n  file_name: filename,\n  output_folder: runFolder,\n  bytes: nbibContent.length,\n  total_articles: articles.length,\n  duplicates_merged: __dupRemoved,\n  with_abstract: articles.filter(function(a){return a.abstract && a.abstract.length>0;}).length,\n  abstracts_enriched: __absEnriched,\n  count_by_source: counts,\n  capped: !unlimited && capGlobal > 0 && allItems.length > capGlobal,\n  original_total: allItems.length,\n  error: saveError\n}}];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "gen-nbib-001",
      "name": "Generate NBIB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        450
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {}
      },
      "id": "respond-search-001",
      "name": "Respond Search",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1220,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_semanticscholar === false) return [{ json: { _source: 'semanticscholar', count: 0, _disabled_by_user: true } }];\n// Semantic Scholar Count - compte rapide (limit=1, on lit total)\nconst input = $('Extract Params').first().json;\nconst query = encodeURIComponent(input.semanticscholar_query || input.openalex_query || input.pubmed_query || input.question || '');\nconst PROXY = 'http://host.docker.internal:3456';\n// SEMANTIC_SCHOLAR_KEY_v1 - cle API optionnelle (x-api-key, appel direct car le proxy ne porte pas les headers)\nlet __ssKey = '';\ntry { const __k = await this.helpers.httpRequest({ method: 'GET', url: 'http://host.docker.internal:8080/api/get-secret?field=semanticscholar_api_key', timeout: 5000, json: true }); __ssKey = (__k && __k.value) || ''; } catch (e) {}\nif (!query) return [{ json: { _source: 'semanticscholar', count: 0 } }];\ntry {\n  const url = 'https://api.semanticscholar.org/graph/v1/paper/search?query=' + query + '&limit=1';\n  const __opts = __ssKey ? { method: 'GET', url: url, headers: { 'x-api-key': __ssKey }, timeout: 30000, json: true }\n                         : { method: 'GET', url: PROXY + '?url=' + encodeURIComponent(url), timeout: 30000, json: true };\n  const resp = await this.helpers.httpRequest(__opts);\n  const count = (resp && resp.total) || 0;\n  return [{ json: { _source: 'semanticscholar', count: count } }];\n} catch (e) {\n  return [{ json: { _source: 'semanticscholar', count: 0, error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "ss-count-iso-001",
      "name": "Semantic Scholar Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_doaj === false) return [{ json: { _source: 'doaj', count: 0, _disabled_by_user: true } }];\n// PER_BASE_QUERY_v1\n// DOAJ Count\nconst input = $('Extract Params').first().json;\nconst query = (input.doaj_query || input.openalex_query || input.pubmed_query || input.question || '').replace(/[*?~]/g, '').replace(/\\s+/g, ' ').trim(); // DOAJ_NOWILDCARD_v1\nconst PROXY = 'http://host.docker.internal:3456';\nif (!query) return [{ json: { _source: 'doaj', count: 0 } }];\ntry {\n  const url = 'https://doaj.org/api/search/articles/' + encodeURIComponent(query) + '?pageSize=1';\n  const resp = await this.helpers.httpRequest({\n    method: 'GET', url: PROXY + '?url=' + encodeURIComponent(url), timeout: 30000, json: true\n  });\n  return [{ json: { _source: 'doaj', count: (resp && resp.total) || 0 } }];\n} catch (e) {\n  return [{ json: { _source: 'doaj', count: 0, error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "doaj-count-iso-001",
      "name": "DOAJ Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_base === false) return [{ json: { _source: 'base', count: 0, _disabled_by_user: true } }];\n// BASE_IP_TRANSPARENCY_v1\n// BASE Count\nconst input = $('Extract Params').first().json;\nconst query = input.base_query || input.openalex_query || input.pubmed_query || input.question || '';\nconst PROXY = 'http://host.docker.internal:3456';\nif (!query) return [{ json: { _source: 'base', count: 0 } }];\ntry {\n  const url = 'https://api.base-search.net/cgi-bin/BaseHttpSearchInterface.fcgi?func=PerformSearch&query=' +\n              encodeURIComponent(query) + '&hits=1&format=json';\n  const resp = await this.helpers.httpRequest({\n    method: 'GET', url: PROXY + '?url=' + encodeURIComponent(url), timeout: 30000, json: true\n  });\n  if (resp && resp.error && /access denied/i.test(resp.error)) {\n    return [{ json: { _source: 'base', count: 0, error: 'ip_not_registered' } }];\n  }\n  const total = (resp && resp.response && resp.response.numFound) || 0;\n  return [{ json: { _source: 'base', count: total } }];\n} catch (e) {\n  return [{ json: { _source: 'base', count: 0, error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "base-count-iso-001",
      "name": "BASE Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_lens === false) return [{ json: { _source: 'lens', count: 0, _disabled_by_user: true } }];\n// Lens.org Count - necessite cle API\nconst input = $('Extract Params').first().json;\nconst query = input.lens_query || input.openalex_query || input.pubmed_query || input.question || '';\nif (!query) return [{ json: { _source: 'lens', count: 0 } }];\n\nlet apiKey = '';\ntry {\n  const keyResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'http://host.docker.internal:8080/api/get-secret?field=lens_api_key',\n    timeout: 5000, json: true\n  });\n  apiKey = (keyResp && keyResp.value) || '';\n} catch (e) {}\nif (!apiKey) return [{ json: { _source: 'lens', count: 0, error: 'no API key' } }];\n\ntry {\n  const payload = JSON.stringify({ query: { query_string: { query: query } }, size: 1 });\n  const resp = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.lens.org/scholarly/search',\n    body: payload,\n    headers: { 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' },\n    timeout: 30000, json: true\n  });\n  return [{ json: { _source: 'lens', count: (resp && resp.total) || 0 } }];\n} catch (e) {\n  return [{ json: { _source: 'lens', count: 0, error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "lens-count-iso-001",
      "name": "Lens.org Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -200
      ]
    },
    {
      "id": "sd-count-iso-001",
      "name": "ScienceDirect Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -200
      ],
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_sciencedirect === false) return [{ json: { _source: 'sciencedirect', count: 0, _disabled_by_user: true } }];\n// ScienceDirect Count - SCIENCEDIRECT_SOURCE_v1 - necessite cle API Elsevier (X-ELS-APIKey)\nconst input = $('Extract Params').first().json;\nconst query = input.sciencedirect_query || input.openalex_query || input.pubmed_query || input.question || '';\nif (!query) return [{ json: { _source: 'sciencedirect', count: 0 } }];\n\nlet apiKey = '', instToken = '';\ntry {\n  const k = await this.helpers.httpRequest({ method: 'GET', url: 'http://host.docker.internal:8080/api/get-secret?field=sciencedirect_api_key', timeout: 5000, json: true });\n  apiKey = (k && k.value) || '';\n  const t = await this.helpers.httpRequest({ method: 'GET', url: 'http://host.docker.internal:8080/api/get-secret?field=sciencedirect_inst_token', timeout: 5000, json: true });\n  instToken = (t && t.value) || '';\n} catch (e) {}\nif (!apiKey) return [{ json: { _source: 'sciencedirect', count: 0, error: 'no_key' } }];\n\ntry {\n  const headers = { 'X-ELS-APIKey': apiKey, 'Accept': 'application/json' };\n  if (instToken) headers['X-ELS-Insttoken'] = instToken;\n  const url = 'https://api.elsevier.com/content/search/sciencedirect?count=1&query=' + encodeURIComponent(query);\n  const resp = await this.helpers.httpRequest({ method: 'GET', url: url, headers: headers, timeout: 30000, json: true });\n  const sr = (resp && resp['search-results']) || {};\n  const total = parseInt(sr['opensearch:totalResults']) || 0;\n  return [{ json: { _source: 'sciencedirect', count: total } }];\n} catch (e) {\n  const msg = (e && e.message) ? e.message : String(e);\n  const code = /429/.test(msg) ? 'rate_limited' : (/40[13]/.test(msg) ? 'invalid_key' : 'error');\n  console.log('[ScienceDirect Count] error: ' + msg);\n  return [{ json: { _source: 'sciencedirect', count: 0, error: code } }];\n}\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "call-search-engine-001",
      "name": "Call Search Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        820,
        450
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "pTdf37HBUjTmEf7p"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BASE_TOGGLE_v1\nif ((($input.all()[0] && $input.all()[0].json) || {}).enable_clinicaltrials !== true) return [{ json: { _source: 'clinicaltrials', count: 0, _disabled_by_user: true } }];\n// CT Count\nconst input = $('Extract Params').first().json;\nconst query = (input.clinicaltrials_query || input.doaj_query || input.openalex_query || input.pubmed_query || input.question || '').replace(/[*?~]/g, '').replace(/\\s+/g, ' ').trim(); // CT_NOWILDCARD_v1\nif (!query) return [{ json: { _source: 'clinicaltrials', count: 0 } }];\ntry {\n  const url = 'https://clinicaltrials.gov/api/v2/studies?format=json&pageSize=1&countTotal=true&query.term=' + encodeURIComponent(query);\n  const resp = await this.helpers.httpRequest({\n    method: 'GET', url: url, headers: { 'User-Agent': 'UltraLab-SystematicReview/1.0', 'Accept': 'application/json' }, timeout: 30000, json: true // CT_DIRECT_v1\n  });\n  return [{ json: { _source: 'clinicaltrials', count: (resp && resp.totalCount) || 0 } }];\n} catch (e) {\n  return [{ json: { _source: 'clinicaltrials', count: 0, error: e.message } }];\n}\n"
      },
      "id": "clinicaltrials-count-iso-001",
      "name": "ClinicalTrials Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "IF Action Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Action Count": {
      "main": [
        [
          {
            "node": "PubMed Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAlex Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crossref Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "Semantic Scholar Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "DOAJ Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "BASE Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lens.org Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "ScienceDirect Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "ClinicalTrials Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Search Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PubMed Count": {
      "main": [
        [
          {
            "node": "Merge Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAlex Count": {
      "main": [
        [
          {
            "node": "Merge Count",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Crossref Count": {
      "main": [
        [
          {
            "node": "Merge Count",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Count": {
      "main": [
        [
          {
            "node": "Aggregate Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Count": {
      "main": [
        [
          {
            "node": "Respond Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate NBIB": {
      "main": [
        [
          {
            "node": "Respond Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantic Scholar Count": {
      "main": [
        [
          {
            "node": "Merge Count",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "DOAJ Count": {
      "main": [
        [
          {
            "node": "Merge Count",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "BASE Count": {
      "main": [
        [
          {
            "node": "Merge Count",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Lens.org Count": {
      "main": [
        [
          {
            "node": "Merge Count",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "ScienceDirect Count": {
      "main": [
        [
          {
            "node": "Merge Count",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Call Search Engine": {
      "main": [
        [
          {
            "node": "Generate NBIB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClinicalTrials Count": {
      "main": [
        [
          {
            "node": "Merge Count",
            "type": "main",
            "index": 8
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000019",
  "meta": {
    "instanceId": "fd21ae21426f59c89f8963a136703cbf2a049d0a9eb6f435af497a2b2c1ac5ff"
  },
  "id": "ApiSearchIsoWF001",
  "tags": []
}