workflows/ultralab-module.json
{
  "name": "ultralab-module",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ultralab-module",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-mod-001",
      "name": "Module Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ],
      "webhookId": "ultralab-module"
    },
    {
      "parameters": {
        "jsCode": "// === DISPATCH: prepare les articles + dossier de sortie unique ===\nconst input = $input.first().json;\nconst body = input.body || input;\nconst mode = body.mode || 'screening';\nconst articles = body.articles || [];\nconst question = body.question || '';\nconst criteria = body.criteria || '';\nconst extractFields = body.extract_fields || null;\n// Format de sortie choisi par l'user (ris/nbib/bib) - RIS par defaut pour back-compat\nconst outputFormat = ((body.output_format || 'ris') + '').toLowerCase().trim();\nconst validFormats = ['ris', 'nbib', 'bib'];\nconst safeOutputFormat = validFormats.includes(outputFormat) ? outputFormat : 'ris';\n\n\nconsole.log('Module: ' + mode + ' avec ' + articles.length + ' articles');\n\nif (articles.length === 0) {\n  return [{ json: { error: 'Aucun article fourni', mode } }];\n}\n\n// Generer un dossier de sortie unique : /desktop/ultralab-module-<mode>-<YYYYMMDD-HHMM>/\nconst now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst timestamp = now.getFullYear() + pad(now.getMonth()+1) + pad(now.getDate()) + '-' + pad(now.getHours()) + pad(now.getMinutes());\nconst folderName = 'ultralab-module-' + mode + '-' + timestamp;\n// D.8 custom output_folder : si l'user a choisi un dossier custom via UI, on l'utilise.\n// Sinon default : /desktop/ultralab-module-<mode>-<timestamp>/\nconst userOutputFolder = (body.output_folder && typeof body.output_folder === 'string') ? body.output_folder.trim().replace(/\\/+$/, '') : '';\nlet outputFolder;\nif (userOutputFolder && userOutputFolder.startsWith('/desktop')) {\n  // Path Docker valide (commence par /desktop) -> on append le sub-folder mode-timestamp\n  outputFolder = userOutputFolder + '/' + folderName;\n} else {\n  outputFolder = '/desktop/' + folderName;\n}\nconsole.log('Dossier de sortie : ' + outputFolder);\n\n// Enrichir le premier article avec question/criteres + output_folder partout\nconst enriched = articles.map((a, i) => {\n  const article = { ...a, output_folder: outputFolder, _module_mode: mode, _folder_name: folderName };\n  if (i === 0) {\n    article.question = question;\n    article.criteria = criteria;\n    article.prefilter_enabled = false;\n    if (extractFields) article.extract_fields = extractFields;\n    // Skip flags : on saute les autres etapes (juste le module demande)\n    article.skip_ranking = mode !== 'ranking';\n    article.skip_clustering = mode !== 'clustering';\n    article.skip_screening = mode !== 'screening';\n    article.skip_pdf = mode !== 'pdf-fetch';\n    article._output_format = safeOutputFormat;\n  }\n  // Pour le PDF fetch, marquer tous comme Include si pas de screening_decision\n  if (mode === 'pdf-fetch' && !article.screening_decision) {\n    article.screening_decision = 'Include';\n  }\n  return { json: article };\n});\n\n\n// PROGRESS_START_v1\ntry { await this.helpers.httpRequest({ method:'POST', url:'http://host.docker.internal:8080/api/module-progress/start', body:JSON.stringify({mode:mode, total:articles.length, label:mode}), headers:{'Content-Type':'application/json'}, timeout:3000 }); } catch(e) {}\nreturn enriched;",
        "mode": "runOnceForAllItems"
      },
      "id": "dp-mod-001",
      "name": "Prepare Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-screening",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "screening",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-scr",
      "name": "Is Screening?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ranking",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "ranking",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-rnk",
      "name": "Is Ranking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-clustering",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "clustering",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-clu",
      "name": "Is Clustering?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "KGL9l8LCxrnYBFtW"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-scr",
      "name": "Run Screening",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        -280
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "2GS2AJwrY2iSuEXZ"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-rnk",
      "name": "Run Ranking",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        -80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "RXr97zqwUBSIMwY9"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-clu",
      "name": "Run Clustering",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-pdffetch",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "pdf-fetch",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-pdf",
      "name": "Is PDF Fetch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "iHVBghWXos2uM1IF"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-pdf",
      "name": "Run PDF Fetch",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-extraction",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "extraction",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-ext",
      "name": "Is Extraction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        600
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "PDFExtractWFid001"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-ext",
      "name": "Run Extraction",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-dedup",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "deduplicate",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-mod-dedup",
      "name": "Is Deduplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        800
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "AxHfdqd893kaPzlz"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ex-mod-dedup",
      "name": "Run Deduplicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// === ASSEMBLE + EXPORT MODULE RESULTS ===\n// Refactor 0.4.3 : le monolithe par phases (stats / RIS / XLSX / rapport melanges par de\n// longs if(mode===...)) est reorganise en ROUTEUR PAR MODULE. La logique propre a chaque\n// module (pure, sans I/O) vit dans une entree unique de MODULES[mode] :\n//   { statsInto, risNote, columns, styleSheet, extraSheets, reportSection }\n// Des squelettes generiques (buildRIS / buildXLSX / buildReport) consomment ces entrees.\n// L'orchestrateur async reste lineaire (calcul stats -> fichiers coeur -> fichiers annexes\n// -> methods.json -> retour). Comportement identique a l'ancien node (verifie golden + harness).\nconst XLSX = require('xlsx');\nconst PROXY = 'http://host.docker.internal:3456';\nconst items = $input.all();\nconst articles = items.map(i => i.json);\nconst mode = (articles[0] && articles[0]._module_mode) || 'unknown';\nconst outputFolder = (articles[0] && articles[0].output_folder) || '/desktop/ultralab-module-output';\nconst folderName = (articles[0] && articles[0]._folder_name) || 'ultralab-module-output';\n\n// ===================================================================================\n// HELPERS PARTAGES (mode-agnostiques)\n// ===================================================================================\n//<<<PURE_START>>>\nfunction __pEsc(s){ return String(s == null ? '' : s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\n\n// PRISMA_FLOW_HTML_v1 - diagramme de flux visuel + stats detaillees (screening / fulltext)\nfunction buildPrismaHtml(m, arts, st, a0) {\n  const isFT = (m === 'fulltext-screening');\n  let inc, may, exc, screened, label;\n  if (isFT) { inc = st.include_final||0; may = st.maybe_final||0; exc = st.exclude_final||0; screened = st.total_evaluated || (inc+may+exc); label = 'Articles en texte intégral évalués pour éligibilité'; }\n  else { inc = st.include||0; may = st.maybe||0; exc = st.exclude||0; screened = inc+may+exc; label = 'Notices examinées (titre / résumé)'; }\n  const needsReview = arts.filter(function(a){ return a._needs_human_review; }).length;\n  var __kraw = isFT ? (a0 && a0._fulltext_kappa) : (a0 && a0._screening_kappa); const kap = (__kraw && __kraw.enabled) ? __kraw : null;\n  const conf = { high:0, medium:0, low:0, none:0 };\n  arts.forEach(function(a){ const c=(a.screening_confidence||'').toLowerCase(); if(conf[c]!==undefined) conf[c]++; else conf.none++; });\n  const tot = screened || 1;\n  const q = __pEsc(a0.question||''); const crit = __pEsc(a0.criteria||'');\n  const h = [];\n  h.push('<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">');\n  h.push('<title>PRISMA - ' + (isFT?'Lecture integrale':'Pre-screening') + '</title><style>');\n  h.push('body{font-family:-apple-system,Segoe UI,Roboto,sans-serif;background:#f5f6fa;color:#222;margin:0;padding:24px;}');\n  h.push('h1{font-size:20px;color:#1a237e;}h2{font-size:15px;color:#37474f;margin-top:26px;}');\n  h.push('.flow{display:flex;flex-direction:column;align-items:center;margin:16px 0;}');\n  h.push('.box{border:2px solid #3f51b5;border-radius:8px;padding:12px 18px;background:#fff;text-align:center;min-width:280px;box-shadow:0 1px 4px rgba(0,0,0,.08);}');\n  h.push('.box .n{font-size:22px;font-weight:700;}.box .l{font-size:12px;color:#555;}');\n  h.push('.arrow{width:0;height:0;border-left:9px solid transparent;border-right:9px solid transparent;border-top:13px solid #3f51b5;margin:8px 0;}');\n  h.push('.row{display:flex;gap:14px;justify-content:center;flex-wrap:wrap;}');\n  h.push('.dbox{border-radius:8px;padding:12px 16px;color:#fff;text-align:center;min-width:140px;}.dbox .n{font-size:22px;font-weight:700;}');\n  h.push('.inc{background:#2e7d32;}.may{background:#ef6c00;}.exc{background:#c62828;}');\n  h.push('.side{margin-top:16px;display:flex;gap:12px;justify-content:center;flex-wrap:wrap;}');\n  h.push('.chip{background:#eceff1;border:1px solid #cfd8dc;border-radius:20px;padding:6px 14px;font-size:13px;}.chip b{color:#1a237e;}');\n  h.push('table{border-collapse:collapse;margin:8px 0;}td,th{border:1px solid #ccc;padding:6px 12px;font-size:13px;text-align:left;}th{background:#3f51b5;color:#fff;}');\n  h.push('.meta{font-size:12px;color:#666;max-width:760px;}</style></head><body>');\n  h.push('<h1>Diagramme de flux PRISMA 2020 &mdash; ' + (isFT?'Lecture intégrale (full-text)':'Pré-screening IA (titre/résumé)') + '</h1>');\n  if (q) h.push('<p class=\"meta\"><b>Question :</b> ' + q + '</p>');\n  h.push('<div class=\"flow\"><div class=\"box\"><div class=\"n\">' + screened + '</div><div class=\"l\">' + label + '</div></div>');\n  h.push('<div class=\"arrow\"></div>');\n  h.push('<div class=\"row\"><div class=\"dbox inc\"><div class=\"n\">' + inc + '</div><div>Inclus</div></div>');\n  h.push('<div class=\"dbox may\"><div class=\"n\">' + may + '</div><div>Incertain</div></div>');\n  h.push('<div class=\"dbox exc\"><div class=\"n\">' + exc + '</div><div>Exclus</div></div></div></div>');\n  h.push('<div class=\"side\"><div class=\"chip\">Vérification humaine recommandée : <b>' + needsReview + '</b></div>');\n  if (kap) h.push('<div class=\"chip\">Accord inter-juges (' + __pEsc(kap.model_1) + ' vs ' + __pEsc(kap.model_2) + ') : <b>kappa = ' + kap.cohen_kappa + '</b> (' + __pEsc(kap.kappa_interpretation) + '), ' + kap.n_disagree + ' désaccords</div>');\n  h.push('</div>');\n  h.push('<h2>Détail des décisions</h2><table><tr><th>Decision</th><th>N</th><th>%</th></tr>');\n  h.push('<tr><td>Inclus</td><td>' + inc + '</td><td>' + Math.round(inc/tot*100) + '%</td></tr>');\n  h.push('<tr><td>Incertain</td><td>' + may + '</td><td>' + Math.round(may/tot*100) + '%</td></tr>');\n  h.push('<tr><td>Exclus</td><td>' + exc + '</td><td>' + Math.round(exc/tot*100) + '%</td></tr></table>');\n  // PRISMA_EXCL_REASONS_v1 - motifs d'exclusion agreges depuis l'audit critere-par-critere (F1)\n  if (exc > 0) {\n    var __er = {};\n    for (var __xi = 0; __xi < arts.length; __xi++) {\n      var __xa = arts[__xi];\n      var __xdec = isFT ? __xa.screening_decision_fulltext : __xa.screening_decision;\n      if (__xdec !== 'Exclude') continue;\n      var __labels = [];\n      var __ct = __xa.screening_criteria || '';\n      if (__ct) {\n        var __parts = __ct.split(';');\n        for (var __pi = 0; __pi < __parts.length; __pi++) {\n          var __eq = __parts[__pi].indexOf('=');\n          if (__eq < 0) continue;\n          var __lab = __parts[__pi].slice(0, __eq).trim();\n          var __val = __parts[__pi].slice(__eq + 1).trim().toLowerCase();\n          if (!__lab || !__val) continue;\n          var __met = (__val.indexOf('met') === 0) || (__val.indexOf('ok') === 0) || (__val.indexOf('oui') === 0) || (__val.indexOf('yes') === 0) || (__val.indexOf('rempli') === 0) || (__val.indexOf('conforme') === 0);\n          if (!__met) __labels.push(__lab);\n        }\n      }\n      if (__labels.length === 0) {\n        var __rsn = (isFT ? __xa.screening_reason_fulltext : __xa.screening_reason) || '';\n        __rsn = String(__rsn).replace(/^crit[eè]res?\\s*:\\s*/i, '').trim();\n        __labels.push(__rsn ? __rsn.substring(0, 60) : '(non precise)');\n      }\n      for (var __li = 0; __li < __labels.length; __li++) { var __k = __labels[__li]; __er[__k] = (__er[__k] || 0) + 1; }\n    }\n    var __ekeys = Object.keys(__er).sort(function(a, b){ return __er[b] - __er[a]; }).slice(0, 8);\n    if (__ekeys.length) {\n      h.push('<h2>Motifs d&rsquo;exclusion (PRISMA 2020 &mdash; excluded with reasons)</h2>');\n      h.push('<table><tr><th>Critere / motif</th><th>Articles exclus</th></tr>');\n      for (var __ek = 0; __ek < __ekeys.length; __ek++) { h.push('<tr><td>' + __pEsc(__ekeys[__ek]) + '</td><td>' + __er[__ekeys[__ek]] + '</td></tr>'); }\n      h.push('</table>');\n    }\n  }\n  if (!isFT) { h.push('<h2>Niveau de confiance IA</h2><table><tr><th>Confiance</th><th>N</th></tr>'); h.push('<tr><td>Élevée</td><td>' + conf.high + '</td></tr><tr><td>Moyenne</td><td>' + conf.medium + '</td></tr><tr><td>Faible</td><td>' + conf.low + '</td></tr>' + (conf.none?('<tr><td>Non renseignée</td><td>' + conf.none + '</td></tr>'):'') + '</table>'); }\n  if (crit) h.push('<h2>Critères</h2><p class=\"meta\">' + crit + '</p>');\n  h.push('<p class=\"meta\">Généré par UltraLab. Le pré-screening IA est indicatif et requiert une validation humaine.</p></body></html>');\n  return h.join('');\n}\n\n// DISAGREEMENTS_VIEW_v1 - vue resolution des desaccords (3e relecteur)\nfunction __disagWrap(phase, body) {\n  return '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><style>body{font-family:-apple-system,Segoe UI,Roboto,sans-serif;background:#f5f6fa;color:#222;padding:24px;}h1{font-size:19px;color:#b71c1c;}table{border-collapse:collapse;width:100%;margin-top:10px;}td,th{border:1px solid #ccc;padding:6px 10px;font-size:13px;text-align:left;vertical-align:top;}th{background:#b71c1c;color:#fff;}.meta{font-size:12px;color:#666;max-width:760px;}</style></head><body><h1>Désaccords à arbitrer &mdash; ' + phase + ' (3e relecteur)</h1><p class=\"meta\">Articles où les deux modèles divergent. À trancher par un relecteur humain.</p>' + body + '</body></html>';\n}\nfunction buildDisagreementsHtml(m, arts) {\n  var isFT = (m === 'fulltext-screening');\n  var rows = [];\n  if (m === 'extraction') {\n    for (var i = 0; i < arts.length; i++) {\n      var a = arts[i]; var fa = a._extraction_field_agreement; if (!fa) continue;\n      var bad = Object.keys(fa).filter(function(k){ return !fa[k]; }); if (!bad.length) continue;\n      var e1 = a._extracted || {}, e2 = a._extracted_2 || {};\n      var cells = bad.map(function(k){ return '<div style=\"margin:2px 0;\"><b>' + __pEsc(k) + '</b> &mdash; M1: ' + __pEsc(String(e1[k] == null ? '(vide)' : e1[k])).substring(0,140) + ' | M2: ' + __pEsc(String(e2[k] == null ? '(vide)' : e2[k])).substring(0,140) + '</div>'; }).join('');\n      rows.push('<tr><td>' + __pEsc((a.title||'').substring(0,90)) + '</td><td>' + (a._extraction_agreement != null ? a._extraction_agreement + '%' : '') + '</td><td>' + cells + '</td></tr>');\n    }\n    if (!rows.length) return null;\n    return __disagWrap('Extraction', '<table><tr><th>Article</th><th>Accord</th><th>Champs en désaccord (M1 vs M2)</th></tr>' + rows.join('') + '</table>');\n  } else {\n    var dk = isFT ? 'screening_agreement_fulltext' : 'screening_agreement';\n    var d1k = isFT ? 'screening_decision_fulltext' : 'screening_decision';\n    var d2k = isFT ? 'screening_decision_fulltext_2' : 'screening_decision_2';\n    for (var j = 0; j < arts.length; j++) {\n      var x = arts[j]; if (x[dk] !== 'disagree') continue;\n      rows.push('<tr><td>' + __pEsc((x.title||'').substring(0,110)) + '</td><td>' + __pEsc(x[d1k]||'') + '</td><td>' + __pEsc(x[d2k]||'') + '</td><td></td></tr>');\n    }\n    if (!rows.length) return null;\n    return __disagWrap(isFT ? 'Lecture intégrale' : 'Screening', '<table><tr><th>Article</th><th>Décision M1</th><th>Décision M2</th><th>Arbitrage humain</th></tr>' + rows.join('') + '</table>');\n  }\n}\n\n// Hardening XLSX : tronque cellules a 32700 chars + retire chars de controle (partage)\nfunction safeCell(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'number' || typeof v === 'boolean') return v;\n  let s = (typeof v === 'string') ? v : (typeof v === 'object' ? JSON.stringify(v) : String(v));\n  // Retire caracteres de controle (sauf tab, LF, CR)\n  s = s.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ' ');\n  if (s.length > 32700) {\n    s = s.substring(0, 32700) + ' [tronque a 32700 chars]';\n  }\n  return s;\n}\n\n// === ECRIRE LES FICHIERS VIA LE PROXY ===\nasync function saveFile(savePath, content, isBase64) {\n  try {\n    const body = isBase64 ? { save_to: savePath, content_base64: content } : { save_to: savePath, content };\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: PROXY + '/save',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify(body),\n      timeout: 60000\n    });\n    return resp && resp.success;\n  } catch (e) {\n    console.log('Save error: ' + e.message);\n    return false;\n  }\n}\n\n// === D.6 phase 2 : Generer le fichier .nbib (format MEDLINE) des articles uniques ===\nfunction buildNbib(articles) {\n  function fmt(tag, value) {\n    if (!value && value !== 0) return '';\n    const v = String(value).replace(/\\r/g, '').replace(/\\n/g, ' ').trim();\n    if (!v) return '';\n    return tag.padEnd(4) + '- ' + v + '\\n';\n  }\n  function toEntry(a) {\n    let out = '';\n    if (a.pmid) out += fmt('PMID', a.pmid);\n    out += fmt('OWN', 'NLM');\n    out += fmt('STAT', 'MEDLINE');\n    out += fmt('PT', 'Journal Article');\n    out += fmt('TI', a.title);\n    if (Array.isArray(a.authors)) {\n      for (const au of a.authors) {\n        if (!au) continue;\n        out += fmt('FAU', au);\n        const parts = au.trim().split(/\\s+/);\n        if (parts.length >= 2) {\n          const last = parts[parts.length - 1];\n          const initials = parts.slice(0, -1).map(p => p.charAt(0).toUpperCase()).join('');\n          out += fmt('AU', last + ' ' + initials);\n        } else {\n          out += fmt('AU', au);\n        }\n      }\n    }\n    if (a.journal) { out += fmt('JT', a.journal); out += fmt('TA', a.journal); }\n    if (a.volume) out += fmt('VI', a.volume);\n    if (a.issue) out += fmt('IP', a.issue);\n    if (a.pages) out += fmt('PG', a.pages);\n    if (a.year) out += fmt('DP', a.year);\n    if (a.abstract) out += fmt('AB', a.abstract);\n    if (a.doi) {\n      out += fmt('AID', a.doi + ' [doi]');\n      out += fmt('LID', a.doi + ' [doi]');\n    }\n    if (a._source) out += fmt('SO', '[source:' + a._source + ']');\n    return out + '\\n';\n  }\n  return articles.map(toEntry).join('');\n}\n\n// Format BibTeX/LaTeX (.bib) pour les articles\nfunction buildBibTeX(articles) {\n  function escapeBib(s) {\n    if (!s) return '';\n    return String(s)\n      .replace(/\\\\/g, '\\\\textbackslash{}')\n      .replace(/[{}]/g, '')  // pas d'accolades dans les valeurs\n      .replace(/[#$%&_]/g, '\\\\$&')  // chars speciaux LaTeX\n      .replace(/[\\r\\n]+/g, ' ')\n      .trim();\n  }\n  function makeKey(a, i) {\n    // cle = 1er auteur (surname) + annee + index (anti-doublon)\n    let surname = '';\n    if (Array.isArray(a.authors) && a.authors.length > 0) {\n      const parts = String(a.authors[0]).trim().split(/\\s+/);\n      surname = (parts[parts.length - 1] || '').replace(/[^a-zA-Z]/g, '');\n    }\n    const year = (a.year || 'NA').toString().match(/\\d{4}/);\n    return (surname || 'anon') + (year ? year[0] : 'NA') + '_' + (i + 1);\n  }\n  return articles.map((a, i) => {\n    const key = makeKey(a, i);\n    const authors = Array.isArray(a.authors) ? a.authors.map(escapeBib).join(' and ') : escapeBib(a.authors || '');\n    let entry = '@article{' + key + ',\\n';\n    if (a.title) entry += '  title = {' + escapeBib(a.title) + '},\\n';\n    if (authors) entry += '  author = {' + authors + '},\\n';\n    if (a.journal) entry += '  journal = {' + escapeBib(a.journal) + '},\\n';\n    if (a.year) entry += '  year = {' + escapeBib(a.year) + '},\\n';\n    if (a.volume) entry += '  volume = {' + escapeBib(a.volume) + '},\\n';\n    if (a.issue) entry += '  number = {' + escapeBib(a.issue) + '},\\n';\n    if (a.pages) entry += '  pages = {' + escapeBib(a.pages).replace('-', '--') + '},\\n';\n    if (a.doi) entry += '  doi = {' + escapeBib(a.doi) + '},\\n';\n    if (a.url) entry += '  url = {' + escapeBib(a.url) + '},\\n';\n    if (a.abstract) entry += '  abstract = {' + escapeBib(a.abstract).substring(0, 2000) + '},\\n';\n    if (a.pmid) entry += '  pmid = {' + escapeBib(a.pmid) + '},\\n';\n    entry += '}\\n\\n';\n    return entry;\n  }).join('');\n}\n\n// ===================================================================================\n// ROUTEUR PAR MODULE : chaque entree porte la logique PURE propre au module.\n//   statsInto(stats, articles)          -> mute l'objet stats (verbatim ancien bloc)\n//   risNote(a)                          -> annotations N1 du .ris pour cet article\n//   columns(articles)                   -> { headers, rows } de la feuille principale\n//   styleSheet(ws, wsData)              -> coloration conditionnelle (optionnel)\n//   extraSheets(wb, articles)           -> feuilles supplementaires (optionnel)\n//   reportSection(articles, stats, a0)  -> section markdown propre au module\n// ===================================================================================\nconst MODULES = {\n  'screening': {\n    statsInto(stats, articles) {\n      stats.include = articles.filter(a => a.screening_decision === 'Include').length;\n      stats.maybe = articles.filter(a => a.screening_decision === 'Maybe').length;\n      stats.exclude = articles.filter(a => a.screening_decision === 'Exclude').length;\n    },\n    risNote(a) {\n      let n = '';\n      if (a.screening_decision) {\n        n += 'N1  - screening:' + a.screening_decision + (a.screening_confidence ? ' (confidence:' + a.screening_confidence + (a._needs_human_review ? ',needs_human_review' : '') + ')' : (a._needs_human_review ? ' (needs_human_review)' : '')) + (a.screening_reason ? ' - ' + a.screening_reason : '') + '\\n';\n      }\n      return n;\n    },\n    columns(articles) {\n      const headers = ['Titre', 'Auteurs', 'Année', 'Journal', 'DOI', 'Décision', 'Confiance', 'Vérif. humaine', 'Décision M2', 'Accord', 'Critères', 'Justification', 'Abstract']; // SCREENING_CONFIDENCE_COLS_v1 SCREENING_DOUBLE_COLS_v1 SCREENING_PERCRIT_COL_v1\n      const order = { 'Include': 0, 'Maybe': 1, 'Exclude': 2 };\n      const sorted = [...articles].sort((a,b) => (order[a.screening_decision]||1) - (order[b.screening_decision]||1));\n      const rows = sorted.map(a => [a.title||'', (a.authors||[]).join('; '), a.year||'', a.journal||'', a.doi||'', a.screening_decision||'Maybe', a.screening_confidence||'', (a._needs_human_review ? 'Oui' : ''), a.screening_decision_2||'', a.screening_agreement||'', a.screening_criteria||'', a.screening_reason||'', (a.abstract||'').substring(0,1000)]);\n      return { headers, rows };\n    },\n    styleSheet(ws, wsData) {\n      for (let r = 1; r < wsData.length; r++) {\n        const cell = ws[XLSX.utils.encode_cell({ r, c: 5 })];\n        if (cell) {\n          const d = wsData[r][5];\n          const bg = d === 'Include' ? '00B050' : (d === 'Exclude' ? 'FF0000' : 'FFA500');\n          cell.s = { fill: { fgColor: { rgb: bg } }, font: { color: { rgb: 'FFFFFF' }, bold: true } };\n        }\n      }\n    },\n    reportSection(articles, stats, a0) {\n      let r = '';\n      const __kap = articles[0] && articles[0]._screening_kappa; // SCREENING_DOUBLE_REPORT_v1\n      if (__kap && __kap.enabled) {\n        r += '### Double relecture (accord inter-juges)\\n\\n';\n        r += '- Modeles : ' + __kap.model_1 + ' vs ' + __kap.model_2 + '\\n';\n        r += '- Articles relus 2x : ' + __kap.n_double_rated + '\\n';\n        r += '- Accord : ' + (__kap.percent_agreement != null ? __kap.percent_agreement + '%' : 'n/a') + ' (' + __kap.n_agree + '/' + __kap.n_double_rated + ')\\n';\n        r += '- **kappa de Cohen : ' + __kap.cohen_kappa + '** (' + __kap.kappa_interpretation + ')\\n';\n        r += '- Desaccords renvoyes en verif. humaine : ' + __kap.n_disagree + '\\n\\n';\n      }\n      const inc = articles.filter(a => a.screening_decision === 'Include').slice(0, 10);\n      const may = articles.filter(a => a.screening_decision === 'Maybe').slice(0, 5);\n      r += '### Top 10 articles inclus\\n\\n';\n      inc.forEach((a, i) => { r += (i+1) + '. **' + (a.title || '?').substring(0, 100) + '** _(' + (a.year || 'n.d.') + ')_\\n   Confiance : ' + (a.screening_confidence || 'n/a') + (a._needs_human_review ? ' (verif. humaine recommandee)' : '') + ' - Raison : ' + (a.screening_reason || '').substring(0, 150) + '\\n'; });\n      r += '\\n### Top 5 \"Maybe\" a re-examiner manuellement\\n\\n';\n      may.forEach((a, i) => { r += (i+1) + '. ' + (a.title || '?').substring(0, 100) + ' - ' + (a.screening_reason || '').substring(0, 100) + '\\n'; });\n      return r;\n    },\n  },\n\n  'ranking': {\n    statsInto(stats, articles) {\n      const scores = articles.map(a => a.score || 0);\n      stats.avg_score = scores.length > 0 ? Math.round(scores.reduce((a,b) => a+b, 0) / scores.length) : 0;\n      stats.high_score = scores.filter(s => s >= 70).length;\n      stats.med_score = scores.filter(s => s >= 40 && s < 70).length;\n      stats.low_score = scores.filter(s => s < 40).length;\n    },\n    risNote(a) {\n      let n = '';\n      if (a.score !== undefined) {\n        n += 'N1  - relevance_score:' + a.score + (a.score_reason ? ' - ' + a.score_reason : '') + '\\n';\n      }\n      return n;\n    },\n    columns(articles) {\n      const headers = ['Score', 'Score M2', 'Écart', 'Titre', 'Auteurs', 'Année', 'Journal', 'DOI', 'Topic', 'Population', 'Methodology', 'Context', 'Justification', 'Abstract'];\n      const sorted = [...articles].sort((a,b) => (b.score||0) - (a.score||0));\n      const rows = sorted.map(a => {\n        const bd = a.score_breakdown || {};\n        return [a.score||0, (a.score_2 !== undefined ? a.score_2 : ''), (a.score_diff !== undefined ? a.score_diff : ''), a.title||'', (a.authors||[]).join('; '), a.year||'', a.journal||'', a.doi||'', bd.topic||'', bd.population||'', bd.methodology||'', bd.context||'', a.score_reason||'', (a.abstract||'').substring(0,1000)];\n      });\n      return { headers, rows };\n    },\n    reportSection(articles, stats, a0) {\n      let r = '';\n      const top = [...articles].sort((a,b) => (b.score||0) - (a.score||0)).slice(0, 10);\n      r += '### Top 10 articles par pertinence\\n\\n';\n      top.forEach((a, i) => { r += (i+1) + '. **[' + (a.score||0) + '/100]** ' + (a.title || '?').substring(0, 100) + '\\n   ' + (a.score_reason || '').substring(0, 150) + '\\n'; });\n      return r;\n    },\n  },\n\n  'clustering': {\n    statsInto(stats, articles) {\n      const labels = new Set(articles.map(a => a.cluster_label).filter(Boolean));\n      stats.clusters = labels.size;\n      stats.cluster_list = [...labels];\n    },\n    risNote(a) {\n      let n = '';\n      if (a.cluster_label) {\n        n += 'N1  - cluster:' + a.cluster_label + '\\n';\n      }\n      return n;\n    },\n    columns(articles) {\n      const headers = ['Cluster', 'Titre', 'Auteurs', 'Année', 'Journal', 'DOI', 'Abstract'];\n      const sorted = [...articles].sort((a,b) => (a.cluster_label||'').localeCompare(b.cluster_label||''));\n      const rows = sorted.map(a => [a.cluster_label||'Unclustered', a.title||'', (a.authors||[]).join('; '), a.year||'', a.journal||'', a.doi||'', (a.abstract||'').substring(0,1000)]);\n      return { headers, rows };\n    },\n    reportSection(articles, stats, a0) {\n      let r = '';\n      const byCluster = {};\n      articles.forEach(a => { const c = a.cluster_label || 'Unclustered'; (byCluster[c] = byCluster[c] || []).push(a); });\n      r += '### Clusters identifies\\n\\n';\n      for (const c of Object.keys(byCluster)) {\n        r += '- **' + c + '** : ' + byCluster[c].length + ' articles\\n';\n        byCluster[c].slice(0, 3).forEach(a => { r += '  - ' + (a.title || '?').substring(0, 90) + '\\n'; });\n      }\n      return r;\n    },\n  },\n\n  'pdf-fetch': {\n    statsInto(stats, articles) {\n      stats.downloaded = articles.filter(a => a.pdf_local).length;\n      stats.failed = articles.filter(a => a.pdf_url && !a.pdf_local).length;\n      stats.no_doi = articles.filter(a => !a.doi).length;\n      // PDF_COVERAGE_v1 : clarifier la couverture (exclus non tentes vs tentes)\n      stats.total = articles.length;\n      stats.attempted = articles.filter(a => a.screening_decision === 'Include' || a.screening_decision === 'Maybe').length;\n      stats.excluded_not_fetched = articles.filter(a => a.screening_decision === 'Exclude').length;\n      stats.not_downloaded = Math.max(0, stats.attempted - stats.downloaded);\n      // PDF_BY_SOURCE_v1 - repartition par source pour affichage UI\n      stats.by_source = { zotero: 0, unpaywall: 0, core: 0, europepmc: 0, other: 0, none: 0 };\n      for (const a of articles) {\n        if (!a.pdf_local) {\n          stats.by_source.none++;\n          continue;\n        }\n        const src = (a.pdf_source || '').toLowerCase();\n        if (src === 'zotero') stats.by_source.zotero++;\n        else if (src === 'unpaywall') stats.by_source.unpaywall++;\n        else if (src === 'core' || src === 'core.ac.uk') stats.by_source.core++;\n        else if (src.indexOf('europe') === 0 || src === 'europepmc') stats.by_source.europepmc++;\n        else stats.by_source.other++;\n      }\n    },\n    columns(articles) {\n      const headers = ['Titre', 'Auteurs', 'Année', 'DOI', 'PDF téléchargé', 'Source PDF', 'Chemin local', 'URL'];\n      const rows = articles.map(a => [a.title||'', (a.authors||[]).join('; '), a.year||'', a.doi||'', a.pdf_local ? 'Oui' : 'Non', a.pdf_source||'', a.pdf_local||'', a.pdf_url||a.url||'']);\n      return { headers, rows };\n    },\n    reportSection(articles, stats, a0) {\n      let r = '';\n      const ok = articles.filter(a => a.pdf_local).slice(0, 10);\n      const ko = articles.filter(a => !a.pdf_local && !!a.doi).slice(0, 10);\n      r += '### Top 10 PDFs telecharges\\n\\n';\n      ok.forEach((a, i) => { r += (i+1) + '. ' + (a.title || '?').substring(0, 100) + ' [' + (a.pdf_source || '') + ']\\n'; });\n      r += '\\n### Top 10 echecs (DOI sans PDF)\\n\\n';\n      ko.forEach((a, i) => { r += (i+1) + '. ' + (a.title || '?').substring(0, 100) + ' - DOI : ' + a.doi + '\\n'; });\n      return r;\n    },\n  },\n\n  'extraction': {\n    statsInto(stats, articles) {\n      stats.extracted_ok = articles.filter(a => a._extract_status === 'ok').length;\n      stats.extracted_failed = articles.filter(a => a._extract_status && a._extract_status !== 'ok').length;\n      stats.with_pdf = articles.filter(a => a._extract_source && a._extract_source.indexOf('PDF') === 0).length;\n      stats.abstract_only = articles.filter(a => a._extract_source && a._extract_source.indexOf('abstract') === 0).length;\n    },\n    risNote(a) {\n      let n = '';\n      if (a._extracted) {\n        for (const k of Object.keys(a._extracted)) {\n          const v = String(a._extracted[k] || '').replace(/\\n/g, ' ').substring(0, 500);\n          if (v) n += 'N1  - ' + k + ':' + v + '\\n';\n        }\n      }\n      return n;\n    },\n    columns(articles) {\n      // Recuperer dynamiquement les champs extraits du premier article\n      const extractedKeys = new Set();\n      articles.forEach(a => { if (a._extracted) Object.keys(a._extracted).forEach(k => extractedKeys.add(k)); });\n      const fieldNames = [...extractedKeys];\n      const headers = ['Titre', 'Auteurs', 'Année', 'DOI', 'Source extraction', 'Statut'].concat(fieldNames);\n      const rows = articles.map(a => {\n        const ext = a._extracted || {};\n        return [a.title||'', (a.authors||[]).join('; '), a.year||'', a.doi||'', a._extract_source||'', a._extract_status||'']\n          .concat(fieldNames.map(f => ext[f] !== undefined ? String(ext[f]) : ''));\n      });\n      return { headers, rows };\n    },\n    reportSection(articles, stats, a0) {\n      let r = '';\n      const ok = articles.filter(a => a._extract_status === 'ok').slice(0, 5);\n      r += '### 5 premiers articles avec extraction reussie\\n\\n';\n      ok.forEach((a, i) => {\n        r += (i+1) + '. **' + (a.title || '?').substring(0, 100) + '**\\n';\n        const ext = a._extracted || {};\n        for (const k of Object.keys(ext).slice(0, 5)) {\n          r += '   - _' + k + '_ : ' + String(ext[k]).substring(0, 200) + '\\n';\n        }\n      });\n      return r;\n    },\n  },\n\n  'fulltext-screening': {\n    statsInto(stats, articles) {\n      const confirmed = articles.filter(a => a._fulltext_status === 'confirmed').length;\n      const revised = articles.filter(a => a._fulltext_status === 'revised').length;\n      const no_pdf = articles.filter(a => a._fulltext_status === 'no_pdf').length;\n      const extract_failed = articles.filter(a => a._fulltext_status === 'extract_failed').length;\n      const llm_error = articles.filter(a => a._fulltext_status === 'llm_error').length;\n      stats.confirmed = confirmed;\n      stats.revised = revised;\n      stats.no_pdf = no_pdf;\n      stats.extract_failed = extract_failed;\n      stats.llm_error = llm_error;\n      stats.total_evaluated = confirmed + revised;\n      // Stats sur les decisions finales (fulltext) - seulement pour les eligibles\n      const eligibles = articles.filter(a => a.screening_decision_fulltext);\n      stats.include_final = eligibles.filter(a => a.screening_decision_fulltext === 'Include').length;\n      stats.maybe_final = eligibles.filter(a => a.screening_decision_fulltext === 'Maybe').length;\n      stats.exclude_final = eligibles.filter(a => a.screening_decision_fulltext === 'Exclude').length;\n    },\n    columns(articles) {\n      // FULLTEXT_REPORTING_v1\n      const headers = ['Titre', 'Décision (fulltext)', 'Justification', 'Décision initiale', 'Statut', 'Auteurs', 'Année', 'Journal', 'DOI', 'PDF local'];\n      const order = { 'Include': 0, 'Maybe': 1, 'Exclude': 2 };\n      const evalable = articles.filter(a => a.screening_decision_fulltext);\n      const skipped = articles.filter(a => !a.screening_decision_fulltext);\n      const sorted = evalable.sort((a, b) => {\n        const oa = order[a.screening_decision_fulltext];\n        const ob = order[b.screening_decision_fulltext];\n        return (oa === undefined ? 99 : oa) - (ob === undefined ? 99 : ob);\n      }).concat(skipped);\n      const rows = sorted.map(a => [\n        a.title || '',\n        a.screening_decision_fulltext || '(non evalue)',\n        a.screening_reason_fulltext || a._fulltext_skipped || '',\n        a.screening_decision_initial || '(aucune)',\n        a._fulltext_status || (a._fulltext_skipped ? 'skipped' : ''),\n        (a.authors || []).join('; '),\n        a.year || '',\n        a.journal || '',\n        a.doi || '',\n        a.pdf_local || ''\n      ]);\n      return { headers, rows };\n    },\n    reportSection(articles, stats, a0) {\n      let r = '';\n      // FULLTEXT_REPORTING_v1 - rapport detaille avec toutes les decisions\n      r += '### Synthese\\n\\n';\n      r += '- Articles evalues par le LLM : **' + (stats.total_evaluated || 0) + '**\\n';\n      r += '- Decision initiale confirmee : ' + (stats.confirmed || 0) + '\\n';\n      r += '- Decision revisee : **' + (stats.revised || 0) + '**\\n';\n      r += '- Non analyses (PDF absent / erreur extraction / erreur LLM) : ' + ((stats.no_pdf || 0) + (stats.extract_failed || 0) + (stats.llm_error || 0)) + '\\n\\n';\n      r += '### Repartition finale\\n\\n';\n      r += '- Include : ' + (stats.include_final || 0) + '\\n';\n      r += '- Maybe   : ' + (stats.maybe_final || 0) + '\\n';\n      r += '- Exclude : ' + (stats.exclude_final || 0) + '\\n\\n';\n\n      const evalable = articles.filter(a => a.screening_decision_fulltext);\n      const incs = evalable.filter(a => a.screening_decision_fulltext === 'Include');\n      const mays = evalable.filter(a => a.screening_decision_fulltext === 'Maybe');\n      const excs = evalable.filter(a => a.screening_decision_fulltext === 'Exclude');\n      const skipped = articles.filter(a => !a.screening_decision_fulltext);\n\n      if (incs.length > 0) {\n        r += '### ✅ Include (' + incs.length + ')\\n\\n';\n        incs.forEach(function(a, i) {\n          r += (i + 1) + '. **' + (a.title || '?').substring(0, 160) + '**\\n';\n          if (a.screening_decision_initial) r += '   - _Decision initiale : ' + a.screening_decision_initial + '_\\n';\n          r += '   - _Justification (fulltext) :_ ' + (a.screening_reason_fulltext || '(non fournie)').substring(0, 350) + '\\n';\n          if (a.doi) r += '   - DOI : ' + a.doi + '\\n';\n          r += '\\n';\n        });\n      }\n      if (mays.length > 0) {\n        r += '### ⚠️ Maybe (' + mays.length + ') - a re-examiner manuellement\\n\\n';\n        mays.forEach(function(a, i) {\n          r += (i + 1) + '. **' + (a.title || '?').substring(0, 160) + '**\\n';\n          if (a.screening_decision_initial) r += '   - _Decision initiale : ' + a.screening_decision_initial + '_\\n';\n          r += '   - _Justification :_ ' + (a.screening_reason_fulltext || '(non fournie)').substring(0, 350) + '\\n';\n          if (a.doi) r += '   - DOI : ' + a.doi + '\\n';\n          r += '\\n';\n        });\n      }\n      if (excs.length > 0) {\n        r += '### ❌ Exclude (' + excs.length + ')\\n\\n';\n        excs.forEach(function(a, i) {\n          r += (i + 1) + '. ' + (a.title || '?').substring(0, 160) + '\\n';\n          r += '   - _Raison :_ ' + (a.screening_reason_fulltext || '(non fournie)').substring(0, 300) + '\\n';\n          if (a.doi) r += '   - DOI : ' + a.doi + '\\n';\n          r += '\\n';\n        });\n      }\n      if (skipped.length > 0) {\n        r += '### ⏭️ Non analyses (' + skipped.length + ')\\n\\n';\n        skipped.forEach(function(a, i) {\n          const why = a._fulltext_skipped || a._fulltext_status || 'raison inconnue';\n          r += (i + 1) + '. ' + (a.title || '?').substring(0, 160) + ' _(' + why + ')_\\n';\n        });\n        r += '\\n';\n      }\n      return r;\n    },\n  },\n\n  'predatory-scan': {\n    statsInto(stats, articles) {\n      const byLevel = { low: 0, medium: 0, high: 0, critical: 0, unknown: 0 };\n      let totalScore = 0;\n      for (const a of articles) {\n        const lvl = a._predatory_level || 'unknown';\n        byLevel[lvl] = (byLevel[lvl] || 0) + 1;\n        totalScore += (a._predatory_score || 0);\n      }\n      stats.low = byLevel.low;\n      stats.medium = byLevel.medium;\n      stats.high = byLevel.high;\n      stats.critical = byLevel.critical;\n      stats.to_review = (byLevel.high || 0) + (byLevel.critical || 0);\n      stats.avg_score = articles.length > 0 ? Math.round(totalScore / articles.length) : 0;\n    },\n    columns(articles) {\n      const headers = ['Score', 'Niveau', 'Drapeau', 'Titre', 'Journal', 'Publisher', 'DOI', 'ISSN', 'Année', 'Raisons', 'Rétractation'];\n      // Tri par score decroissant (les plus risques en haut)\n      const sorted = [...articles].sort((a, b) => (b._predatory_score || 0) - (a._predatory_score || 0));\n      const rows = sorted.map(a => [\n        a._predatory_score || 0,\n        a._predatory_level || 'unknown',\n        a._predatory_flag || 'gray',\n        a.title || '',\n        a.journal || '',\n        a.publisher || (a._crossref_publisher || ''),\n        a.doi || '',\n        a.issn || a.ISSN || '',\n        a.year || '',\n        Array.isArray(a._predatory_reasons) ? a._predatory_reasons.join(' | ') : '',\n        (a._retraction_status === 'retracted' ? 'RÉTRACTÉ' : (a._retraction_status === 'concern' ? 'Expression of concern' : ''))\n      ]);\n      return { headers, rows };\n    },\n    extraSheets(wb, articles) {\n      // D.6 phase 2 : feuille \"A revoir\" pour mode predatory-scan (high + critical seulement)\n      const toReview = articles\n        .filter(a => a._predatory_level === 'high' || a._predatory_level === 'critical')\n        .sort((a, b) => (b._predatory_score || 0) - (a._predatory_score || 0));\n      if (toReview.length > 0) {\n        const rvHeaders = ['Score', 'Niveau', 'Titre', 'Journal', 'Publisher', 'ISSN', 'Raisons (detail)'];\n        const rvRows = toReview.map(a => [\n          a._predatory_score || 0,\n          a._predatory_level || '',\n          a.title || '',\n          a.journal || '',\n          a.publisher || (a._crossref_publisher || ''),\n          a.issn || a.ISSN || '',\n          Array.isArray(a._predatory_reasons) ? a._predatory_reasons.join('\\n') : ''\n        ]);\n        const rvData = [rvHeaders, ...rvRows].map(r => Array.isArray(r) ? r.map(safeCell) : r);\n        const wsR = XLSX.utils.aoa_to_sheet(rvData);\n        wsR['!cols'] = [{ wch: 8 }, { wch: 10 }, { wch: 50 }, { wch: 35 }, { wch: 25 }, { wch: 15 }, { wch: 60 }];\n        XLSX.utils.book_append_sheet(wb, wsR, 'A revoir');\n      }\n    },\n    reportSection(articles, stats, a0) {\n      let r = '';\n      r += '### Synthese du scan predatrices\\n\\n';\n      r += '- Articles scannes : ' + (stats.total || articles.length) + '\\n';\n      r += '- Score moyen : ' + (stats.avg_score || 0) + '/100\\n';\n      r += '- A revoir (high + critical) : **' + (stats.to_review || 0) + '** articles\\n\\n';\n      r += '### Repartition par niveau de risque\\n\\n';\n      r += '- 🟢 LOW (0-25) : ' + (stats.low || 0) + ' articles\\n';\n      r += '- 🟠 MEDIUM (26-50) : ' + (stats.medium || 0) + ' articles\\n';\n      r += '- 🔴 HIGH (51-75) : ' + (stats.high || 0) + ' articles\\n';\n      r += '- 🔴 CRITICAL (76-100) : ' + (stats.critical || 0) + ' articles\\n\\n';\n      const toReview = articles\n        .filter(a => a._predatory_level === 'high' || a._predatory_level === 'critical')\n        .sort((a, b) => (b._predatory_score || 0) - (a._predatory_score || 0))\n        .slice(0, 10);\n      if (toReview.length > 0) {\n        r += '### Top 10 articles a revoir manuellement (risque eleve)\\n\\n';\n        toReview.forEach((a, i) => {\n          r += (i + 1) + '. **[Score ' + a._predatory_score + ' - ' + a._predatory_level.toUpperCase() + ']** ' + (a.title || '?').substring(0, 100) + '\\n';\n          r += '   Journal : ' + (a.journal || 'inconnu') + ' (' + (a.publisher || a._crossref_publisher || 'publisher inconnu') + ')\\n';\n          const reasons = Array.isArray(a._predatory_reasons) ? a._predatory_reasons.slice(0, 3) : [];\n          for (const reason of reasons) r += '   - ' + reason + '\\n';\n        });\n      }\n      return r;\n    },\n  },\n\n  'deduplicate': {\n    statsInto(stats, articles) {\n      stats.before = (articles[0] && articles[0]._total_before_dedup) || articles.length;\n      stats.after = articles.length;\n      stats.duplicates_removed = (articles[0] && articles[0]._duplicates_removed) || 0;\n      stats.dedup_rate_pct = stats.before > 0 ? Math.round(stats.duplicates_removed / stats.before * 100) : 0;\n    },\n    columns(articles) {\n      const headers = ['Titre', 'Auteurs', 'Année', 'Journal', 'DOI', 'Source', 'Clé dedup'];\n      const rows = articles.map(a => [a.title||'', (a.authors||[]).join('; '), a.year||'', a.journal||'', a.doi||'', a.source||'', a._deduplication_key||'']);\n      return { headers, rows };\n    },\n    extraSheets(wb, articles) {\n      // D.6 phase 2 : feuille \"Doublons\" pour mode deduplicate\n      const firstArt = articles[0] || {};\n      const dedupReport = firstArt._dedup_report || null;\n      if (dedupReport && Array.isArray(dedupReport.duplicates_detail) && dedupReport.duplicates_detail.length > 0) {\n        const dupHeaders = ['Strategie', 'Confidence', 'Titre doublon', 'Titre master', 'Cle de match'];\n        const dupRows = dedupReport.duplicates_detail.map(d => [\n          d.strategy || '',\n          d.confidence || '',\n          d.duplicate_title || '',\n          d.master_title || '',\n          d.key_excerpt || ''\n        ]);\n        const dupData = [dupHeaders, ...dupRows].map(r => Array.isArray(r) ? r.map(safeCell) : r);\n        const wsD = XLSX.utils.aoa_to_sheet(dupData);\n        wsD['!cols'] = [{ wch: 18 }, { wch: 12 }, { wch: 50 }, { wch: 50 }, { wch: 30 }];\n        if (dupData.length > 1) {\n          wsD['!autofilter'] = { ref: XLSX.utils.encode_range({ s: { r: 0, c: 0 }, e: { r: dupData.length - 1, c: dupHeaders.length - 1 } }) };\n        }\n        XLSX.utils.book_append_sheet(wb, wsD, 'Doublons');\n      }\n    },\n    reportSection(articles, stats, a0) {\n      let r = '';\n      r += '### Statistiques de deduplication\\n\\n';\n      r += '- Articles initiaux : ' + (stats.before || 0) + '\\n';\n      r += '- Articles uniques apres dedup : ' + (stats.after || 0) + '\\n';\n      r += '- Doublons supprimes : ' + (stats.duplicates_removed || 0);\n      r += ' (taux : ' + (stats.dedup_rate_pct || 0) + '%)\\n\\n';\n\n      // D.6 phase 2 : exploite _dedup_report injecte par Dedup v2\n      const firstArt = articles[0] || {};\n      const dedupReport = firstArt._dedup_report || null;\n      if (dedupReport) {\n        r += '### Repartition par strategie de detection\\n\\n';\n        const strat = dedupReport.strategies || {};\n        r += '- DOI identique (high confidence) : ' + (strat.doi || 0) + '\\n';\n        r += '- Titre + annee + 1er auteur (medium confidence) : ' + (strat['title+year+author'] || 0) + '\\n';\n        r += '- Titre normalise seul (low confidence, a re-verifier) : ' + (strat['title-only'] || 0) + '\\n\\n';\n\n        const bySrc = dedupReport.by_source || {};\n        if (Object.keys(bySrc).length > 0) {\n          r += '### Repartition des uniques par source\\n\\n';\n          for (const k of Object.keys(bySrc)) {\n            r += '- ' + k + ' : ' + bySrc[k] + ' articles\\n';\n          }\n          r += '\\n';\n        }\n\n        const dups = dedupReport.duplicates_detail || [];\n        if (dups.length > 0) {\n          r += '### Echantillon des 10 premiers doublons detectes\\n\\n';\n          dups.slice(0, 10).forEach((d, i) => {\n            r += (i + 1) + '. **Strategie : ' + d.strategy + '** (' + d.confidence + ')\\n';\n            r += '   - Doublon : ' + (d.duplicate_title || '?').substring(0, 100) + '\\n';\n            r += '   - Master  : ' + (d.master_title || '?').substring(0, 100) + '\\n';\n            if (d.key_excerpt) r += '   - Cle    : ' + d.key_excerpt + '\\n';\n          });\n          if (dups.length > 10) r += '\\n_... et ' + (dups.length - 10) + ' autres doublons (voir Excel sheet \"Doublons\" pour la liste complete)_\\n';\n          r += '\\n';\n        }\n      }\n\n      r += '### Echantillon des 10 premiers articles uniques\\n\\n';\n      articles.slice(0, 10).forEach((a, i) => { r += (i+1) + '. ' + (a.title || '?').substring(0, 100) + '\\n'; });\n      return r;\n    },\n  },\n\n  'risk-of-bias': {\n    statsInto(stats, articles) { /*ROB_STATS*/\n      const __lv = { low:0, medium:0, high:0, unknown:0 };\n      const __tools = {}; let __ftb=0,__ab=0,__nt=0;\n      for (const a of articles) {\n        const __l = a._rob_level || 'unknown'; __lv[__l] = (__lv[__l]||0)+1;\n        if (a._rob_tool) __tools[a._rob_tool] = (__tools[a._rob_tool]||0)+1;\n        if (a._rob_basis === 'fulltext') __ftb++; else if (a._rob_basis === 'abstract') __ab++;\n        if (a._rob_status === 'no_text') __nt++;\n      }\n      stats.assessed = articles.filter(a => a._rob_status === 'ok').length;\n      stats.low_risk = __lv.low; stats.medium_risk = __lv.medium; stats.high_risk = __lv.high; stats.unknown_risk = __lv.unknown;\n      stats.tools_used = Object.keys(__tools).map(function(t){ return t+' ('+__tools[t]+')'; }).join(', ');\n      stats.basis_fulltext = __ftb; stats.basis_abstract = __ab; stats.no_text = __nt;\n    },\n    columns(articles) { /*ROB_XLSX*/\n      const headers = ['Titre','Annee','Devis','Outil','Score global','Jugement global','Niveau','Commentaire','Niveau M2','Accord','Accord items %','DOI'];\n      var __ordR = { high:0, medium:1, low:2, unknown:3 };\n      var sortedR = articles.slice().sort(function(a,b){ var la=(a._rob_level||'unknown'), lb=(b._rob_level||'unknown'); return (__ordR[la]==null?9:__ordR[la]) - (__ordR[lb]==null?9:__ordR[lb]); });\n      const rows = sortedR.map(function(a){\n        var sc = (a._rob_score!=null) ? (a._rob_score+'/'+(a._rob_score_max||'?')) : '';\n        return [a.title||'', a.year||'', a._rob_design||'', a._rob_tool||'', sc, a._rob_overall||'', a._rob_level||'', a._rob_comment||'', a._rob_level_2||'', a._rob_agreement||'', (a._rob_item_agreement!=null?a._rob_item_agreement+'%':''), a.doi||''];\n      });\n      return { headers, rows };\n    },\n    styleSheet(ws, wsData) { /*ROB_COLOR*/\n      for (let r = 1; r < wsData.length; r++) {\n        const cell = ws[XLSX.utils.encode_cell({ r, c: 6 })];\n        if (cell) {\n          const o = String(wsData[r][6] || '').toLowerCase();\n          let bg = null;\n          if (o === 'low') bg = '00B050';\n          else if (o === 'medium') bg = 'FFA500';\n          else if (o === 'high') bg = 'FF0000';\n          if (bg) cell.s = { fill: { fgColor: { rgb: bg } }, font: { color: { rgb: 'FFFFFF' }, bold: true } };\n        }\n      }\n    },\n    extraSheets(wb, articles) { /*ROB_SHEETS*/\n      var __byTool = {};\n      articles.forEach(function(a){ if(a._rob_status!=='ok'||!a._rob_item_defs) return; (__byTool[a._rob_tool]=__byTool[a._rob_tool]||[]).push(a); });\n      Object.keys(__byTool).forEach(function(tname){\n        var arr=__byTool[tname]; var defs=arr[0]._rob_item_defs||[];\n        var hdr=['Titre','Annee','DOI'];\n        defs.forEach(function(it){ hdr.push(it[1]); hdr.push('Justif: '+it[0]); });\n        hdr.push('Score'); hdr.push('Jugement global'); hdr.push('Niveau');\n        var rws=arr.map(function(a){\n          var it0=a._rob_items||{}; var row=[a.title||'', a.year||'', a.doi||''];\n          defs.forEach(function(it){ var e=it0[it[0]]||{}; row.push(e.answer||''); row.push(e.justification||''); });\n          row.push(a._rob_score!=null?(a._rob_score+'/'+(a._rob_score_max||'?')):''); row.push(a._rob_overall||''); row.push(a._rob_level||'');\n          return row;\n        });\n        var data=[hdr].concat(rws).map(function(rr){ return rr.map(safeCell); });\n        var wsT=XLSX.utils.aoa_to_sheet(data);\n        wsT['!cols']=hdr.map(function(h){ return { wch: h==='Titre'?45:(String(h).indexOf('Justif')===0?40:18) }; });\n        if(data.length>1) wsT['!autofilter']={ ref: XLSX.utils.encode_range({ s:{r:0,c:0}, e:{r:data.length-1,c:hdr.length-1} }) };\n        var sn=String(tname).replace(/[\\\\\\/?*\\[\\]:]/g,' ').substring(0,28) || 'Outil';\n        XLSX.utils.book_append_sheet(wb, wsT, sn);\n      });\n    },\n    reportSection(articles, stats, a0) { /*ROB_REPORT*/\n      let r = '';\n      r += '### Synthese de l evaluation du risque de biais\\n\\n';\n      r += '- Articles evalues : **' + (stats.assessed || 0) + '**\\n';\n      r += '- Outils utilises : ' + (stats.tools_used || '-') + '\\n';\n      r += '- Base sur texte integral : ' + (stats.basis_fulltext || 0) + ' | sur abstract seul : ' + (stats.basis_abstract || 0) + '\\n\\n';\n      const __rd = articles[0] && articles[0]._rob_double;\n      if (__rd && __rd.enabled) {\n        r += '### Double evaluation (accord inter-juges)\\n\\n';\n        r += '- Modeles : ' + __rd.model_1 + ' vs ' + __rd.model_2 + '\\n';\n        r += '- Articles evalues 2x : ' + __rd.n_double + '\\n';\n        r += '- Accord niveau global : ' + (__rd.percent_agreement != null ? __rd.percent_agreement + '%' : 'n/a') + ' | accord moyen par item : ' + (__rd.mean_item_agreement != null ? __rd.mean_item_agreement + '%' : 'n/a') + '\\n';\n        r += '- kappa de Cohen (niveau global) : **' + __rd.cohen_kappa + '** (' + __rd.kappa_interpretation + ')\\n\\n';\n      }\n      r += '### Repartition du risque global\\n\\n';\n      r += '- Faible (low) : ' + (stats.low_risk || 0) + '\\n';\n      r += '- Modere : ' + (stats.medium_risk || 0) + '\\n';\n      r += '- Eleve : ' + (stats.high_risk || 0) + '\\n\\n';\n      const __hi = articles.filter(a => a._rob_level === 'high').slice(0, 10);\n      if (__hi.length > 0) {\n        r += '### Articles a risque eleve (top 10)\\n\\n';\n        __hi.forEach(function(a, i){\n          var __g = a._rob_overall || (a._rob_score!=null?(a._rob_score+'/'+a._rob_score_max):'');\n          r += (i+1) + '. **' + (a.title||'?').substring(0,140) + '** [' + (a._rob_tool||'') + ' / ' + __g + ']\\n';\n          r += '   - ' + (a._rob_comment||'').substring(0,250) + '\\n';\n        });\n      }\n      return r;\n    },\n  },\n\n  'snowballing': {\n    statsInto(stats, articles) { /*SNOW_STATS*/\n      const __ss = (articles[0] && articles[0]._snowball_summary) || {};\n      const real = articles.filter(a => !a._snowball_empty);\n      stats.total = real.length;\n      stats.candidates = real.length;\n      stats.seeds = __ss.seeds || 0;\n      stats.seeds_resolved = __ss.seeds_resolved || 0;\n      stats.backward = real.filter(a => a._snowball_direction === 'backward').length;\n      stats.forward = real.filter(a => a._snowball_direction === 'forward').length;\n      stats.both = real.filter(a => a._snowball_direction === 'both').length;\n      stats.removed_in_corpus = __ss.removed_in_corpus || 0;\n      stats.multi_seed = real.filter(a => (a._snowball_seed_count||1) > 1).length;\n    },\n    columns(articles) { /*SNOW_XLSX*/\n      const headers = ['Titre','Annee','Auteurs','Journal','DOI','Direction','Sources','Citations','Co-citation (nb sources)','Vu via (seeds)','Abstract'];\n      var sortedS = articles.filter(function(a){ return !a._snowball_empty; });\n      const rows = sortedS.map(function(a){\n        return [a.title||'', a.year||'', (a.authors||[]).join('; '), a.journal||'', a.doi||'', a._snowball_direction||'', a._snowball_sources_str||'', (a.cited_by_count!=null?a.cited_by_count:''), (a._snowball_seed_count||1), Array.isArray(a._snowball_seeds)?a._snowball_seeds.join(' | '):'', (a.abstract||'').substring(0,1000)];\n      });\n      return { headers, rows };\n    },\n    reportSection(articles, stats, a0) { /*SNOW_REPORT*/\n      let r = '';\n      const __ss = (articles[0] && articles[0]._snowball_summary) || {};\n      const real = articles.filter(a => !a._snowball_empty);\n      r += '### Synthese du chainage de citations (snowballing)\\n\\n';\n      r += '- Articles sources (seeds) : ' + (__ss.seeds||0) + ' (resolus OpenAlex : ' + (__ss.seeds_resolved||0) + ')\\n';\n      r += '- Direction : ' + (__ss.directions||'both') + ' | plafond citations entrantes/article : ' + (__ss.forward_cap||'-') + '\\n';\n      r += '- Candidats uniques trouves : **' + real.length + '**\\n';\n      r += '- Deja dans le corpus (retires) : ' + (__ss.removed_in_corpus||0) + '\\n';\n      if (__ss.by_source) { r += '- Par source : ' + Object.keys(__ss.by_source).map(function(s){ var v=__ss.by_source[s]||{}; return s+' (back '+(v.backward||0)+', fwd '+(v.forward||0)+')'; }).join(' ; ') + '\\n'; }\n      r += '- Backward (references) : ' + real.filter(a=>a._snowball_direction==='backward').length + ' | Forward (citations) : ' + real.filter(a=>a._snowball_direction==='forward').length + ' | Les deux : ' + real.filter(a=>a._snowball_direction==='both').length + '\\n\\n';\n      const __multi = real.filter(a => (a._snowball_seed_count||1) > 1).sort((a,b)=>b._snowball_seed_count-a._snowball_seed_count).slice(0,10);\n      if (__multi.length > 0) {\n        r += '### Candidats lies a plusieurs sources (co-citation, prioritaires)\\n\\n';\n        __multi.forEach(function(a,i){ r += (i+1)+'. **'+(a.title||'?').substring(0,140)+'** ('+a._snowball_seed_count+' sources, '+(a.cited_by_count||0)+' citations)\\n'; });\n        r += '\\n';\n      }\n      const __top = real.slice(0,10);\n      r += '### Top 10 candidats (par co-citation puis citations)\\n\\n';\n      __top.forEach(function(a,i){ r += (i+1)+'. '+(a.title||'?').substring(0,140)+' _('+(a.year||'n.d.')+', '+(a._snowball_direction||'')+')_\\n'; });\n      r += '\\n';\n      return r;\n    },\n  },\n\n  'meta-analysis': {\n    statsInto(stats, articles) { /*META_STATS*/\n      const __ms = (articles[0] && articles[0]._meta_summary) || {};\n      stats.total = articles.length;\n      stats.studies_with_data = articles.filter(a => a._meta_status === 'extracted' || a._meta_included).length;\n      stats.k_pooled = __ms.k || 0;\n      stats.measure = __ms.measure || '';\n      if (__ms.random) { stats.pooled_effect = __ms.random.effect; stats.pooled_ci = '['+__ms.random.ci_low+', '+__ms.random.ci_high+']'; }\n      if (__ms.heterogeneity) { stats.I2_pct = __ms.heterogeneity.I2; }\n      stats.excluded_from_pool = __ms.n_excluded || 0;\n    },\n    columns(articles) { /*META_XLSX*/\n      const __ms = (articles[0] && articles[0]._meta_summary) || {};\n      const headers = ['Etude','Annee','DOI','Mesure','Effet','IC bas','IC haut','Poids %','Inclus dans le pool','Statut'];\n      const __sorted = articles.slice().sort(function(a,b){ return (b._meta_weight||0)-(a._meta_weight||0); });\n      const rows = __sorted.map(function(a){ return [a.title||'', a.year||'', a.doi||'', (__ms.measure||''), (a._meta_effect!=null?a._meta_effect:''), (a._meta_ci_low!=null?a._meta_ci_low:''), (a._meta_ci_high!=null?a._meta_ci_high:''), (a._meta_weight!=null?a._meta_weight:''), (a._meta_included?'Oui':'Non'), (a._meta_status||'')]; });\n      return { headers, rows };\n    },\n    async sideFiles(ctx) { /*META_FILES*/\n      let metaOk=null, funnelOk=null;\n      try {\n        const __ms = (ctx.articles[0] && ctx.articles[0]._meta_summary) || {};\n        if (__ms.forest_svg) metaOk = await ctx.saveFile.call(this, ctx.outputFolder + '/forest-plot.html', '<!DOCTYPE html><meta charset=\"utf-8\"><body style=\"margin:0;background:#fff\">' + __ms.forest_svg + '</body>', false);\n        if (__ms.funnel_svg) funnelOk = await ctx.saveFile.call(this, ctx.outputFolder + '/funnel-plot.html', '<!DOCTYPE html><meta charset=\"utf-8\"><body style=\"margin:0;background:#fff\">' + __ms.funnel_svg + '</body>', false);\n        console.log('  + forest=' + metaOk + ' funnel=' + funnelOk);\n      } catch(e) { console.log('  meta svg err ' + e.message); }\n      return { forest: metaOk, funnel: funnelOk };\n    },\n    reportSection(articles, stats, a0) { /*META_REPORT*/\n      let r = '';\n      const __ms = (articles[0] && articles[0]._meta_summary) || {};\n      r += '### Meta-analyse\\n\\n';\n      r += '- Mesure : ' + (__ms.measure||'?') + (__ms.outcome?(' | Outcome : '+__ms.outcome):'') + '\\n';\n      r += '- Etudes poolees (k) : ' + (__ms.k||0) + ' (exclues faute de donnees exploitables : ' + (__ms.n_excluded||0) + ')\\n';\n      if (__ms.random) {\n        r += '- **Effet global (modele aleatoire) : ' + __ms.random.effect + ' [IC95% ' + __ms.random.ci_low + ', ' + __ms.random.ci_high + ']**\\n';\n        r += '- Effet global (modele fixe) : ' + __ms.fixed.effect + ' [' + __ms.fixed.ci_low + ', ' + __ms.fixed.ci_high + ']\\n';\n        r += '- Heterogeneite : I2 = ' + __ms.heterogeneity.I2 + '% | tau2 = ' + __ms.heterogeneity.tau2 + ' | Q = ' + __ms.heterogeneity.Q + ' (df ' + __ms.heterogeneity.df + ')\\n';\n        r += '- Intervalle de prediction (95%) : [' + __ms.prediction_interval.low + ', ' + __ms.prediction_interval.high + ']\\n';\n        if (__ms.egger) r += '- Test d Egger (asymetrie funnel, exploratoire) : intercept ' + __ms.egger.intercept + ', t = ' + __ms.egger.t + ' (df ' + __ms.egger.df + ')\\n';\n        r += '\\n_Voir forest-plot.html et funnel-plot.html pour les graphiques._\\n';\n      } else {\n        r += '- ' + (__ms.error || 'Pooling impossible.') + '\\n';\n      }\n      return r;\n    },\n  },\n\n  'grade': {\n    statsInto(stats, articles) { /*GRADE_STATS*/\n      const g = (articles[0] && articles[0]._grade_summary) || {};\n      stats.total = articles.length;\n      stats.certainty = g.certainty_fr || g.certainty || '';\n      stats.design = g.design || '';\n      stats.downgrades = g.downgrades || 0;\n      stats.upgrades = g.upgrades || 0;\n      stats.k = (g.k != null) ? g.k : articles.length;\n      stats.used_meta = !!g.used_meta; stats.used_rob = !!g.used_rob;\n    },\n    columns(articles) { /*GRADE_XLSX*/\n      const g = (articles[0] && articles[0]._grade_summary) || {};\n      const dm = g.domains || {};\n      const headers = ['Element','Evaluation','Detail'];\n      const rows = [\n        ['Outcome', g.outcome||'', ''],\n        ['Devis / niveau de depart', g.start_level||'', 'k = '+(g.k!=null?g.k:'?')+(g.measure?(' ; mesure '+g.measure):'')],\n        ['Risque de biais', (dm.risk_of_bias||{}).rating||'', (dm.risk_of_bias||{}).note||''],\n        ['Incoherence', (dm.inconsistency||{}).rating||'', (dm.inconsistency||{}).note||''],\n        ['Caractere indirect', (dm.indirectness||{}).rating||'', (dm.indirectness||{}).note||''],\n        ['Imprecision', (dm.imprecision||{}).rating||'', (dm.imprecision||{}).note||''],\n        ['Biais de publication', (dm.publication_bias||{}).rating||'', (dm.publication_bias||{}).note||''],\n        ['Reclassement', (g.upgrades?('+'+g.upgrades):'0'), (g.upgrade_notes||[]).join(' ; ')],\n        ['CERTITUDE GLOBALE', (g.certainty_fr||g.certainty||'')+' '+(g.certainty_symbol||''), 'declassements -'+(g.downgrades||0)+' / reclassements +'+(g.upgrades||0)]\n      ];\n      return { headers, rows };\n    },\n    async sideFiles(ctx) { /*GRADE_FILES*/\n      let sofOk=null;\n      try {\n        const g = (ctx.articles[0] && ctx.articles[0]._grade_summary) || {};\n        const dm = g.domains || {};\n        function gRow(k,v,n){ return '<tr><td>'+k+'</td><td>'+(v||'')+'</td><td style=\"color:#555\">'+(n||'')+'</td></tr>'; }\n        const pooledTxt = g.pooled ? (' ; effet groupe ' + (g.measure||'') + ' ' + g.pooled.effect + ' [' + g.pooled.ci_low + ', ' + g.pooled.ci_high + ']') : '';\n        const html = '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"utf-8\"><title>Summary of Findings (GRADE)</title>' +\n          '<style>body{font-family:Segoe UI,Arial,sans-serif;background:#f5f6fa;padding:24px;color:#222}h1{font-size:19px;color:#1a237e}table{border-collapse:collapse;background:#fff;box-shadow:0 1px 4px rgba(0,0,0,.08)}td,th{border:1px solid #ddd;padding:8px 12px;font-size:13px;text-align:left}th{background:#3f51b5;color:#fff}.cert{font-size:16px;font-weight:700;color:#1a237e}</style></head><body>' +\n          '<h1>Summary of Findings &mdash; GRADE</h1><p><b>Outcome :</b> ' + (g.outcome||'') + '</p>' +\n          '<table><tr><th>Element</th><th>Evaluation</th><th>Detail</th></tr>' +\n          gRow('Devis / niveau de depart', g.start_level, 'k = ' + (g.k!=null?g.k:'?') + pooledTxt) +\n          gRow('Risque de biais', (dm.risk_of_bias||{}).rating, (dm.risk_of_bias||{}).note) +\n          gRow('Incoherence', (dm.inconsistency||{}).rating, (dm.inconsistency||{}).note) +\n          gRow('Caractere indirect', (dm.indirectness||{}).rating, (dm.indirectness||{}).note) +\n          gRow('Imprecision', (dm.imprecision||{}).rating, (dm.imprecision||{}).note) +\n          gRow('Biais de publication', (dm.publication_bias||{}).rating, (dm.publication_bias||{}).note) +\n          '<tr><td class=\"cert\">CERTITUDE</td><td class=\"cert\">' + (g.certainty_fr||'') + ' ' + (g.certainty_symbol||'') + '</td><td>declassements -' + (g.downgrades||0) + ' / reclassements +' + (g.upgrades||0) + '</td></tr>' +\n          '</table></body></html>';\n        sofOk = await ctx.saveFile.call(this, ctx.outputFolder + '/summary-of-findings.html', html, false);\n        console.log('  + summary-of-findings.html : ' + sofOk);\n      } catch(e) { console.log('  sof err ' + e.message); }\n      return { sof: sofOk };\n    },\n    reportSection(articles, stats, a0) { /*GRADE_REPORT*/\n      let r = '';\n      const g = (articles[0] && articles[0]._grade_summary) || {};\n      const dm = g.domains || {};\n      r += '### GRADE - Certitude des preuves\\n\\n';\n      r += '- Outcome : ' + (g.outcome||'') + '\\n';\n      r += '- Niveau de depart : ' + (g.start_level||'') + ' (k=' + (g.k!=null?g.k:'?') + ')\\n';\n      r += '- **Certitude globale : ' + (g.certainty_fr||g.certainty||'') + ' ' + (g.certainty_symbol||'') + '** (declassements -' + (g.downgrades||0) + ', reclassements +' + (g.upgrades||0) + ')\\n\\n';\n      r += '| Domaine | Evaluation | Detail |\\n|---|---|---|\\n';\n      ['risk_of_bias','inconsistency','indirectness','imprecision','publication_bias'].forEach(function(k){ const dd=dm[k]||{}; const lbl={risk_of_bias:'Risque de biais',inconsistency:'Incoherence',indirectness:'Caractere indirect',imprecision:'Imprecision',publication_bias:'Biais de publication'}[k]; r += '| '+lbl+' | '+(dd.rating||'')+' | '+((dd.note||'').replace(/\\|/g,'/'))+' |\\n'; });\n      if (!g.used_meta) r += '\\n_Note : lancer d abord le module Meta-analyse sur ce corpus pour evaluer incoherence / imprecision / biais de publication._\\n';\n      r += '\\n_Voir summary-of-findings.html._\\n';\n      return r;\n    },\n  },\n};\n\n// ===================================================================================\n// SQUELETTES GENERIQUES (consomment MODULES[mode])\n// ===================================================================================\n\n// === GENERER LE FICHIER RIS ===\nfunction buildRIS(articles, mode) {\n  const M = MODULES[mode];\n  let ris = '';\n  for (const a of articles) {\n    const title = (a.title || '').replace(/\\n/g, ' ');\n    const authors = Array.isArray(a.authors) ? a.authors : [];\n    ris += 'TY  - JOUR\\n';\n    ris += 'TI  - ' + title + '\\n';\n    authors.forEach(au => { ris += 'AU  - ' + au + '\\n'; });\n    if (a.year) ris += 'PY  - ' + a.year + '\\n';\n    if (a.journal) ris += 'JO  - ' + (a.journal || '').replace(/\\n/g, ' ') + '\\n';\n    if (a.doi) ris += 'DO  - ' + a.doi + '\\n';\n    if (a.abstract) ris += 'AB  - ' + (a.abstract || '').replace(/\\n/g, ' ').substring(0, 2000) + '\\n';\n    // Annotations selon le mode\n    if (M && M.risNote) ris += M.risNote(a);\n    if (a.url || a.pdf_url) ris += 'UR  - ' + (a.pdf_url || a.url) + '\\n';\n    ris += 'ER  - \\n\\n';\n  }\n  return ris;\n}\n\n// === GENERER L'EXCEL ADAPTE AU MODULE ===\nfunction buildXLSX(articles, mode, stats) {\n  const M = MODULES[mode];\n  const wb = XLSX.utils.book_new();\n  let headers, rows;\n  if (M && M.columns) {\n    const col = M.columns(articles);\n    headers = col.headers; rows = col.rows;\n  } else {\n    headers = ['Titre', 'Auteurs', 'Année', 'DOI'];\n    rows = articles.map(a => [a.title||'', (a.authors||[]).join('; '), a.year||'', a.doi||'']);\n  }\n\n  // Hardening : applique safeCell sur chaque cellule (anti crash xlsx 32767 chars)\n  rows = rows.map(r => Array.isArray(r) ? r.map(safeCell) : r);\n  headers = headers.map(safeCell);\n  const wsData = [headers, ...rows];\n  const ws = XLSX.utils.aoa_to_sheet(wsData);\n  ws['!cols'] = headers.map(h => ({ wch: h.length < 8 ? 12 : (h === 'Titre' ? 50 : (h === 'Abstract' ? 60 : 25)) }));\n  ws['!autofilter'] = { ref: XLSX.utils.encode_range({ s: { r: 0, c: 0 }, e: { r: wsData.length - 1, c: headers.length - 1 } }) };\n\n  // Coloration conditionnelle propre au module (screening, risk-of-bias)\n  if (M && M.styleSheet) M.styleSheet(ws, wsData);\n\n  // Style header\n  for (let c = 0; c < headers.length; c++) {\n    const cell = ws[XLSX.utils.encode_cell({ r: 0, c })];\n    if (cell) cell.s = { fill: { fgColor: { rgb: '4472C4' } }, font: { color: { rgb: 'FFFFFF' }, bold: true } };\n  }\n\n  XLSX.utils.book_append_sheet(wb, ws, 'Resultats');\n\n  // Sheet stats\n  const statsRows = [['Statistiques module ' + mode], [], ['Total articles', articles.length]];\n  for (const k of Object.keys(stats)) {\n    if (k !== 'total' && k !== 'cluster_list') statsRows.push([k, stats[k]]);\n  }\n  const wsS = XLSX.utils.aoa_to_sheet(statsRows);\n  wsS['!cols'] = [{ wch: 30 }, { wch: 15 }];\n  XLSX.utils.book_append_sheet(wb, wsS, 'Statistiques');\n\n  // Feuilles supplementaires propres au module (ROB par outil, Doublons, A revoir)\n  if (M && M.extraSheets) M.extraSheets(wb, articles);\n\n  return Buffer.from(XLSX.write(wb, { type: 'buffer', bookType: 'xlsx' })).toString('base64');\n}\n\n// === GENERER RAPPORT MARKDOWN LISIBLE ===\nfunction buildReport(articles, mode, stats, folderName) {\n  const M = MODULES[mode];\n  const now = new Date().toLocaleString('fr-FR');\n  let r = '# UltraLab - Rapport module ' + mode + '\\n\\n';\n  r += '**Date** : ' + now + '\\n';\n  r += '**Dossier** : `' + folderName + '`\\n';\n  r += '**Articles traites** : ' + articles.length + '\\n\\n';\n  r += '---\\n\\n## Statistiques\\n\\n';\n  for (const k of Object.keys(stats)) {\n    if (k === 'cluster_list') continue;\n    r += '- **' + k + '** : ' + stats[k] + '\\n';\n  }\n  r += '\\n---\\n\\n## Resume par module\\n\\n';\n  if (M && M.reportSection) r += M.reportSection(articles, stats, articles[0] || {});\n  r += '\\n---\\n\\n_Genere par UltraLab - https://github.com/yourrepo/ultralab_\\n';\n  return r;\n}\n\n//<<<PURE_END>>>\n// ===================================================================================\n// ORCHESTRATEUR (async) : calcul stats -> fichiers annexes -> fichiers coeur -> retour\n// ===================================================================================\nconst __M = MODULES[mode] || null;\nconst __a0first = articles[0] || {};\n\n// 1) Stats du module (routeur)\nlet stats = { total: articles.length };\nif (__M && __M.statsInto) __M.statsInto(stats, articles);\n\n// 2) Fichiers annexes graphiques propres au module (meta forest/funnel, grade SoF)\nlet metaOk=null, funnelOk=null, sofOk=null;\nif (__M && __M.sideFiles) {\n  const __side = await __M.sideFiles.call(this, { outputFolder, articles, saveFile }) || {};\n  if (__side.forest !== undefined) metaOk = __side.forest;\n  if (__side.funnel !== undefined) funnelOk = __side.funnel;\n  if (__side.sof !== undefined) sofOk = __side.sof;\n}\n\n// 3) Fichiers coeur : RIS + XLSX + summary + report\nconst risContent = buildRIS(articles, mode);\nconst xlsxBase64 = buildXLSX(articles, mode, stats);\n// Pour mode extraction : ajouter dans le summary la 1ere reponse LLM si echec\nconst summaryObj = { mode, stats, articles_count: articles.length, generated_at: new Date().toISOString() };\nif (mode === 'extraction') {\n  const ok = articles.filter(a => a._extract_status === 'ok');\n  const failed = articles.filter(a => a._extract_status && a._extract_status !== 'ok');\n  if (failed.length > 0) {\n    const status_breakdown = {};\n    articles.forEach(a => {\n      const s = a._extract_status || 'unknown';\n      status_breakdown[s] = (status_breakdown[s] || 0) + 1;\n    });\n    const samples = failed.slice(0, 5).map(a => ({\n      title: (a.title || '').substring(0, 80),\n      doi: a.doi || '',\n      status: a._extract_status,\n      source: a._extract_source,\n      pdf_local: a.pdf_local || null,\n      llm_raw_first_500: a._debug_llm_raw || null,\n      llm_keys: a._debug_llm_keys || null\n    }));\n    const ok_samples = ok.slice(0, 2).map(a => ({\n      title: (a.title || '').substring(0, 80),\n      source: a._extract_source,\n      llm_raw_first_500: a._debug_llm_raw || null\n    }));\n    summaryObj._diagnostic = {\n      issue: ok.length === 0 ? 'AUCUNE extraction reussie' : (ok.length + ' OK / ' + failed.length + ' echecs'),\n      ok_count: ok.length,\n      failed_count: failed.length,\n      status_breakdown: status_breakdown,\n      failed_samples: samples,\n      ok_samples: ok_samples,\n      causes_probables: [\n        'parse_error : le LLM repond mais pas en JSON valide (souvent du au prompt tronque par num_ctx)',\n        'llm_error : Ollama renvoie une erreur (OOM, modele decharge, timeout)',\n        'no_response : Ollama coupe la connexion en streaming sans donner de reponse',\n        'no_text_available : ni PDF ni abstract exploitables',\n        'Pistes : augmenter num_ctx (8192), reduire la taille du prompt, ajouter format:json dans le payload Ollama'\n      ]\n    };\n  }\n}\nconst summary = JSON.stringify(summaryObj, null, 2);\nconst report = buildReport(articles, mode, stats, folderName);\n\n// D.6 phase 2 : pour mode deduplicate, generer aussi un .nbib des articles uniques\nlet nbibOk = null;\nif (mode === 'deduplicate') {\n  const nbibContent = buildNbib(articles);\n  const nbibPath = outputFolder + '/results-deduplicate.nbib';\n  nbibOk = await saveFile.call(this, nbibPath, nbibContent, false);\n  console.log('  + Fichier .nbib (articles uniques) : ' + nbibOk);\n}\nconst risPath = outputFolder + '/results-' + mode + '.ris';\nconst xlsxPath = outputFolder + '/results-' + mode + '.xlsx';\nconst summaryPath = outputFolder + '/summary.json';\nconst reportPath = outputFolder + '/report.md';\n\nconst risOk = await saveFile.call(this, risPath, risContent, false);\n\n// Format de sortie choisi par l'user (en plus du RIS qui reste toujours genere pour back-compat).\n// Recupere depuis le premier article (injecte par Prepare Articles).\nconst userOutputFormat = ((articles[0] && articles[0]._output_format) || 'ris').toLowerCase();\nlet nbibOkFormat = null, bibOk = null;\nif (userOutputFormat === 'nbib' && mode !== 'deduplicate') {\n  // Pour dedup, le .nbib est deja genere par le patch dedup phase 2 (skip duplicate)\n  const nbibContentUser = buildNbib(articles);\n  const nbibPathUser = outputFolder + '/results-' + mode + '.nbib';\n  nbibOkFormat = await saveFile.call(this, nbibPathUser, nbibContentUser, false);\n  console.log('  + Fichier .nbib (format choisi par user) : ' + nbibOkFormat);\n}\nif (userOutputFormat === 'bib') {\n  const bibContent = buildBibTeX(articles);\n  const bibPath = outputFolder + '/results-' + mode + '.bib';\n  bibOk = await saveFile.call(this, bibPath, bibContent, false);\n  console.log('  + Fichier .bib BibTeX (format choisi par user) : ' + bibOk);\n}\n\nconst xlsxOk = await saveFile.call(this, xlsxPath, xlsxBase64, true);\nconst articlesFullPath = outputFolder + '/articles-full.json';\nconst articlesFullOk = await saveFile.call(this, articlesFullPath, JSON.stringify(articles, null, 2), false);\nconst sumOk = await saveFile.call(this, summaryPath, summary, false);\nconst repOk = await saveFile.call(this, reportPath, report, false);\n\n// SCREEN_INCMAYBE_NBIB_v1 : nbib des Include+Maybe (articles a conserver pour la suite)\nlet incMaybeNbibOk = null;\nif (mode === 'screening' || mode === 'fulltext-screening') {\n  try {\n    const __keep = articles.filter(function(a){ const dd = (mode==='fulltext-screening') ? a.screening_decision_fulltext : a.screening_decision; return dd==='Include' || dd==='Maybe'; });\n    if (__keep.length > 0) {\n      incMaybeNbibOk = await saveFile.call(this, outputFolder + '/results-' + mode + '-include-maybe.nbib', buildNbib(__keep), false);\n      console.log('  + results-' + mode + '-include-maybe.nbib (' + __keep.length + ' articles) : ' + incMaybeNbibOk);\n    }\n  } catch(e) { console.log('  include-maybe nbib err ' + e.message); }\n}\n\n// METHODS_LOG_ALL_v1\nlet aiCfg = {};\ntry {\n  const cfgResp = await this.helpers.httpRequest({ method: 'GET', url: 'http://host.docker.internal:8080/api/config', timeout: 15000 });\n  const c = (typeof cfgResp === 'string') ? JSON.parse(cfgResp) : (cfgResp || {});\n  aiCfg = { mode: c.mode, chat_model: c.ollama_model, embedding_model: c.embedding_model, extraction_model: c.extraction_model, screening_strictness: c.screening_strictness, screening_custom_rules: c.screening_custom_rules, ranking_strictness: c.ranking_strictness, ranking_custom_rules: c.ranking_custom_rules };\n} catch (e) { aiCfg = { _error: 'config indisponible: ' + e.message }; }\nconst __a0 = articles[0] || {};\nconst methodsObj = { module: mode, generated_at: new Date().toISOString(), folder: folderName, articles_processed: articles.length, stats: stats, question: __a0.question || '', criteria: __a0.criteria || '', output_format: userOutputFormat, ai_config: aiCfg };\nif (__a0._screening_kappa && __a0._screening_kappa.enabled) methodsObj.double_screening = __a0._screening_kappa; // SCREENING_DOUBLE_METHODS_v1\nif (__a0._fulltext_kappa && __a0._fulltext_kappa.enabled) methodsObj.double_fulltext = __a0._fulltext_kappa; // FULLTEXT_DOUBLE_METHODS_v1\nif (__a0._extraction_double && __a0._extraction_double.enabled) methodsObj.double_extraction = __a0._extraction_double; // EXTRACTION_DOUBLE_METHODS_v1\nif (__a0._ranking_icc && __a0._ranking_icc.enabled) methodsObj.double_ranking = __a0._ranking_icc; // RANKING_DOUBLE_METHODS_v1\nif (__a0._rob_double && __a0._rob_double.enabled) methodsObj.double_rob = __a0._rob_double; // ROB_DOUBLE_METHODS_v1 /*ROB_METHODS*/\nif (__a0.pubmed_query) methodsObj.pubmed_query = __a0.pubmed_query;\nif (__a0.openalex_query || __a0.crossref_query) methodsObj.per_base_queries = { openalex: __a0.openalex_query || '', crossref: __a0.crossref_query || '', doaj: __a0.doaj_query || '', base: __a0.base_query || '', lens: __a0.lens_query || '' };\nconst methodsPath = outputFolder + '/methods.json';\nconst methodsOk = await saveFile.call(this, methodsPath, JSON.stringify(methodsObj, null, 2), false);\nconsole.log('  + methods.json : ' + methodsOk);\n\n// PRISMA_FLOW_HTML_v1 - ecrit prisma-flow.html pour screening / fulltext\nlet prismaOk = null;\nif (mode === 'screening' || mode === 'fulltext-screening') {\n  try {\n    const prismaHtml = buildPrismaHtml(mode, articles, stats, __a0);\n    prismaOk = await saveFile.call(this, outputFolder + '/prisma-flow.html', prismaHtml, false);\n    console.log('  + prisma-flow.html : ' + prismaOk);\n  } catch (e) { console.log('  prisma-flow erreur: ' + e.message); }\n}\n\n// DISAGREEMENTS_VIEW_v1 - ecrit disagreements.html si des desaccords existent\nlet disagOk = null;\ntry {\n  const __dh = buildDisagreementsHtml(mode, articles);\n  if (__dh) { disagOk = await saveFile.call(this, outputFolder + '/disagreements.html', __dh, false); console.log('  + disagreements.html : ' + disagOk); }\n} catch (e) { console.log('  disagreements erreur: ' + e.message); }\n\nconsole.log('=== Module ' + mode + ' termine ===');\nconsole.log('Articles: ' + articles.length);\nconsole.log('Stats: ' + JSON.stringify(stats));\nconsole.log('Fichiers : RIS=' + risOk + ' XLSX=' + xlsxOk + ' summary=' + sumOk + ' report=' + repOk + ' articles_full=' + articlesFullOk);\nconsole.log('Dossier  : ' + outputFolder);\n\nreturn [{ json: {\n  success: true,\n  mode,\n  stats,\n  output_folder: outputFolder,\n  folder_name: folderName,\n  files: {\n    ris: risOk ? 'results-' + mode + '.ris' : null,\n    xlsx: xlsxOk ? 'results-' + mode + '.xlsx' : null,\n    summary: sumOk ? 'summary.json' : null,\n    report: repOk ? 'report.md' : null,\n    prisma_flow: prismaOk ? 'prisma-flow.html' : null,\n    disagreements: disagOk ? 'disagreements.html' : null,\n    articles_full: articlesFullOk ? 'articles-full.json' : null,\n    methods: methodsOk ? 'methods.json' : null, /*META_FILESKEY*/\n    forest: (metaOk === true) ? 'forest-plot.html' : null,\n    funnel: (funnelOk === true) ? 'funnel-plot.html' : null, /*GRADE_FILESKEY*/\n    sof: (sofOk === true) ? 'summary-of-findings.html' : null,\n    bib: (bibOk === true) ? 'results-' + mode + '.bib' : null,\n    nbib_user: (nbibOkFormat === true) ? 'results-' + mode + '.nbib' : null,\n    nbib: (mode === 'deduplicate' && nbibOk) ? 'results-deduplicate.nbib' : null, /*INCMAYBE_KEY*/\n    include_maybe_nbib: (typeof incMaybeNbibOk !== 'undefined' && incMaybeNbibOk === true) ? ('results-' + mode + '-include-maybe.nbib') : null\n  },\n  articles_count: articles.length\n}}];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "as-mod-001",
      "name": "Assemble Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// === RESPOND IMMEDIATELY (async webhook pattern) ===\n// Envoie une reponse rapide au browser pour qu'il puisse fermer la connexion HTTP\n// et basculer sur le polling. Le workflow continue en parallele.\nconst input = $input.first().json;\nconst body = input.body || input;\nconst mode = body.mode || 'screening';\nconst articlesCount = (body.articles || []).length;\nconst now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst timestamp = now.getFullYear() + pad(now.getMonth()+1) + pad(now.getDate()) + '-' + pad(now.getHours()) + pad(now.getMinutes());\nconst expectedFolder = '/desktop/ultralab-module-' + mode + '-' + timestamp;\nreturn [{\n  json: {\n    started: true,\n    async: true,\n    mode: mode,\n    articles_count: articlesCount,\n    expected_folder: expectedFolder,\n    started_at: now.toISOString(),\n    message: 'Workflow demarre en background sur n8n. Le browser doit poller /api/last-result pour recuperer le resultat final.'\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "build-async-resp-001",
      "name": "Build Async Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-immediate-001",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -400,
        -200
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "ulPredatoryWF01"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "run-predatory-001",
      "name": "Run Predatory Scan",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-predatory",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "predatory-scan",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-predatory-001",
      "name": "Is Predatory Scan?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-fulltext-001",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "fulltext-screening",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-fulltext-screening-001",
      "name": "Is Fulltext Screening?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3500,
        500
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "ulFulltextWF001"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "run-fulltext-screening-001",
      "name": "Run Fulltext Screening",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3700,
        500
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "ulRiskBiasWF001"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "rob-run-0001",
      "name": "Run Risk of Bias",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3700,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-rob-001",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "risk-of-bias",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "rob-if-0001",
      "name": "Is Risk of Bias?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3500,
        700
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "ulSnowballWF001"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "snow-run-0001",
      "name": "Run Snowballing",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3700,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-snow-001",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "snowballing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "snow-if-0001",
      "name": "Is Snowballing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3500,
        900
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "ulMetaAnaWF0001"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "meta-run-0001",
      "name": "Run Meta-Analysis",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3700,
        1160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-meta-001",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "meta-analysis",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "meta-if-0001",
      "name": "Is Meta-Analysis?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3500,
        1100
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "mode": "id",
          "value": "ulGradeWF00001"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "grade-run-0001",
      "name": "Run GRADE",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3700,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-grade-001",
              "leftValue": "={{ $('Prepare Articles').first().json._module_mode }}",
              "rightValue": "grade",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.string.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "grade-if-0001",
      "name": "Is GRADE?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3500,
        1300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Module Webhook": {
      "main": [
        [
          {
            "node": "Build Async Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Articles": {
      "main": [
        [
          {
            "node": "Is Screening?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Ranking?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Clustering?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is PDF Fetch?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Extraction?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Deduplicate?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Predatory Scan?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Screening?": {
      "main": [
        [
          {
            "node": "Run Screening",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Ranking?": {
      "main": [
        [
          {
            "node": "Run Ranking",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Clustering?": {
      "main": [
        [
          {
            "node": "Run Clustering",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Screening": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Ranking": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Clustering": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF Fetch?": {
      "main": [
        [
          {
            "node": "Run PDF Fetch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run PDF Fetch": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Extraction?": {
      "main": [
        [
          {
            "node": "Run Extraction",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Extraction": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Deduplicate?": {
      "main": [
        [
          {
            "node": "Run Deduplicate",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Deduplicate": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Async Response": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Predatory Scan?": {
      "main": [
        [
          {
            "node": "Run Predatory Scan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Fulltext Screening?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Predatory Scan": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Fulltext Screening?": {
      "main": [
        [
          {
            "node": "Run Fulltext Screening",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Risk of Bias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Fulltext Screening": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Risk of Bias?": {
      "main": [
        [
          {
            "node": "Run Risk of Bias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Snowballing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Risk of Bias": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Snowballing?": {
      "main": [
        [
          {
            "node": "Run Snowballing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Meta-Analysis?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Snowballing": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Meta-Analysis?": {
      "main": [
        [
          {
            "node": "Run Meta-Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is GRADE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Meta-Analysis": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is GRADE?": {
      "main": [
        [
          {
            "node": "Run GRADE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run GRADE": {
      "main": [
        [
          {
            "node": "Assemble Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000032",
  "meta": {
    "instanceId": "fd21ae21426f59c89f8963a136703cbf2a049d0a9eb6f435af497a2b2c1ac5ff"
  },
  "id": "mod-ultralab-001",
  "tags": []
}