workflows/ultralab-screening.json
{
  "name": "ultralab-screening",
  "nodes": [
    {
      "parameters": {},
      "id": "1ed1b3c2-dc67-4ce3-8dd6-4f992b4e9e1e",
      "name": "Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1264,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip-screening",
              "leftValue": "={{ $('Input').first().json.skip_screening }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.boolean.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-skip-scr",
      "name": "IF Skip Screening",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1144,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Skip screening: pass articles through with default Maybe decision\nconst articles = $('Input').all().map(i => i.json);\nconsole.log('Screening SKIPPED: ' + articles.length + ' articles passed through with decision=Maybe');\nreturn articles.map(a => ({ json: { ...a, screening_decision: 'Maybe', screening_reason: 'Screening skipped by user', screening_color: 'orange' } }));",
        "mode": "runOnceForAllItems"
      },
      "id": "pt-scr-001",
      "name": "Pass Through Screening",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "// SCREENING_REASON_PRISMA_v3\n// SCREENING_REASON_PRISMA_v1\n// SCREENING_CONFIDENCE_v1\n// === SCREENING v3 - Prompt simplifie + batches reduits ===\n// PATCH v2 : abstract-missing -> Maybe (no LLM call)\nconst items = $input.all();\nconst articles = items.map(i => i.json);\nconst BATCH_SIZE = 1;\nconst MIN_ABSTRACT_LEN = 50;  // < 50 chars = pas exploitable -> Maybe direct\nconst question = (articles[0] && articles[0].question) || '';\nconst criteria = (articles[0] && articles[0].criteria) || '';\nlet aiSettings = (articles[0] && articles[0]._ai_settings) || {};\nif (typeof aiSettings.strictness !== 'number') { try { const __ac = await this.helpers.httpRequest({ method:'GET', url:'http://host.docker.internal:8080/api/config', timeout:5000, json:true }) || {}; aiSettings = { strictness: __ac.screening_strictness, custom_rules: __ac.screening_custom_rules }; } catch(e) {} } // AI_SETTINGS_CONFIG_FALLBACK_v1\nconst strictness = (typeof aiSettings.strictness === 'number') ? aiSettings.strictness : 50;\nconst customRules = (aiSettings.custom_rules || '').toString().trim();\nlet strictnessGuidance = '';\nif (strictness <= 25) {\n  strictnessGuidance = '\\n\\n=== TONE GUIDANCE ===\\nBe CONSERVATIVE: when in doubt, prefer Include or Maybe over Exclude. The user wants to capture as many potentially relevant articles as possible at this stage.';\n} else if (strictness >= 75) {\n  strictnessGuidance = '\\n\\n=== TONE GUIDANCE ===\\nBe STRICT: only mark Include if all criteria are clearly met. When in doubt, prefer Exclude. The user wants a tightly filtered set of highly relevant articles.';\n} else if (strictness >= 60) {\n  strictnessGuidance = '\\n\\n=== TONE GUIDANCE ===\\nBe slightly strict: when in doubt, lean toward Exclude rather than Maybe.';\n} else if (strictness <= 40) {\n  strictnessGuidance = '\\n\\n=== TONE GUIDANCE ===\\nBe slightly conservative: when in doubt, lean toward Maybe rather than Exclude.';\n}\nconst customRulesBlock = customRules\n  ? '\\n\\n=== USER-DEFINED RULES (must be respected) ===\\n' + customRules\n  : '';\nconst batches = [];\n\nfunction sanitize(text) {\n  return (text || '').replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\n// PATCH v2 : pre-filtrer les articles SANS abstract exploitable.\n// Ces articles sortiront avec Maybe directement (pas d'appel LLM = economie + bonne logique).\n// On garde leur index global pour que Expand Results puisse les retrouver.\nlet llmEligibleCount = 0;\nlet skippedNoAbstract = 0;\nfor (let i = 0; i < articles.length; i++) {\n  const abs = sanitize(articles[i].abstract || '');\n  if (abs.length < MIN_ABSTRACT_LEN) {\n    skippedNoAbstract++;\n  } else {\n    llmEligibleCount++;\n  }\n}\nconsole.log('Screening v3 PATCH v2: ' + articles.length + ' articles total, ' +\n            llmEligibleCount + ' avec abstract exploitable, ' +\n            skippedNoAbstract + ' sans abstract (-> Maybe direct, pas d\\'appel LLM).');\n\n// Generation des batches SEULEMENT pour les articles avec abstract exploitable.\n// On stocke aussi la liste des global_indexes pour que Expand Results sache de quel article il s'agit.\nlet pendingBatch = [];\nlet pendingIndexes = [];\n\n// === ULTRALAB_SCREENING_V4_TEXT - format reponse texte simple (anti batch failed) ===\n// REASON_FORMAT_INSISTENCE_v7 - consigne 'no blank line' injectee dans le prompt\nfunction flushBatch() {\n  if (pendingBatch.length === 0) return;\n  // Pour BATCH_SIZE=1, on prend l'article unique. Pour back-compat BATCH > 1, on concatene.\n  const articleList = pendingBatch.map((a, j) => {\n    const title = sanitize(a.title || 'No title').substring(0, 120);\n    const abstract = sanitize(a.abstract || '').substring(0, 800);\n    return 'TITLE: ' + title + '\\nABSTRACT: ' + abstract;\n  }).join('\\n\\n---\\n\\n');\n\n  const prompt = 'You are a systematic review screener. Choose ONE decision for the article below: Include, Maybe, or Exclude.\\n\\n' +\n    'RESEARCH QUESTION:\\n' + sanitize(question).substring(0, 500) + '\\n\\n' +\n    'INCLUSION/EXCLUSION CRITERIA:\\n' + sanitize(criteria).substring(0, 500) + '\\n\\n' +\n    '=== ARTICLE ===\\n' + articleList + '\\n\\n' +\n    '=== DECISION RULES ===\\n' +\n    '- Include = ALL inclusion criteria clearly met AND no exclusion criterion applies\\n' +\n    '- Maybe = at least one criterion is unclear from the abstract OR abstract is too brief\\n' +\n    '- Exclude = clearly fails at least one inclusion criterion OR clearly meets an exclusion criterion\\n\\n' +\n    'When the abstract is missing or very short: ALWAYS choose Maybe.\\n' +\n    'When uncertain: Maybe (be inclusive at this stage).' + strictnessGuidance + customRulesBlock + '\\n\\n' +\n    '=== REASON REQUIREMENTS (PRISMA-grade, mandatory) ===\\n- Name the SPECIFIC inclusion or exclusion criterion that drove the decision (quote the criterion).\\n- Cite the concrete evidence FROM THE ABSTRACT that supports it: population, intervention/exposure, comparator, outcome, and/or study design as relevant.\\n- If you Exclude, name the concrete disqualifier visible in the abstract (for example: it is a review or meta-analysis; it is a single-patient case report; it is an animal or preclinical study; the population is children; the primary indication is diabetes rather than obesity) and the abstract wording that proves it. If Maybe, state precisely what is missing or unclear in the abstract.\\n- FORBIDDEN (not acceptable): vague or circular reasons such as: matches the criteria / clearly relevant / fits the research question / meets inclusion criteria / fails an inclusion criterion / clearly meets an exclusion criterion / fails at least one criterion. Repeating the rubric wording is NOT a reason. A reason that does not name the criterion AND point to abstract evidence is invalid.\\n- Keep it to 1-2 specific, auditable sentences on a SINGLE line.\\n\\n=== OUTPUT FORMAT (STRICT) ===\\nOutput ONLY the following four lines, nothing before or after them. Begin with the word Decision.\\nLine 1 = Decision: then your verdict, which is exactly one of Include, Maybe or Exclude.\\nLine 2 = Reason: then ONE sentence that names the exact inclusion or exclusion criterion you applied AND states the concrete fact from the abstract above that triggered it (population, study design, intervention or outcome).\\nLine 3 = Confidence: then exactly one of high, medium or low. This line is mandatory and must never be omitted.\\nLine 4 = Criteria: then a per-criterion audit of the inclusion and exclusion criteria, writing each criterion as a short label followed by = and one of met, unmet or unclear, separated by semicolons (for example Population=met; Study design=unmet; Outcome=unclear). Cover every criterion you can identify in the criteria text above. This line is required.\\nDo NOT copy wording from these instructions or from the criteria list; describe only what THIS abstract actually says. The Reason must be consistent with the Decision (never write Exclude wording when the Decision is Include). No markdown, no numbering, no extra commentary.';\n\n  batches.push({ json: {\n    prompt: prompt,\n    batchIndex: batches.length,\n    batchSize: pendingBatch.length,\n    global_indexes: pendingIndexes.slice()\n  }});\n  pendingBatch = [];\n  pendingIndexes = [];\n}\n\n\nfor (let i = 0; i < articles.length; i++) {\n  const abs = sanitize(articles[i].abstract || '');\n  if (abs.length < MIN_ABSTRACT_LEN) continue;  // skip, sera traite par Expand Results\n  pendingBatch.push(articles[i]);\n  pendingIndexes.push(i);\n  if (pendingBatch.length >= BATCH_SIZE) flushBatch();\n}\nflushBatch();\n\nconsole.log('Screening v3 PATCH v2: ' + batches.length + ' batches LLM construits (skip ' + skippedNoAbstract + ' articles).');\nreturn batches;",
        "mode": "runOnceForAllItems"
      },
      "id": "pb-scr-001",
      "name": "Prepare Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3456/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama3.2:latest', stream: false,  options: { temperature: 0, stop: ['\\n\\n\\n', 'Article ', 'TITLE:', 'Article:'], num_predict: 4000, num_ctx: 6144 }, keep_alive: '30m', prompt: $json.prompt }) }}",
        "options": {
          "timeout": 900000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "hr-scr-001",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        -304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// === SCREENING v4 ROBUST - Parser texte tolerant + Retry x2 + Diag enrichi (2026-06-01) ===\n// Strategies cumulees : prompt format texte simple, parser tolerant, retry inline,\n// diag enrichi avec raw LLM preserve dans screening_reason en cas d'echec final.\n\nconst responses = $input.all();\nconst originalItems = $('Input').all();\nconst prepBatches = $('Prepare Batches').all();\nconst articles = originalItems.map(i => i.json);\nconst MIN_ABSTRACT_LEN = 50;\nconst colorMap = { 'Include': 'green', 'Maybe': 'orange', 'Exclude': 'red' };\nconst RETRY_MAX = 2;\n\nconst question = (articles[0] && articles[0].question) || '';\nconst criteria = (articles[0] && articles[0].criteria) || '';\n\nfunction sanitize(text) {\n  return (text || '').replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\n// === PARSER TEXTE TOLERANT ===\n// Cherche \"Decision: <X>\" puis \"Reason: ...\", avec multiples fallbacks.\nfunction parseTextDecision(raw) {\n  if (!raw || typeof raw !== 'string') return null;\n  const text = raw.trim();\n\n  // Tentative 1 : cherche \"Decision: <X>\" insensible a la casse\n  const decMatch = text.match(/decision\\s*[:=]\\s*(include|maybe|exclude)/i);\n  let decision = null, reason = '';\n  if (decMatch) {\n    decision = decMatch[1].charAt(0).toUpperCase() + decMatch[1].slice(1).toLowerCase();\n    // Recuperer \"Reason:\" sur les lignes suivantes\n    const reasonMatch = text.match(/reason\\s*[:=]\\s*([\\s\\S]{0,400})/i);\n    if (reasonMatch) {\n      reason = reasonMatch[1].split(/\\n\\n|\\r\\n\\r\\n/)[0].replace(/[\\r\\n]+\\s*(confidence|decision)\\s*[:=][\\s\\S]*$/i, '').replace(/\\s+/g, ' ').trim().substring(0, 300);\n    }\n    return { decision, reason, source: 'text_parse' };\n  }\n\n  // Tentative 2 : premier match \\b(Include|Maybe|Exclude)\\b dans la reponse\n  const fbMatch = text.match(/\\b(Include|Maybe|Exclude)\\b/i);\n  if (fbMatch) {\n    decision = fbMatch[1].charAt(0).toUpperCase() + fbMatch[1].slice(1).toLowerCase();\n    // Reason : prendre le contexte qui suit\n    const after = text.substring(text.indexOf(fbMatch[0]) + fbMatch[0].length);\n    reason = after.replace(/[:.\\s]+/, '').substring(0, 300).trim();\n    if (!reason) reason = '(extracted from raw response - no explicit Reason field)';\n    return { decision, reason, source: 'fallback_regex' };\n  }\n\n  // Tentative 3 : essayer aussi le format JSON ancien (back-compat)\n  // si jamais le LLM repond en JSON\n  try {\n    const jsonMatch = text.match(/\\{[\\s\\S]*?\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      if (parsed.decision) {\n        const d = parsed.decision.toString().toLowerCase();\n        if (d.startsWith('inc')) return { decision: 'Include', reason: parsed.reason || '', source: 'json_back_compat' };\n        if (d.startsWith('exc')) return { decision: 'Exclude', reason: parsed.reason || '', source: 'json_back_compat' };\n        if (d.startsWith('may')) return { decision: 'Maybe', reason: parsed.reason || '', source: 'json_back_compat' };\n      }\n      // Ancien format { decisions: [{...}] }\n      if (Array.isArray(parsed.decisions) && parsed.decisions.length > 0) {\n        const d = parsed.decisions[0];\n        const dec = (d.decision || '').toString().toLowerCase();\n        let dn = 'Maybe';\n        if (dec.startsWith('inc')) dn = 'Include';\n        else if (dec.startsWith('exc')) dn = 'Exclude';\n        return { decision: dn, reason: d.reason || '', source: 'json_legacy_back_compat' };\n      }\n    }\n  } catch (e) {}\n\n  return null;\n}\n\n// === RETRY INLINE : si batch fail, re-call Ollama avec prompt minimal ===\nasync function retryOllamaCall(article, attempt) {\n  const ab = sanitize(article.abstract || '').substring(0, 400);\n  const ti = sanitize(article.title || '').substring(0, 120);\n  // Prompt encore plus laconique pour le retry\n  const prompt = 'Article title: ' + ti + '\\n' +\n                 'Abstract: ' + ab + '\\n\\n' +\n                 'Research question: ' + sanitize(question).substring(0, 300) + '\\n\\n' +\n                 'Reply with ONLY these 2 lines (no explanation, no markdown):\\n' +\n                 'Decision: Include OR Maybe OR Exclude\\n' +\n                 'Reason: one short sentence\\n\\n' +\n                 'Choose Maybe when uncertain. Start immediately with \"Decision:\".';\n\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://host.docker.internal:3456/api/generate',\n      body: JSON.stringify({\n        model: 'llama3.2:latest',\n        stream: false,\n        options: { temperature: 0, num_predict: 1500, num_ctx: 2048 },\n        keep_alive: '30m',\n        prompt: prompt,\n        _ultralab_task: 'chat'\n      }),\n      headers: { 'Content-Type': 'application/json' },\n      json: true,\n      timeout: 180000\n    });\n    return resp && resp.response ? resp.response : '';\n  } catch (e) {\n    return '';\n  }\n}\n\n// === BOUCLE PRINCIPALE : match response <-> article via prepBatches ===\nconst decisionByArticleIdx = new Map();\nconst rawByArticleIdx = new Map();\nconst retryStatsByArticleIdx = new Map();\nlet okBatches = 0, parseFailedBatches = 0, retrySuccessful = 0, retryFailed = 0;\nconst diagnostics = [];\n\nfor (let r = 0; r < responses.length; r++) {\n  const resp = responses[r].json || {};\n  const prepItem = prepBatches[r] && prepBatches[r].json ? prepBatches[r].json : {};\n  const globalIndexes = Array.isArray(prepItem.global_indexes) ? prepItem.global_indexes : null;\n  const batchIdx = (resp.batchIndex !== undefined) ? resp.batchIndex : r;\n  const batchSize = prepItem.batchSize || resp.batchSize || 1;\n\n  const rawText = (resp.response || '').toString();\n  let parsed = parseTextDecision(rawText);\n  let attempt = 1;\n  let lastRaw = rawText;\n\n  // Retry x2 si parse fail\n  while (!parsed && attempt <= RETRY_MAX && globalIndexes && globalIndexes.length === 1) {\n    const articleIdx = globalIndexes[0];\n    const article = articles[articleIdx];\n    if (!article) break;\n    const retryRaw = await retryOllamaCall.call(this, article, attempt);\n    lastRaw = retryRaw || lastRaw;\n    parsed = parseTextDecision(retryRaw);\n    attempt++;\n    if (parsed) retrySuccessful++;\n  }\n\n  if (parsed) {\n    okBatches++;\n  } else {\n    parseFailedBatches++;\n    if (attempt > 1) retryFailed++;\n  }\n\n  // Mapping : pour BATCH_SIZE=1, globalIndexes a 1 element\n  // Pour back-compat avec ancien BATCH_SIZE > 1, on supporte multiple\n  if (globalIndexes && globalIndexes.length > 0) {\n    // Pour le format texte simple, 1 batch = 1 article, donc 1 decision pour le seul article du batch\n    const articleIdx = globalIndexes[0];\n    rawByArticleIdx.set(articleIdx, {\n      raw_preview: (lastRaw || 'no response').substring(0, 300),\n      parse_status: parsed ? 'ok' : 'parse_failed',\n      attempt: attempt - 1,\n      source: parsed ? parsed.source : 'no_parse'\n    });\n    if (parsed) {\n      decisionByArticleIdx.set(articleIdx, {\n        decision: parsed.decision,\n        reason: parsed.reason || '(no reason returned)',\n        confidence: (function(t){ var m = (t || '').match(/confidence\\s*[:=]\\s*(high|medium|low)/i); return m ? m[1].toLowerCase() : ''; })(lastRaw),\n        criteria: (function(t){ var m2 = (t || '').match(/criteria\\s*[:=]\\s*([^\\n]{0,300})/i); return m2 ? m2[1].replace(/\\s+/g, ' ').trim() : ''; })(lastRaw)\n      });\n    }\n    // Pour les autres articles du batch (si jamais BATCH_SIZE > 1), enregistrer comme echec\n    if (!parsed && globalIndexes.length > 1) {\n      for (let k = 1; k < globalIndexes.length; k++) {\n        const gi = globalIndexes[k];\n        if (!rawByArticleIdx.has(gi)) {\n          rawByArticleIdx.set(gi, {\n            raw_preview: (lastRaw || 'no response').substring(0, 300),\n            parse_status: 'parse_failed',\n            attempt: attempt - 1,\n            source: 'no_parse'\n          });\n        }\n      }\n    }\n  } else {\n    // Fallback : ordre sequentiel\n    const fallbackIdx = batchIdx * batchSize;\n    if (parsed && fallbackIdx < articles.length) {\n      decisionByArticleIdx.set(fallbackIdx, {\n        decision: parsed.decision,\n        reason: parsed.reason || '(no reason returned)'\n      });\n    }\n    rawByArticleIdx.set(fallbackIdx, {\n      raw_preview: (lastRaw || 'no response').substring(0, 300),\n      parse_status: parsed ? 'ok' : 'parse_failed',\n      attempt: attempt - 1,\n      source: parsed ? parsed.source : 'no_parse'\n    });\n  }\n\n  if (!parsed) {\n    diagnostics.push('Article idx ' + (globalIndexes ? globalIndexes[0] : batchIdx * batchSize) +\n      ' - parse failed after ' + (attempt - 1) + ' retries. Raw[0:120]: ' +\n      lastRaw.substring(0, 120).replace(/\\s+/g, ' '));\n  }\n}\n\n// === Construction du resultat final ===\nconst results = [];\nlet totalInc = 0, totalExc = 0, totalMay = 0;\nlet skippedNoAbstract = 0;\n\nfor (let i = 0; i < articles.length; i++) {\n  const article = articles[i];\n  const abs = sanitize(article.abstract || '');\n  const llmResult = decisionByArticleIdx.get(i);\n  let decision, reason;\n\n  if (abs.length < MIN_ABSTRACT_LEN) {\n    decision = 'Maybe';\n    reason = abs.length === 0\n      ? 'Abstract absent - decision Maybe par defaut (article non excluable sur titre seul)'\n      : 'Abstract trop court (' + abs.length + ' chars) - decision Maybe par defaut';\n    skippedNoAbstract++;\n  } else if (llmResult) {\n    decision = llmResult.decision;\n    reason = llmResult.reason;\n  } else {\n    // Article cense etre traite par LLM mais pas de resultat (apres tous les retries)\n    decision = 'Maybe';\n    const rawInfo = rawByArticleIdx.get(i);\n    let suffix = '';\n    if (rawInfo) {\n      const rp = (rawInfo.raw_preview || '').replace(/\\s+/g, ' ').substring(0, 180);\n      suffix = ' [retries: ' + (rawInfo.attempt || 0) + ' | LLM raw: ' + rp + ']';\n    }\n    reason = 'Batch LLM failed after retries - decision Maybe par defaut (a re-examiner manuellement)' + suffix;\n  }\n\n\n  // === INCLUDE_NEEDS_REASON_v1 - securite scientifique (2026-06-03) ===\n  // Si le LLM a marque Include mais n'a pas fourni de justification verifiable,\n  // on bascule en Maybe pour re-examen manuel (preserve la rigueur methodo).\n  if (decision === 'Include' && (!reason || /^\\(no reason|^\\(no explicit|^\\s*$/i.test(reason))) {\n    decision = 'Maybe';\n    reason = 'LLM a propose Include mais sans justification verifiable - reclasse Maybe pour verification manuelle';\n  }\n  if (decision === 'Include') totalInc++;\n  else if (decision === 'Exclude') totalExc++;\n  else totalMay++;\n\n  results.push({\n    json: {\n      ...article,\n      screening_decision: decision,\n      screening_reason: reason,\n      screening_confidence: (llmResult && llmResult.confidence) || '',\n      screening_criteria: (llmResult && llmResult.criteria) || '',\n      _needs_human_review: (decision === 'Maybe') || !!(llmResult && llmResult.confidence === 'low'),\n      screening_color: colorMap[decision] || 'orange'\n    }\n  });\n}\n\nconsole.log('=== Screening v4 ROBUST complete ===');\nconsole.log('Articles: ' + results.length + ' | Batches OK: ' + okBatches + ' | Batches KO: ' + parseFailedBatches);\nconsole.log('Retries reussis: ' + retrySuccessful + ' | Retries echoues: ' + retryFailed);\nconsole.log('Sans abstract (Maybe direct) : ' + skippedNoAbstract);\nconsole.log('Decisions: Include=' + totalInc + ' Maybe=' + totalMay + ' Exclude=' + totalExc);\nif (diagnostics.length > 0) {\n  console.log('--- Diagnostics (premiers 5) ---');\n  diagnostics.slice(0, 5).forEach(d => console.log(d));\n}\nreturn results;\n",
        "mode": "runOnceForAllItems"
      },
      "id": "ex-scr-001",
      "name": "Expand Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "// SCREENING_DOUBLE_KAPPA_v1 - 2e relecture (modele OBLIGATOIREMENT different) + Cohen's kappa, opt-in\nconst pass1 = $input.all().map(i => i.json);              // articles avec screening_decision (passe 1)\nconst prep  = $('Prepare Batches').all().map(i => i.json); // prompts + global_indexes (re-jouables)\n\n// 1) Config double-relecture\nlet cfg = {};\ntry { cfg = await this.helpers.httpRequest({ method:'GET', url:'http://host.docker.internal:8080/api/config', timeout:5000, json:true }) || {}; } catch(e) { cfg = {}; }\nconst doubleEnabled = cfg.screening_double_enabled === true;\nconst model1 = (cfg.ollama_model || '').trim();\nconst model2 = (cfg.screening_model_2 || '').trim();\n\n// Garde : OFF, ou modele 2 absent / identique au modele 1 -> pas de 2e passe (renvoi inchange)\nif (!doubleEnabled || !model2 || model2 === model1) {\n  const why = !doubleEnabled ? 'disabled' : (!model2 ? 'no_model2' : 'model2_equals_model1');\n  console.log('Double screening SKIP (' + why + ')');\n  return pass1.map(a => ({ json: Object.assign({}, a, { screening_double: why }) }));\n}\n\n// 2) Parser decision compact (aligne sur Expand Results)\nfunction parseDec(raw){\n  if(!raw) return null;\n  const t = String(raw);\n  let m = t.match(/decision\\s*[:=]\\s*(include|maybe|exclude)/i);\n  if(!m) m = t.match(/\\b(include|maybe|exclude)\\b/i);\n  if(!m) return null;\n  const d = m[1].toLowerCase();\n  return d.charAt(0).toUpperCase() + d.slice(1);\n}\n\n// 3) 2e passe : re-jouer les memes prompts avec le modele 2 (tag screening_pass2 -> proxy applique screening_model_2)\nconst dec2ByIdx = new Map();\nlet nCalls = 0, nCallFail = 0;\nfor (let r = 0; r < prep.length; r++){\n  const p = prep[r] || {};\n  const gi = (Array.isArray(p.global_indexes) && p.global_indexes.length) ? p.global_indexes[0] : null;\n  if (gi === null || !p.prompt) continue;\n  let raw = '';\n  try {\n    const resp = await this.helpers.httpRequest({\n      method:'POST', url:'http://host.docker.internal:3456/api/generate',\n      body: JSON.stringify({ model: model2, stream:false, options:{ temperature:0, stop:['\\n\\n\\n','Article ','TITLE:','Article:'], num_predict:2000, num_ctx:6144 }, keep_alive:'30m', prompt: p.prompt, _ultralab_task:'screening_pass2' }),\n      headers:{ 'Content-Type':'application/json' }, json:true, timeout:600000\n    });\n    raw = (resp && resp.response) ? resp.response : '';\n    nCalls++;\n  } catch(e) { raw = ''; nCallFail++; }\n  const d = parseDec(raw);\n  if (d) dec2ByIdx.set(gi, d);\n}\n\n// 4) Fusion + Cohen's kappa (3 categories)\nconst cats = ['Include','Maybe','Exclude'];\nconst c1 = { Include:0, Maybe:0, Exclude:0 };\nconst c2 = { Include:0, Maybe:0, Exclude:0 };\nlet nBoth = 0, nAgree = 0;\nconst out = pass1.map((a, idx) => {\n  const d1 = a.screening_decision;\n  const d2 = dec2ByIdx.has(idx) ? dec2ByIdx.get(idx) : null;\n  const merged = Object.assign({}, a);\n  if (d2) {\n    merged.screening_decision_2 = d2;\n    merged.screening_model2 = model2;\n    const agree = (d1 === d2);\n    merged.screening_agreement = agree ? 'agree' : 'disagree';\n    if (!agree) merged._needs_human_review = true;   // desaccord -> arbitrage humain\n    if (cats.indexOf(d1) >= 0 && cats.indexOf(d2) >= 0) { nBoth++; if (agree) nAgree++; c1[d1]++; c2[d2]++; }\n  } else {\n    merged.screening_decision_2 = '';\n    merged.screening_agreement = '';\n  }\n  return merged;\n});\n\nlet kappa = null;\nif (nBoth > 0) {\n  const po = nAgree / nBoth;\n  let pe = 0;\n  for (let k = 0; k < cats.length; k++){ const c = cats[k]; pe += (c1[c]/nBoth) * (c2[c]/nBoth); }\n  kappa = (pe < 1) ? ((po - pe) / (1 - pe)) : 1;\n}\nconst kappaR = (kappa === null) ? null : Math.round(kappa * 1000) / 1000;\nfunction kLabel(k){ if(k===null) return 'n/a'; if(k<0) return 'poor'; if(k<=0.2) return 'slight'; if(k<=0.4) return 'fair'; if(k<=0.6) return 'moderate'; if(k<=0.8) return 'substantial'; return 'almost perfect'; }\n\nconst summary = { enabled:true, model_1:model1, model_2:model2, n_double_rated:nBoth, n_agree:nAgree, n_disagree:(nBoth-nAgree), percent_agreement: nBoth ? Math.round(nAgree/nBoth*1000)/10 : null, cohen_kappa:kappaR, kappa_interpretation:kLabel(kappaR) };\nconsole.log('Double screening: kappa=' + kappaR + ' (' + summary.kappa_interpretation + '), accord ' + summary.percent_agreement + '% sur ' + nBoth + ' articles (' + model1 + ' vs ' + model2 + '), calls=' + nCalls + ' fail=' + nCallFail);\n\nreturn out.map(a => ({ json: Object.assign(a, { screening_double: 'on', _screening_kappa: summary }) }));\n"
      },
      "name": "Double Screen Kappa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -324,
        -304
      ],
      "id": "abbd501d-deb6-4ed7-81ae-7a5bef6ddf63"
    }
  ],
  "pinData": {},
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "IF Skip Screening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip Screening": {
      "main": [
        [
          {
            "node": "Pass Through Screening",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batches": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Expand Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Results": {
      "main": [
        [
          {
            "node": "Double Screen Kappa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-0000-0000-000000000013",
  "meta": {
    "instanceId": "fd21ae21426f59c89f8963a136703cbf2a049d0a9eb6f435af497a2b2c1ac5ff"
  },
  "id": "KGL9l8LCxrnYBFtW",
  "tags": []
}